
/*=========================================================
5. 헤더
=========================================================*/

header {position:fixed; top:0; left:0; z-index:5; width:100%;}
header:before {content:""; position:absolute; left:0; top:0; width:100%; height:100%; transition:all 0.5s;}
header:hover:before {background:#fff; box-shadow:0 5px 10px 0 rgba(0,0,0,0.2);}
.header {position:relative;}
.header:before {visibility:hidden; position:absolute; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.65); transition:all 0.5s; opacity:0; content:"";}
/* .header:before {visibility:hidden; position:absolute; top:0; left:0; width:100%; height:100%; background:-moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%); background:-webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); background:linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); transition:all 0.5s; opacity:0; content:""; filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 );} */
.header.on:before {visibility:visible; opacity:1;}
header:hover .header:before {visibility:hidden; opacity:0;}
.header_wrap {position:relative; height:100px; transition:all cubic-bezier(1,0,.5,1.5) 0.5s;}
header:hover .header_wrap {height:320px;}
.header_wrap:after {position:absolute; top:100px; left:0; width:100%; height:1px; background:rgba(255,255,255,0.5); transition:all 0.5s; content:"";}
header:hover .header_wrap:after {background:#dcdcdc;}
.header_wrap h1 {display:inline-block; padding:20px 0 0 10px;}
.header_wrap h1 a {display:block; position:relative; width:168px; height:60px; }
.header_wrap h1 img {position:absolute; left:0; top:0; height:60px; transition:all 0.5s;}
.header_wrap h1 .alter {opacity:0; visibility:hidden;}
header:hover .header_wrap h1 .alter {opacity:1; visibility:visible;}
.nav_wrap {position:absolute; top:20px; right:30px; padding:25px 0;}
.nav_wrap .menu {float:right;}

.group_nav {margin-left:15px; font-size:0;}
.group_nav:after {display:block; clear:both; content:"";}
.group_nav .btn {float:left; position:relative; margin:0 5px; padding:0 15px 0 25px; border:1px solid #fff; border-radius:14px; font-size:12px; line-height:26px; color:#fff; transition:all 0.5s;}
header:hover .group_nav .btn {border-color:#008398; background:#00aeba;}
.group_nav .btn:before {position:absolute; top:50%; left:12px; width:9px; height:12px; margin-top:-6px; background-image:url(../img/sprite/sprite.png); background-size:500px; background-position:-5px -458px;content:"";}
.group_nav .member {position:absolute; top:0; right:5px; font-size:14px; line-height:20px; color:#fff;}
header:hover .group_nav .member {color:#333;}
.group_nav .member strong {display:inline-block; overflow:hidden; max-width:100px; color:#00aeba; text-overflow:ellipsis; vertical-align:top; white-space:nowrap;}

.navigation a {color:#fff; transition:all 0.5s;}
.navigation a:hover {color:#00aeba !important;}
.navigation .menu_1depth {float:right; margin:0 -22px;}
.navigation .menu_1depth:after {display:block; clear:both; content:"";}
.navigation .menu_1depth > li {float:left; position:relative; margin:0 22px;}
.navigation .menu_1depth > li:after {visibility:hidden; position:absolute; top:52px; left:50%; z-index:1; width:38px; height:4px; margin-left:-19px; background:#00aeba; transition:all 0.5s; opacity:0; content:"";}
.navigation .menu_1depth > li:hover:after {visibility:visible; opacity:1;}
.navigation .menu_1depth > li > a {display:block; font-size:16px; line-height:28px;}
header:hover .navigation .menu_1depth > li > a {color:#333;}
.navigation .menu_2depth {visibility:hidden; position:absolute; top:65px; left:50%; min-width:150px; text-align:center; transform:translateX(-50%); opacity:0;}
header:hover .navigation .menu_2depth {visibility:visible; transition:all 1s; opacity:1;}
.navigation .menu_2depth li a {display:block; padding:0.5em 0; font-size:13px; line-height:2em; color:#666;}
.navigation .menu_2depth li a:hover {font-weight:700; text-decoration:underline;}

.search_keyword {position:absolute; right:0; top:47px; line-height:0;}
.search_keyword .search {width:24px; height:24px; margin:0; background-image:url(../img/sprite/sprite.png); background-size:500px; background-position:-19px -446px; text-indent:-9999px;}
header:hover .search_keyword .search {background-position-x:-48px;}
.search_keyword .search.on {background-position-x:-77px;}
header:hover .search_keyword .search.on {background-position-x:-106px;}
.search_keyword .search_box {visibility:hidden; position:absolute; right:0; top:53px; z-index:1; padding:16px; background:none; transition:all 0.5s; opacity:0; border:1px solid rgba(255,255,255,0.5);}
.search_keyword.on .search_box {background:rgba(0,0,0,0.65);}
header:hover .search_keyword .search_box {background:#eee; border-color:#eee;}
.search_keyword .search_box.on {visibility:visible; opacity:1;}
.search_keyword .search_wrap {min-width:285px;}
.search_keyword .search_wrap input[type="text"] {line-height:43px; height:43px; color:#333; padding-right:46px; transition:all 0.5s; font-size:16px;}
.search_keyword .search_wrap input[type="text"]:focus {border-color:#008398;}
.search_keyword .search_wrap button {top:10px; width:24px; height:24px; background-image:url(../img/sprite/sprite.png); background-size:500px; background-position:-135px -446px;}
.search_keyword .search_wrap button:before,.search_keyword .search_wrap button:after {display:none;}

@media (max-width:1280px) {
    .header_wrap h1 img {height:auto;}
    .header_wrap h1 a {width:126px; height:45px; margin-top:8px;}
    .group_nav {margin-left:18px;}
    .group_nav .search_keyword .search {margin-left:10px;}
    .navigation .menu_1depth > li {margin:0 10px;}
    .navigation .menu_1depth > li > a {font-size:14px;}
}
 
@media (max-width:1024px) {
    header {box-shadow:0 10px 10px -10px rgba(0,0,0,0.2);}
    .header {background:#fff;}
    .header.on:before {display:none;}
    header:hover:before {background:none;}
    .header_wrap {height:50px; text-align:center;}
    .header_wrap:after {display:none;}
    header:hover .header_wrap {height:50px;}
    .header_wrap h1 {position:relative; z-index:1; padding:0;}
    .header_wrap h1 .alter {visibility:visible; opacity:1;}
    .header_wrap h1 img {position:static; height:30px;}
    .header_wrap h1 a {width:auto; height:auto; margin-top:10px; line-height:0;}
    .header_wrap .open_menu {position:absolute; top:13px; left:0; z-index:1; width:24px; height:24px; background:#fff; text-indent:-9999px;}
    .header_wrap .open_menu span {position:absolute; right:0; width:100%; height:2px; background:#00aeba;}
    .header_wrap .open_menu span:nth-child(1) {top:0;}
    .header_wrap .open_menu span:nth-child(2) {top:50%; right:auto; left:0; margin-top:-1px;}
    .header_wrap .open_menu span:nth-child(3) {bottom:0;}
    .header_wrap .open_menu:focus span {top:50%; margin-top:-1px; transform-origin:right center; transition:all 0.2s;}
    .header_wrap .open_menu:focus span:nth-child(1) {width:14px; transform:rotate(45deg);}
    .header_wrap .open_menu:focus span:nth-child(2) {width:90%;}
    .header_wrap .open_menu:focus span:nth-child(3) {width:14px; transform:rotate(-45deg);}
    .group_nav {display:none; margin:0;}
    .group_nav .member {position:static; line-height:28px; margin-left:5px; color:#333 !important;}
    nav {visibility:hidden; position:fixed; top:0; left:0; z-index:1; width:100%; height:100%; transition:all 0.5s; opacity:0;}
    nav.on {visibility:visible; background:rgba(0,0,0,0.2); opacity:1;}
    .nav_wrap {position:static; width:50%; height:100%; padding:0; padding:15px 30px; background:#fff; text-align:left; transform:translateX(-100%); box-shadow:10px 0 10px -5px rgba(0,0,0,0.2);}
    nav.on .nav_wrap {transform:translateX(0); transition:transform 0.5s; transition-timing-function:cubic-bezier(0.95,0,0.05,1);}
    .nav_wrap button.close {visibility:hidden; position:absolute; top:0; right:-30px; width:30px; height:30px; background:#00aeba; text-indent:-9999px; opacity:0;}
    .nav_wrap button.close:before,.nav_wrap button.close:after {position:absolute; top:50%; left:50%; width:20px; height:2px; margin-top:-1px; margin-left:-10px; background:#fff; content:"";}
    .nav_wrap button.close:before {transform:rotate(-45deg);}
    .nav_wrap button.close:after {transform:rotate(45deg);}
    nav.on .nav_wrap button.close {visibility:visible; opacity:1;}
    .nav_wrap .menu {overflow-y:auto; float:none; position:absolute; top:0; left:0; width:100%; height:100%; padding:15px 30px;}
    .nav_wrap .call_num {position:absolute; left:0; bottom:0; padding:15px;}
    .nav_wrap .call_num dl {width:100%; font-size:0;}
    .nav_wrap .call_num dt,.nav_wrap .call_num dd {display:inline-block; font-family:"Nanum Square"; font-weight:700; line-height:20px; vertical-align:middle;}
    .nav_wrap .call_num dt {font-size:14px;}
    .nav_wrap .call_num dd {margin-left:10px; font-size:18px; color:#008398;}

    .group_nav {margin:0 -5px;}
    .group_nav .btn {display:inline-block; float:none; border-color:#008398; background:#00aeba;}
    .group_nav .btn.admin,.group_nav .btn.study {display:none;}

    .navigation .menu_1depth {float:none; margin:0;}
    .navigation .menu_1depth > li {float:none; margin:0;}
    .navigation .menu_1depth > li:hover:after {display:none;}
    .navigation .menu_1depth > li > a {font-family:"Nanum Square"; font-weight:700; line-height:2em; color:#333;}
    .navigation .menu_2depth {display:none; visibility:visible; position:static; width:auto; padding:5px 15px; background:#e6eff1; text-align:left; transform:none; transition:none !important; opacity:1;}
    .navigation .menu_2depth li a {padding:0.3em 0; font-size:12px; line-height:1.4em;}
    .navigation .menu_2depth li a:hover {text-decoration:none;}

    .search_keyword {top:13px; z-index:0; width:100%; text-align:right;}
    .search_keyword .search {margin:0; background-position-x:-48px !important;}
    .search_keyword .search.on {background-position-x:-106px !important;}
    .search_keyword .search_box {top:37px; right:-30px; padding:15px; background:rgba(0,0,0,0.65) !important; box-shadow:0 5px 10px 0 rgba(0,0,0,0.2);}
    .search_keyword .search_wrap input[type="text"] {height:36px; padding-right:52px; padding-left:14px; font-size:14px; line-height:36px;}
    .search_keyword .search_wrap button {top:6px; right:15px;}
}

@media (max-width:599px) {
    .search_keyword .search_box {width:calc(100% + 30px); right:-15px;}
    .search_keyword .search_wrap {width:100%; min-width:0;}
    .nav_wrap {width:290px; padding:15px;}     
    .nav_wrap .menu {padding:15px;}
}