
/*=========================================================
8. 메인 페이지 스타일
=========================================================*/

.main_content section h2 {padding:70px 0 30px; font-family:"Nanum Square"; font-size:40px; font-weight:300; line-height:1.25em; text-align:center;}
.main_content section h2 strong {font-family:inherit; font-weight:400; text-transform:uppercase;}

@media (max-width:1024px) {
    .main_content section h2 {font-size:30px; padding:30px 0;}
}

@media (max-width:599px) {

}

/* 메인 슬라이드 */
.main_visual {position:relative;}
.main_slide .slide li {visibility:hidden; position:relative; width:100%; height:100vh; min-height:640px; background-position:center; background-size:cover; transition:all 0.5s; opacity:0; pointer-events:auto;}
.main_slide .slide li.on {visibility:visible; opacity:1;}
.main_slide .slide li a {position:absolute; top:0; right:0; bottom:0; left:0;}
.main_slide .slide .txt_view {position:relative; height:100vh; min-height:640px;}
.main_slide .slide .txt_wrap {position:absolute; bottom:260px; left:0; color:#fff;}
.main_slide .slide .txt_wrap span,.main_slide .slide .txt_wrap p {animation-play-state:paused;}
.main_slide .slide li.on .txt_wrap span,.main_slide .slide li.on .txt_wrap p {animation:1s both fadeInUp;}
.main_slide .slide .txt_wrap .cate {display:inline-block; border-top:1px solid #fff; border-bottom:1px solid #fff; font-size:18px; line-height:33px;}
.main_slide .slide .txt_wrap .tit {overflow:hidden; margin-top:10px; font-family:"Nanum Square"; font-size:50px; font-weight:300; line-height:1.4em; text-overflow:ellipsis; white-space:nowrap; animation-delay:0.2s !important;}
.main_slide .slide .txt_wrap .tit strong {font-family:inherit; font-weight:400;}
.main_slide .slide .txt_wrap .sub_txt {overflow:hidden; margin-top:20px; font-family:"Nanum Square"; font-size:24px; line-height:1.5em; text-overflow:ellipsis; white-space:nowrap; animation-delay:0.4s !important;}
.main_slide .slide .txt_wrap .txt {overflow:hidden; height:3.2em; margin-top:5px; font-size:16px; line-height:1.6em; animation-delay:0.6s !important;}
.main_slide_pager {position:absolute; bottom:45px; left:0; z-index:2; width:100%;}
.main_slide_pager .pager {overflow:hidden; margin:0 -6px;}
.main_slide_pager .pager li {display:table; overflow:hidden; float:left; width:calc(25% - 12px); height:110px; margin:0 6px; border:1px solid #fff; transition:all 0.2s; table-layout:fixed; cursor:pointer;}
.main_slide_pager .pager li.on {border-color:#00aeba; background:#00aeba;}
.main_slide_pager .pager li .txt_wrap {display:table-cell; position:relative; padding:0 20px; vertical-align:middle;}
.main_slide_pager .pager li .txt_wrap:before,.main_slide_pager .pager li .txt_wrap:after {position:absolute; right:20px; bottom:20px; height:1px; background:#fff; transition:all 0.5s; content:"";}
.main_slide_pager .pager li .txt_wrap:before {width:40px;}
.main_slide_pager .pager li .txt_wrap:after {width:10px; transform:rotate(45deg); transform-origin:right center;}
.main_slide_pager .pager li:hover .txt_wrap:before,.main_slide_pager .pager li:hover .txt_wrap:after {right:15px;}
.main_slide_pager .pager li span,.main_slide_pager .pager li strong {display:block; overflow:hidden; font-family:"Nanum Square"; line-height:1.5em; color:#fff; text-overflow:ellipsis; white-space:nowrap;}
.main_slide_pager .pager li .sub_txt {font-size:18px; font-weight:300;}
.main_slide_pager .pager li strong {font-size:24px; font-weight:400;}

@media (max-width:1024px) {
    .main_slide .slide li {min-height:0;}
    .main_slide .slide .txt_view {display:table; width:100%; min-height:0; table-layout:fixed;}
    .main_slide .slide .txt_wrap {display:table-cell; position:static; text-align:center; vertical-align:middle;}
    .main_slide .slide .txt_wrap .cate {font-size:14px; line-height:2em;}
    .main_slide .slide .txt_wrap p {overflow:visible !important; text-overflow:clip !important; white-space:normal !important;}
    .main_slide .slide .txt_wrap .tit {font-size:40px; line-height:1.2em;}
    .main_slide .slide .txt_wrap .sub_txt {font-size:18px; line-height:1.4em;}
    .main_slide .slide .txt_wrap .txt {height:auto; margin-top:15px; font-size:14px;}
    .main_slide .slide .txt_wrap .txt br {display:none;}
    .main_slide_pager {bottom:30px;}
    .main_slide_pager .pager {line-height:0; text-align:center;}
    .main_slide_pager .pager li {display:inline-block; float:none; width:15px; height:15px; margin:0 5px; border-width:2px; border-radius:50%; text-indent:-9999px;}
}

@media (max-width:599px) {
    .main_slide .slide .txt_wrap .cate {font-size:12px;}
    .main_slide .slide .txt_wrap .tit {font-size:24px;}
    .main_slide .slide .txt_wrap .sub_txt {font-size:14px;}
    .main_slide .slide .txt_wrap .txt {font-size:12px;}
}

/* 이벤트 슬라이드 */
.event_cover {overflow:hidden; width:100%; margin-bottom:120px;}
.event_slide .slide li {width:480px; height:330px;}
.event_slide .slide li a {display:block; position:relative; height:100%;}
.event_slide .slide li a:after {visibility:hidden; position:absolute; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.4); transition:all 0.3s; opacity:0; content:"";}
.event_slide .slide li.swiper-slide-prev a:after,.event_slide .slide li.swiper-slide-next a:after {visibility:visible; opacity:1;}
.event_slide .ctr button {position:absolute; top:50%; z-index:1; width:60px; height:60px; margin-top:-30px; background:#fff; text-indent:-9999px; transition:all 0.5s;}
.event_slide .ctr button:hover {background:#00aeba;}
.event_slide .ctr .prev {left:0;}
.event_slide .ctr .next {right:0;}
.event_slide .ctr button:before,.event_slide .ctr button:after {position:absolute; top:50%; height:1px; background:#333; transition:all 0.5s; content:"";}
.event_slide .ctr button:before {width:30px;}
.event_slide .ctr button:after {width:10px;}
.event_slide .ctr .prev:before,.event_slide .ctr .prev:after {left:15px;}
.event_slide .ctr .prev:after {transform:rotate(-45deg); transform-origin:left center;}
.event_slide .ctr .next:before,.event_slide .ctr .next:after {right:15px;}
.event_slide .ctr .next:after {transform:rotate(45deg); transform-origin:right center;}
.event_slide .ctr button:hover:before,.event_slide .ctr button:hover:after {background:#fff;}
.event_cover .pager {position:absolute; bottom:-50px; left:50%; z-index:1; width:auto; margin:0 -5px; line-height:0; transform:translateX(-50%);}
.event_cover .pager .bullet {display:inline-block; width:10px; height:10px; margin:0 5px; border:2px solid #999; border-radius:50%; background:#fff; text-indent:-9999px; transition:all 0.3s; cursor:pointer;}
.event_cover .pager .bullet.on {border-color:#00aeba; background:#00aeba;}

@media (max-width:1024px) {
    .event_cover {position:relative; width:calc(100% + 60px); left:-30px; margin-bottom:30px;}
    .event_cover .pager {bottom:30px;}
    .event_cover .pager .bullet {width:15px; height:15px;}
    .event_slide .ctr button {border:1px solid #ddd; width:45px; height:45px; margin-top:-15px;}
    .event_slide .ctr button:hover {border-color:#00aeba;}
    .event_slide .ctr button:before {width:25px;}
    .event_slide .ctr .prev:before, .event_slide .ctr .prev:after {left:10px;}
    .event_slide .ctr .next:before, .event_slide .ctr .next:after {right:10px;}
}

/* 하베르만 소개 */
.hbm_info .info_box {margin-bottom:65px; padding-top:65px; background:#ccc;}
.hbm_info .txt_wrap {width:500px; height:410px; padding:50px 45px; background:rgba(255,255,255,0.8);}
.hbm_info .txt_wrap img {margin-bottom:45px;}
.hbm_info .txt_wrap p {margin-bottom:1.6em; font-size:15px; line-height:1.6em;}
.hbm_info .txt_wrap p:last-child {margin:0;}
.hbm_grade {background:red;}
.hbm_grade ul {overflow:hidden;}
.hbm_grade ul li {float:left; position:relative; width:20%; height:570px; padding:35px 30px; color:#fff;}
.hbm_grade ul li:after {position:absolute; top:0; right:-1px; width:1px; height:100%; background:#fff; content:"";}
.hbm_grade ul li strong {display:block; padding-bottom:20px; font-family:"Nanum Square"; font-size:30px; font-weight:400; line-height:1.35em;}
.hbm_grade ul li .sub_txt {padding-top:20px; border-top:1px solid rgba(255,255,255,0.5); font-size:18px; line-height:1.5em;}
.hbm_grade ul li a {position:absolute; bottom:0; left:0; width:100%; padding:0 30px; background:rgba(0,0,0,0.2); line-height:80px; color:inherit; transition:all 0.5s;}
.hbm_grade ul li a:hover {background:#0eaab6; color:#fff;}
.hbm_grade ul li a:before,.hbm_grade ul li a:after {position:absolute; top:50%; right:30px; height:1px; background:#fff; -webkit-transition:all 0.5s; transition:all 0.5s; content:"";}
.hbm_grade ul li a:before {width:40px;}
.hbm_grade ul li a:after {width:10px; transform:rotate(45deg); transform-origin:right center;}
.hbm_grade ul li a:hover:before,.hbm_grade ul li a:hover:after {right:25px; background:#fff;}

/* 우리는 하베르만 */
.hbm_story {padding-bottom:80px; background:#eee;}
.hbm_story .story_wrap ul {overflow:hidden; margin:0 -15px;}
.hbm_story .story_wrap ul li {float:left; position:relative; width:calc(33.33% - 30px); height:390px; margin:0 15px; padding:20px; padding-bottom:0; background:#fff;}
.hbm_story .story_wrap .img_wrap {height:220px; background-position:center; background-size:cover;}
.hbm_story .story_wrap .txt_wrap {margin-top:20px;}
.hbm_story .story_wrap .txt_wrap .tit {overflow:hidden; max-height:3em; font-family:"Nanum Square"; font-size:24px; line-height:1.5em; color:#333;}
.hbm_story .story_wrap .txt_wrap .date {display:block; margin-top:5px; font-size:16px; line-height:1.5em; color:#999;}
.hbm_story .story_wrap .link {position:absolute; right:0; bottom:0; width:40px; height:40px; background:#999; text-indent:-9999px; transition:all 0.5s;}
.hbm_story .story_wrap .link:hover {background:#00aeba;}
.hbm_story .story_wrap .link:before,.hbm_story .story_wrap .link:after {position:absolute; top:50%; left:50%; width:20px; height:1px; margin-left:-10px; background:#fff; content:"";}
.hbm_story .story_wrap .link:after {transform:rotate(90deg);}

/* 공지사항 & 센터소식 */
.hbm_news .cont_wrap {overflow:hidden;}
.hbm_news .cont {float:left; position:relative; width:calc(50% - 30px);}
.hbm_news .cont .more {position:absolute; top:75px; right:0; width:38px; height:38px; border:1px solid #cdcdcd; background:#fff; text-indent:-9999px; transition:all 0.5s;}
.hbm_news .cont .more:hover {border-color:#00aeba; background:#00aeba;}
.hbm_news .cont .more:before,.hbm_news .cont .more:after {position:absolute; top:50%; left:50%; width:20px; height:1px; margin-left:-10px; background:#999; transition:all 0.5s; content:"";}
.hbm_news .cont .more:hover:before,.hbm_news .cont .more:hover:after {background:#fff;}
.hbm_news .cont .more:after {transform:rotate(90deg);}
.hbm_news h2 {text-align:left !important;}
.hbm_news .notice {margin-right:30px;}
.hbm_news .notice .notice_list {border-top:1px solid #cdcdcd;}
.hbm_news .notice .notice_list li {border-bottom:1px solid #cdcdcd;}
.hbm_news .notice .notice_list li a {display:block; overflow:hidden;}
.hbm_news .notice .notice_list li p {overflow:hidden; float:left; width:calc(100% - 100px); font-family:"Nanum Square"; font-size:18px; line-height:70px; text-overflow:ellipsis; white-space:nowrap; transition:all 0.5s;}
.hbm_news .notice .notice_list li a:hover p {color:#00aeba;}
.hbm_news .notice .notice_list li p strong {font-family:inherit; font-weight:400; color:#00aeba;}
.hbm_news .notice .notice_list li .date {float:right; width:90px; margin-left:10px; font-size:15px; line-height:70px; color:#999; text-align:right;}

.hbm_news .news {margin-left:30px;}
.hbm_news .news .news_view .tit {overflow:hidden; margin-top:-6px; margin-bottom:20px; padding-bottom:20px; border-bottom:1px solid #cdcdcd; font-family:"Nanum Square"; font-size:28px; line-height:40px; text-overflow:ellipsis; white-space:nowrap; transition:all 0.5s;}
.hbm_news .news .news_view .tit strong {font-family:inherit; font-weight:400; color:#00aeba;}
.hbm_news .news .news_view .txt {overflow:hidden; max-height:6.6em; font-size:15px; line-height:1.65em; color:#666; transition:all 0.5s;}
.hbm_news .news .news_view a:hover .tit,.hbm_news .news .news_view a:hover .txt {color:#00aeba;}
.hbm_news .news .news_view .date {display:inline-block; margin-top:25px; padding:0 12px; border:1px solid #ccc; border-radius:13px; font-size:14px; line-height:1.75em; color:#999;}

.hbm_news .bottom_menu {margin-top:65px;}
.hbm_news .bottom_menu ul {overflow:hidden;}
.hbm_news .bottom_menu ul li {float:left; width:50%; height:220px; background:red;}
.hbm_news .bottom_menu ul li a {display:block; position:relative; height:100%;}
.hbm_news .bottom_menu .txt_wrap {position:absolute; bottom:0; left:0; width:100%; padding-left:20px; background:rgba(0,0,0,0.4); color:#fff; transition:all 0.5s;}
.hbm_news .bottom_menu ul li a:hover .txt_wrap {color:#00aeba;}
.hbm_news .bottom_menu .txt_wrap strong {display:inline-block; margin-right:25px; font-family:"Nanum Square"; font-size:24px; line-height:55px;}
.hbm_news .bottom_menu .txt_wrap p {display:inline-block; font-size:16px; line-height:55px;}

/* 학원 운영시간 및 상담안내 */
.counsel_info {height:270px; margin-top:70px; padding-top:70px; background:red;}
.counsel_info .info_wrap {position:relative;}
.counsel_info .info_wrap h2 {position:absolute; top:-5px; left:0; padding:0; color:#fff; text-align:left;}
.counsel_info .info_wrap dl {overflow:hidden; height:125px; margin-left:320px; padding-left:75px; border-left:1px solid #fff; color:#fff;}
.counsel_info .info_wrap dl > div {float:left; position:relative; margin-top:-5px; margin-right:85px; padding-left:75px;}
.counsel_info .info_wrap dl > div:last-child {margin:0;}
.counsel_info .info_wrap dl > div:before {position:absolute; top:0; left:0; width:50px; height:50px; background:green; content:"";}
.counsel_info .info_wrap dl dd {line-height:40px;}
.counsel_info .info_wrap dl .time dd {font-size:28px;}
.counsel_info .info_wrap dl .time dd span {display:inline-block; width:90px;}
.counsel_info .info_wrap dl .info dd {font-size:36px;}
.counsel_info .info_wrap dl .info dd a {color:#fff;}
