
/*=========================================================
9. 서브 페이지별 스타일
=========================================================*/

/*************** 공통 요소 ***************/

/* 서브 페이지 타이틀 */
.sub_header {position:relative; z-index:0; background-color:#ccc; background-position:center; background-size:cover; color:#fff; text-align:center;}
/* .sub_header:after {position:absolute; top:0; right:0; bottom:0; left:0; background:#000; transform:scaleY(1); transform-origin:top; transition:all .5s; transition-delay:.5s; opacity:1; content:"";}
.sub_header.animated:after {transform:scaleY(0); opacity:0;} */
.upper_banner_on .sub_header {margin-top:10.9375%;}
.sub_header .sub_header_wrap {height:480px;}
.sub_header .tit_wrap {padding-top:200px; }
.sub_header .sub_txt {font-family:"Nanum Square"; font-size:24px; font-weight:300; line-height:1.45em;}
.sub_header .sub_txt strong {display:inline-block; border-top:1px solid #fff; border-bottom:1px solid #fff; font-family:inherit; font-weight:inherit;;}
.sub_header h2 {font-family:"Nanum Square"; font-size:50px; font-weight:400; line-height:1.4em;}

@media (min-width:1921px) {
    .upper_banner_on .sub_header {margin-top:315px;}
}

@media (max-width:1024px) {
    .upper_banner_on .sub_header {margin-top:calc(50px + 10.9375%);}
    .sub_header .sub_header_wrap {margin-top:50px; height:240px;}
    .sub_header .tit_wrap {padding-top:70px;}
    .sub_header .sub_txt {font-size:20px;}
    .sub_header h2 {font-size:36px;}
}

@media (max-width:599px) {
    .sub_header .sub_header_wrap {margin-top:50px; height:200px;}
    .sub_header .tit_wrap {padding-top:50px;}
    .sub_header .sub_txt {font-size:16px;}
    .sub_header h2 {font-size:24px;}
}

/* 서브 페이지 상단 탭메뉴 */
.sub_wrap .tab_menu {display:table; position:absolute; bottom:0; left:0; z-index:1; width:100%; padding:0 100px; table-layout:fixed;}
.sub_wrap .tab_menu ul {display:table-row; background:rgba(51,51,51,0.7);}
.sub_wrap .tab_menu ul li {display:table-cell; border-right:1px solid rgba(255,255,255,0.5);}
.sub_wrap .tab_menu ul li:last-child {border:0;}
.sub_wrap .tab_menu ul li a {display:block; position:relative; font-family:"Nanum Square"; font-size:17px; line-height:55px; color:inherit; text-align:center; transition:all 0.5s;}
.sub_wrap .tab_menu ul li.on,.sub_wrap .tab_menu ul li a:hover {background:#fff; font-size:16px; font-weight:700; color:#333;}

@media (max-width:1024px) {
    .sub_wrap .tab_menu {display:block; padding:0; background:none;}
    .sub_wrap .tab_menu ul {display:block; overflow:hidden;}
    .sub_wrap .tab_menu ul li {float:left;}
    .sub_wrap .tab_menu ul.type2 li {width:50%;}
    .sub_wrap .tab_menu ul.type3 li {width:33.33%;}
    .sub_wrap .tab_menu ul.type4 li {width:25%;}
    .sub_wrap .tab_menu ul li a {font-size:16px; line-height:2.5em;}
}

@media (max-width:599px) {
    .sub_wrap .tab_menu {bottom:-1px;}
    .sub_wrap .tab_menu ul li {width:50% !important; border-bottom:1px solid rgba(255,255,255,0.5);}
    .sub_wrap .tab_menu ul li:last-child {border-right:1px solid rgba(255,255,255,0.5);}
    .sub_wrap .tab_menu ul li:nth-child(even) {border-right:0;}
    .sub_wrap .tab_menu ul li a {font-size:12px;}
    .sub_wrap .tab_menu ul li.on,.sub_wrap .tab_menu ul li a:hover {font-size:12px;}
}

/* 컨텐츠 공통 영역 */
.sub_content .content {padding:60px 0; background-position:center; background-size:cover;}
.sub_content .content.white {color:#fff;}
.sub_content .content + .content:not(.hasbg) {margin-top:-60px;}
.sub_content .content.hasbg + .content:not(.hasbg) {margin-top:0;}
.sub_content .content:last-child {margin-bottom:50px;}
.sub_content .content:last-child.hasbg {margin-bottom:0;}
.sub_content .sub_tit {display:block; font-size:24px; font-family:"Nanum Square"; line-height:1.5em; text-align:center;}
.sub_content .sub_tit_wrap {margin-top:-8px;}
.sub_content .subpage_tit {font-family:"Nanum Square"; font-size:40px; font-weight:700; line-height:1.4em; text-align:center;}
.sub_content small + .subpage_tit {margin:0;}
.sub_content .subpage_tit span,.sub_content .subpage_tit strong {font-family:inherit;}
.sub_content .subpage_tit.small {font-size:30px; line-height:1.5em;}
.sub_content .subpage_tit.small .line {display:inline-block; border-bottom:1px solid #333;}
.sub_content .subpage_tit .underline {display:inline-block; position:relative;}
.sub_content .subpage_tit .underline:before {position:absolute; bottom:0.2em; left:0; z-index:-1; width:100%; height:0.7em; background:#00aeba; opacity:0.4; content:"";}
.sub_content .subpage_tit .emphasis,.sub_content .subpage_tit .emphasis span {display:inline-block; font-family:inherit;}
.sub_content .subpage_tit .emphasis {font-size:0;}
.sub_content .subpage_tit .emphasis span {position:relative; font-size:50px;}
.sub_content .subpage_tit .emphasis span:before {position:absolute; top:-20px; left:50%; width:8px; height:8px; border-radius:50%; background:#333; transform:translateX(-50%); content:"";}
.sub_content .white .subpage_tit .emphasis span:before {background:#fff;}
.sub_content .subpage_txt {margin-top:20px; font-family:"Nanum Sqaure"; font-size:18px; line-height:1.6em; text-align:center;}

@media (max-width:1024px) {
    .sub_content .content {padding:30px 0;}
    .sub_content .content + .content:not(.hasbg) {margin-top:-30px;}
    .sub_content .content:last-child {margin-bottom:0;}
    .sub_content small {font-size:16px;}
    .sub_content .sub_tit_wrap {margin:0;}
    .sub_content .subpage_tit,.sub_content .subpage_tit .emphasis span  {margin:0; font-size:30px;}
    .sub_content .subpage_tit .emphasis span:before {top:-5px; width:4px; height:4px;}
    .sub_content .subpage_tit.small {font-size:24px;}
    .sub_content .subpage_txt {margin-top:15px; font-size:16px; line-height:1.6em;}
}

@media (max-width:599px) {
    .sub_content small {font-size:14px;}
    .sub_content .subpage_tit,.sub_content .subpage_tit .emphasis span {font-size:20px;}
    .sub_content .subpage_tit.small {font-size:18px;}
    .sub_content .subpage_txt {font-size:14px;}
}

/* 컨텐츠 탭 */
.sub_content .subtab_menu {display:table; width:500px; margin:30px auto 0; table-layout:fixed;}
.sub_content .subtab_menu ul {display:table-row;}
.sub_content .subtab_menu ul li {display:table-cell; vertical-align:middle;}
.sub_content .subtab_menu ul li a {display:block; border:1px solid #ddd; border-right:0; background:#f8f8f8; font-family:"Nanum Square"; font-size:17px; line-height:50px; text-align:center; transition:all 0.5s;}
.sub_content .subtab_menu ul li:last-child a {border-right:1px solid #ddd;}
.sub_content .subtab_menu ul li a:hover,.sub_content .subtab_menu ul li.on a {border-color:#00aeba; background:#00aeba; color:#fff;}

@media (max-width:1024px) {
    .sub_content .subtab_menu {width:300px;}
    .sub_content .subtab_menu ul li a {font-size:16px; line-height:40px;}
}

@media (max-width:599px) {
    .sub_content .subtab_menu {width:250px;}
    .sub_content .subtab_menu ul li a {font-size:14px; line-height:30px;}
}

/*************** 개별 페이지 ***************/

/* 하베르만은? */




/* 입학안내 - 입학절차 */
.admission_guide .bg_img {background-image:url(../img/bg/bg_admission_guide_01.png); background-position:bottom right; background-size:contain; background-repeat:no-repeat;}
.admission_guide .admission_procedure {padding-top:70px;}
.admission_guide .admission_procedure .procedure_list {overflow:hidden;}
.admission_guide .admission_procedure .procedure_list > li {float:left; width:25%; min-height:360px; border-bottom:3px solid #333;}
.admission_guide .admission_procedure .procedure_list > li:nth-child(1) {border-color:#ee5965;}
.admission_guide .admission_procedure .procedure_list > li:nth-child(2) {border-color:#f3b754;}
.admission_guide .admission_procedure .procedure_list > li:nth-child(3) {border-color:#abd470;}
.admission_guide .admission_procedure .procedure_list > li:nth-child(4) {border-color:#58c1f0;}
.admission_guide .admission_procedure .procedure .tit {margin-bottom:15px; margin-left:-25px; font-family:"Nanum Square"; font-size:24px; font-weight:700; line-height:1.5em;}
.admission_guide .admission_procedure .procedure_list > li:nth-child(1) .procedure .tit {margin-left:0; color:#e60013;}
.admission_guide .admission_procedure .procedure_list > li:nth-child(2) .procedure .tit {color:#f39800;}
.admission_guide .admission_procedure .procedure_list > li:nth-child(3) .procedure .tit {color:#7fbe25;}
.admission_guide .admission_procedure .procedure_list > li:nth-child(4) .procedure .tit {color:#00a1e9;}
.admission_guide .admission_procedure .procedure .num {display:block; position:relative; z-index:1; width:calc(100% + 1px); height:90px; margin-left:-15px; padding:25px 30px; font-family:"Nanum Square"; font-size:30px; font-weight:700; line-height:40px; color:#fff;}
.admission_guide .admission_procedure .procedure .num:before,.admission_guide .admission_procedure .procedure .num:after {position:absolute; left:0; z-index:-1; width:100%; height:45px; content:"";}
.admission_guide .admission_procedure .procedure .num:before {top:0; transform:skewX(30deg);}
.admission_guide .admission_procedure .procedure .num:after {bottom:0; transform:skewX(-30deg);}
.admission_guide .admission_procedure .procedure_list > li:nth-child(1) .procedure .num:before,.admission_guide .admission_procedure .procedure_list > li:nth-child(1) .procedure .num:after {background-color:#ee5965;}
.admission_guide .admission_procedure .procedure_list > li:nth-child(2) .procedure .num:before,.admission_guide .admission_procedure .procedure_list > li:nth-child(2) .procedure .num:after {background-color:#f3b754;}
.admission_guide .admission_procedure .procedure_list > li:nth-child(3) .procedure .num:before,.admission_guide .admission_procedure .procedure_list > li:nth-child(3) .procedure .num:after {background-color:#abd470;}
.admission_guide .admission_procedure .procedure_list > li:nth-child(4) .procedure .num:before,.admission_guide .admission_procedure .procedure_list > li:nth-child(4) .procedure .num:after {background-color:#58c1f0;}
.admission_guide .admission_procedure .procedure .text_list {margin-top:25px; padding:0 40px 0 10px;}
.admission_guide .admission_procedure .procedure .text_list ul li {position:relative; margin-bottom:10px; padding-left:15px; font-size:16px; line-height:24px; color:#333;}
.admission_guide .admission_procedure .procedure .text_list li:last-child {margin-bottom:0;}
.admission_guide .admission_procedure .procedure .text_list li:before {position:absolute; top:10px; left:0; width:4px; height:4px; background-color:#333; content:"";}
.admission_guide .btn_wrap {margin-top:50px;}
.admission_guide .btn_wrap a {display:inline-block; position:relative; width:340px; padding:0 35px; background:#00aeba; font-size:18px; line-height:70px; color:#fff; text-align:left;}
.admission_guide .btn_wrap a:before,.admission_guide .btn_wrap a:after {position:absolute; top:50%; right:35px; height:1px; margin-top:-1px; background:#fff; content:""; transition:all 0.5s;}
.admission_guide .btn_wrap a:before {width:40px;}
.admission_guide .btn_wrap a:after {width:10px; transform:rotate(45deg); transform-origin:right center;}
.admission_guide .btn_wrap a:hover:before,.admission_guide .btn_wrap a:hover:after {right:30px;}

@media (max-width:1280px) { 
    .admission_guide .admission_procedure .procedure .tit {font-size:20px;}
    .admission_guide .admission_procedure .procedure .num {font-size:26px;}
    .admission_guide .admission_procedure .procedure .text_list {padding:0 15px 0 10px;}
    .admission_guide .admission_procedure .procedure .text_list ul li {font-size:14px;}
    .admission_guide .admission_procedure .procedure .text_list ul li br {display:none;}
}

@media (max-width:1024px) { 
    .admission_guide .admission_procedure {padding-top:50px;}
    .admission_guide .admission_procedure .procedure_list > li {width:50%; min-height:265px; margin-bottom:20px;}
    .admission_guide .admission_procedure .procedure .num {margin-left:0;}
    .admission_guide .admission_procedure .procedure .num:before,
    .admission_guide .admission_procedure .procedure .num:after {transform:none;}
    .admission_guide .admission_procedure .procedure .text_list {margin:15px 0; padding:0 15px;}
    .admission_guide .admission_procedure .procedure .tit {margin-left:0; font-size:18px;}
    .admission_guide .admission_procedure .procedure .num {height:60px; padding:10px 30px; font-size:24px;}
    .admission_guide .admission_procedure .procedure .num:before,.admission_guide .admission_procedure .procedure .num:after {height:30px;}
    .admission_guide .btn_wrap {margin-top:30px;}
    .admission_guide .btn_wrap a {font-size:16px; line-height:40px; font-family:"Nanum Square"; font-weight:700; width:180px; padding:0 15px; text-align:center;}
    .admission_guide .btn_wrap a:before,.admission_guide .btn_wrap a:after {display:none;}
}

@media (max-width:599px) {
    .admission_guide .admission_procedure {padding-top:30px;}
    .admission_guide .admission_procedure .procedure_list > li:last-child {margin-bottom:0;}
    .admission_guide .admission_procedure .procedure .tit {margin-bottom:10px;}
    .admission_guide .admission_procedure .procedure .tit {font-size:16px;}
    .admission_guide .admission_procedure .procedure .num {padding:0 15px; height:auto; font-size:18px;}
    .admission_guide .admission_procedure .procedure .text_list ul li {margin:0; line-height:1.5em;}
    .admission_guide .admission_procedure .procedure_list > li {float:none; width:100%; min-height:auto; margin-bottom:15px;}
    .admission_guide .admission_procedure .procedure .text_list li:before {top:7px;}
    .admission_guide .btn_wrap a {font-size:14px; width:100%;}
} 

/* 예약&상담 리스트 공통 */
.exam_list .list_search {margin-top:55px; margin-bottom:-50px; padding:10px 20px; background:#d1dfe2;}
.exam_list .list_search:after {display:block; clear:both; content:"";}
.exam_list .list_search table {border:0; background:none;}
.exam_list .list_search table th,.exam_list .list_search table td {padding:0; border:0; text-align:left;}
.exam_list .list_search table th {padding:0;}
.exam_list .list_search table th label {font-family:"Nanum Square"; font-size:16px; font-weight:700;}
.exam_list .list_search .select_form {width:calc(100% - 15px);}
.exam_list .list_search .search_box {font-size:0;}
.exam_list .list_search .search_box input[type="text"] {width:calc(100% - 110px); vertical-align:top; vertical-align:top;}
.exam_list .list_search .search_box button {width:50px; margin-left:5px; background:#aaa; font-family:"Nanum Square"; font-size:14px; font-weight:700; line-height:40px; color:#fff; vertical-align:top; transition:all 0.5s;}
.exam_list .list_search .search_box button:hover {background:#00aeba;}
.exam_list .btn_wrap {margin-top:50px; font-size:0; text-align:center;}
.exam_list .btn_wrap a {min-width:180px; margin:0 2px; padding:0 15px; background:#00aeba; font-family:"Nanum Square"; font-size:18px; font-weight:700; line-height:50px; color:#fff; vertical-align:top; -webkit-transition:all 0.5s; transition:all 0.5s;}

@media (max-width:1024px) {
    .exam_list .list_search {margin-top:30px; margin-bottom:0; padding:15px 30px;}
    .exam_list .list_search table,
	.exam_list .list_search table thead,
	.exam_list .list_search table tbody,
	.exam_list .list_search table tr,
	.exam_list .list_search table th,
    .exam_list .list_search table td {display:block; float:left; clear:both; width:100%; border:none; text-align:left;}
    .exam_list .list_search table th label {line-height:2em;}
    .exam_list .list_search table td {margin-bottom:15px;}
    .exam_list .list_search .select_form {width:100%;}
    .exam_list .board_list table td.tit {padding-top:15px;}
    .exam_list .board_list table td.tit a {font-size:16px; font-family:"Nanum Square";}
    .exam_list .btn_wrap {margin-top:30px;}
    .exam_list .btn_wrap a {font-size:16px; line-height:40px;}
}

@media (max-width:599px) {
    .exam_list .list_search {padding:15px;}
    .exam_list .list_search table th label {font-size:14px;}
    .exam_list .btn_wrap a {width:100%; margin:0; font-size:14px;}
}

/* 예약&상담 입력폼 공통 */
.exam_form .exam_info {padding:20px; border-top:3px solid #333; border-bottom:1px solid #333; background:#f5f5f5;}
.exam_form .exam_info .sub_txt {font-size:16px; line-height:1.8em;}
.exam_form .exam_info .tit {font-family:"Nanum Square"; font-size:24px; font-weight:700; line-height:1.5em;}
.exam_form .exam_info .misc {overflow:hidden; margin-top:10px; margin-left:-20px; font-size:14px; color:#666;}
.exam_form .exam_info .misc div {float:left; position:relative; padding:0 20px; font-size:14px; line-height:20px; color:#666;}
.exam_form .exam_info .misc div:after {position:absolute; top:0; right:0; width:1px; height:20px; background:#ccc; content:"";}
.exam_form .exam_info .misc div:last-child:after {display:none;}
.exam_form .exam_info .misc dt,.exam_form .exam_info .misc dd {float:left;}
.exam_form .exam_info .misc dt:after {content:":"; padding:0 0.2em;}
.exam_form .form_list {clear:both; padding:20px; border-bottom:1px solid #ddd;}
.exam_form .form_list:first-child {border-top:1px solid #ddd;}
.exam_form .form_list .form_tit {position:relative; margin-bottom:20px; padding-left:15px; font-family:"Nanum Square"; font-size:20px; font-weight:700; line-height:1.5em;}
.exam_form .form_list .form_tit:before {position:absolute; top:50%; left:0; width:8px; height:8px; margin-top:-4px; background:#333; content:"";}
.exam_form .form_list .form_tit.small {margin-bottom:5px; padding:0;}
.exam_form .form_list .form_tit.small:before {display:none;}
.exam_form .form_list .form_tit.small label {font-size:16px; font-family:"Nanum Square";}
.exam_form .form_list .form_tit.small label small {font-size:12px; font-weight:400; color:#00aeba;}
.exam_form .form_list .txt {display:block; font-size:16px; line-height:26px;}
.exam_form .form_list .txt button {display:inline-block; position:relative; margin-left:28px; padding-right:15px; font-family:"Nanum Square"; font-size:14px; line-height:26px; color:#aaa; transition:all 0.5s;}
.exam_form .form_list .txt button:hover {color:#00aeba;}
.exam_form .form_list .txt button:after {position:absolute; top:9px; right:2px; width:8px; height:8px; border:1px solid #aaa; border-bottom:0; border-left:0; transform:rotate(45deg); content:""; transition:all 0.5s;}
.exam_form .form_list .txt button:hover:after {border-color:#00aeba;}
.exam_form .form_list .input_list {clear:both; margin-top:5px; padding:10px 0;}
.exam_form .form_list.select .radio_form .list {padding:0;}
.exam_form .form_list.select .radio_form .list > li {float:none;}
.exam_form .form_list.select .radio_form .list > li > label {margin-right:30px;}
.exam_form .form_list.select .date {display:inline-block; position:relative; padding:0 25px; font-family:"Lato"; font-size:12px; line-height:26px; color:rgba(100,111,114,0.6);}
.exam_form .form_list.select .date:before {position:absolute; top:50%; width:1px; height:20px; margin-top:-10px; background:#ddd; content:"";}
.exam_form .form_list.select .date:before {left:0;}
.exam_form .form_list.select .campus_info {display:none;}
.exam_form .form_list.select .campus_info.on {display:block;}
.exam_form .form_list.select .campus_list {overflow:hidden; margin:0 -4px;}
.exam_form .form_list.select .campus_list li {float:left !important; margin:4px; border-radius:16px; background:#ddd; font-size:14px; line-height:32px; padding:0 20px;}
.exam_form .form_list.select .campus_link {overflow:hidden; padding:13px 20px; background:#f5f5f5;}
.exam_form .form_list.select .campus_link li {float:left !important; width:50%; padding:7px 0;}
.exam_form .form_list.select .campus_link li input[type="radio"] + label {margin-right:15px; font-size:14px; font-weight:700; color:#666;}
.exam_form .form_list.select .campus_link li button {position:relative; padding-right:15px; font-size:12px; line-height:26px; color:#aaa; vertical-align:top; transition:all 0.5s;}
.exam_form .form_list.select .campus_link li button:after {position:absolute; top:9px; right:0; width:8px; height:8px; border:1px solid #aaa; border-bottom:0; border-left:0; transform:rotate(45deg); content:""; transition:all 0.5s;}
.exam_form .form_list.select .campus_link li button:hover {color:#00aeba;}
.exam_form .form_list.select .campus_link li button:hover:after {border-color:#00aeba;}
.exam_form .form_list.root .radio_form input[type='text'] {display:none; position:relative; top:-7px; margin-left:10px;}
.exam_form .warning {margin-top:30px; font-size:14px; line-height:1.6em; color:#00aeba;}
.exam_form .warning:before {content:"*";}
.exam_form .term_viewer {margin-top:50px;}
.exam_form .term_agree .check_form ul > li {float:right;}
.exam_form .term_agree .check_form input[type='checkbox'] + label {font-size:14px;}
.exam_form .btn_wrap {margin-top:50px; font-size:0; text-align:center;}
.exam_form .btn_wrap a,.exam_form .btn_wrap button {min-width:180px; margin:0 2px; padding:0 15px;  font-family:"Nanum Square"; font-size:18px; font-weight:700; line-height:50px; color:#fff; vertical-align:top; -webkit-transition:all 0.5s; transition:all 0.5s;}
.exam_form .btn_wrap .cancel {background:#555;}
.exam_form .btn_wrap .submit {background:#00aeba;}

@media (max-width:1024px) {
    .exam_form .exam_info {padding:15px; text-align:center;}
    .exam_form .exam_info .misc div {float:none;}
    .exam_form .exam_info .misc div:after {display:none;}
    .exam_form .exam_info .misc dt, .exam_form .exam_info .misc dd {display:inline-block; float:none;}
    .exam_form .form_list {padding:15px 0;}
    .exam_form .form_list:after {display:block; clear:both; content:"";}
    .exam_form .form_list .form_tit {margin-bottom:15px; font-size:18px;}
    .exam_form .form_list .txt {font-size:14px; line-height:20px;}
    .exam_form .form_list .txt button {font-size:12px; line-height:20px; margin-left:15px;}
    .exam_form .form_list .txt button:after {top:5px;}
    .exam_form .form_list .form_tit.small label {font-size:14px;}
    .exam_form .form_list.select .date {padding:0 10px;}
    .exam_form .form_list.select .date:before {display:none;}
    .exam_form .form_list.select .radio_form .list > li > label {margin-right:10px;}
    .exam_form .form_list.select .campus_link {padding:10px 15px;}
    .exam_form .form_list.select .campus_list li {padding:0 8px; font-size:12px; line-height:2em;}
    .exam_form .form_list.select .campus_link li {float:none !important; width:100%; padding:0;}
    .exam_form .warning {font-size:12px;}
    .exam_form .term_viewer {margin-top:30px;}
    .exam_form .btn_wrap {margin-top:30px;}
    .exam_form .btn_wrap a,.exam_form .btn_wrap button {font-size:16px; line-height:40px;}
}

@media (max-width:599px) {
    .exam_form .exam_info .sub_txt {font-size:14px;}
    .exam_form .exam_info .tit {font-size:18px;}
    .exam_form .exam_info .misc{margin-left:-5px;}
    .exam_form .exam_info .misc div {padding:0 5px; font-size:12px;}
    .exam_form .form_list .form_tit {font-size:16px;}
    .exam_form .form_list .txt {font-size:12px; line-height:1.5em;}
    .exam_form .form_list.select .date {display:block; padding:0; padding-left:23px;}
    .exam_form .form_list.select .radio_form .list > li > label {display:block; float:none; margin:0;}
    .exam_form .form_list.select .campus_link li {margin-bottom:5px;}
    .exam_form .form_list.select .campus_link li input[type="radio"] + label {display:block; float:none; font-size:12px;}
    .exam_form .form_list.select .campus_link li button {margin-left:23px;}
    .exam_form .term_agree .check_form input[type='checkbox'] + label {font-size:12px;}
    .exam_form .btn_wrap a,.exam_form .btn_wrap button {width:100%; margin:5px 0; font-size:14px;}
}

@media (max-width:320px) {
    .exam_form .term_agree .check_form input[type='checkbox'] + label {font-size:10px;}
}

/* 완료 페이지 공통 */
/* .confirm_page .sub_lower_wrap {min-height:740px; margin-bottom:-100px;} */
.confirm_page .result {margin-top:60px; text-align:left;}
.confirm_page .result .result_tit {padding:0 30px; background:#666; font-size:16px; font-weight:700; line-height:40px; color:#fff;}
.confirm_page .result .exam_tit {padding:25px 30px; background:#f5f5f5; font-family:"Nanum Square"; font-size:24px; line-height:1.5em;}
.confirm_page .result .table_wrap {padding:30px 0; background:#fff;}
.confirm_page .result .table_wrap .data_table:before {display:none;}
.confirm_page .result .table_wrap .data_table .head {width:100px;}
.confirm_page .btn_wrap {margin-top:100px;}
.confirm_page .btn_wrap a,.confirm_page .btn_wrap button {min-width:180px; margin:0 2px; padding:0 15px; background:#00aeba; font-family:"Nanum Square"; font-size:18px; font-weight:700; line-height:50px; color:#fff; vertical-align:top; transition:all 0.5s;}
.confirm_page .btn_wrap a.grey,.confirm_page .btn_wrap button.grey {background:#555;}

@media (max-width:1024px) {
    .confirm_page .result {margin-top:30px;}
    .confirm_page .result .result_tit {font-size:14px; line-height:30px;}
    .confirm_page .result .exam_tit {font-size:18px; padding:15px 30px;}
    .confirm_page .sub_upper_wrap {margin-bottom:-50px;}
    .confirm_page .btn_wrap {margin-top:50px;}
    .confirm_page .btn_wrap a,.confirm_page .btn_wrap button {font-size:16px; line-height:40px;}
    .confirm_page .result .table_wrap .data_table .head {width:65px;}
}

@media (max-width:599px) {
    .confirm_page .result .result_tit {padding:0 15px; text-align:center;}
    .confirm_page .result .exam_tit {font-size:16px; padding:15px; text-align:center;}
    .confirm_page .sub_upper_wrap {min-height:0; margin-bottom:-30px;}
    .confirm_page .btn_wrap {margin-top:30px;}
    .confirm_page .btn_wrap a,.confirm_page .btn_wrap button {margin:5px 0; width:100%; font-size:14px;}
    .confirm_page .result .table_wrap {overflow:hidden; padding:15px;}
    .confirm_page .result .table_wrap .data_table table {width:200%; border:0;}
    .confirm_page .result .table_wrap .data_table table,
	.confirm_page .result .table_wrap .data_table thead,
	.confirm_page .result .table_wrap .data_table tbody,
	.confirm_page .result .table_wrap .data_table tr,
	.confirm_page .result .table_wrap .data_table th,
    .confirm_page .result .table_wrap .data_table td {display:block; float:left; clear:both; width:100%; padding:0; border:none; background:none; text-align:center; font-family:"Nanum Square";}
    .confirm_page .result .table_wrap .data_table .head {width:100%;}
    .confirm_page .result .table_wrap .data_table th {margin-bottom:5px;}
    .confirm_page .result .table_wrap .data_table td {margin-bottom:10px;}
}

/* 로그인, 신청확인 페이지 공통 */
.input_mini_form .sub_upper_wrap {min-height:740px; margin-bottom:-100px;}
.input_mini_form .form_wrap {position:relative; max-width:100%; margin:40px auto 0; padding:30px 0; border-top:3px solid #333; border-bottom:1px solid #333;}
.input_mini_form .form_wrap:after {display:block; clear:both; content:"";}
.input_mini_form .form_wrap.login {width:500px; height:180px;} 
.input_mini_form .form_wrap.find {width:450px;}
.input_mini_form .form_wrap table {margin:-5px 0; border:0; background:none;}
.input_mini_form .form_wrap table .head {width:90px;}
.input_mini_form .form_wrap table th,.input_mini_form .form_wrap table td {padding:5px 0; border:0;}
.input_mini_form .form_wrap table th {text-align:left;}
.input_mini_form .form_wrap table th label {display:block; font-family:"Nanum Square"; font-size:18px; font-weight:700; line-height:40px;}
.input_mini_form .form_wrap table td input,.input_mini_form .form_wrap table td .select_form {width:100%;}
.input_mini_form .form_wrap table .tel {font-size:0;}
.input_mini_form .form_wrap table .tel .select_form,.input_mini_form .form_wrap table .tel input[type="text"] {width:calc(33.33% - 10px);}
.input_mini_form .form_wrap table .tel .dash {display:inline-block; width:15px; font-size:14px; line-height:40px; text-align:center; vertical-align:top;}
.input_mini_form .form_wrap.login table {float:left; width:370px;}
.input_mini_form .form_wrap.login .login_btn {float:right; width:120px; background:#00aeba; font-family:"Nanum Square"; font-size:18px; font-weight:700; line-height:90px; color:#fff;}
.input_mini_form .form_wrap.login .check_form {position:absolute; bottom:32px; left:88px;}
.input_mini_form .form_wrap.login .check_form li {margin:0;}
.input_mini_form .form_wrap.login .check_form label {font-size:14px;}
.input_mini_form .form_wrap.login .misc {padding-top:20px; clear:both; font-size:0; text-align:right; padding-right:115px;}
.input_mini_form .form_wrap.login .misc li {display:inline-block; line-height:0; padding:0 15px; border-right:1px solid #ddd;}
.input_mini_form .form_wrap.login .misc li:last-child {border:0;}
.input_mini_form .form_wrap.login .misc li a {display:inline-block; font-size:14px; line-height:20px; color:#333; transition:all 0.5s;}
.input_mini_form .form_wrap.login .misc li a:hover {font-weight:700; color:#00aeba;}
.input_mini_form .btn_wrap {margin-top:40px;}
.input_mini_form .select_form button {min-width:0;}

@media (max-width:1024px) {
    .input_mini_form .sub_upper_wrap {margin-bottom:-50px;}
    .input_mini_form .form_wrap {margin-top:30px; padding:15px 0;}
    .input_mini_form .form_wrap table th label {font-size:16px;}
    .input_mini_form .form_wrap.login {height:150px;}
    .input_mini_form .form_wrap.login .login_btn {font-size:16px;}
    .input_mini_form .form_wrap table .head {width:70px;}
    .input_mini_form .form_wrap.login .check_form {bottom:17px; left:68px;}
    .input_mini_form .form_wrap.login .misc {padding-top:10px;}
}

@media (max-width:599px) {
    .input_mini_form .sub_upper_wrap {min-height:0; margin-bottom:-30px;}
    .input_mini_form .form_wrap.login {height:auto;}
    .input_mini_form .form_wrap.login table {float:none; width:100%;}
    .input_mini_form .form_wrap table .head {width:60px;}
    .input_mini_form .form_wrap table th label {font-size:14px;}
    .input_mini_form .form_wrap.login .check_form {position:static;}
    .input_mini_form .form_wrap.login .check_form ul {margin:0;}
    .input_mini_form .form_wrap.login .check_form li {float:right;}
    .input_mini_form .form_wrap.login .login_btn {float:none; clear:both; width:100%; line-height:40px;}
    .input_mini_form .form_wrap.login .check_form label {font-size:12px;}
    .input_mini_form .form_wrap.login .misc {margin-top:10px; padding:0; text-align:center;}
    .input_mini_form .form_wrap.login .misc li a {font-size:12px;}
}

/* 재원생 학습 */
.mypage .sub_upper_wrap {min-height:740px; margin-bottom:-100px;}
.mypage .my_menu {width:calc(100% + 10px); margin-top:50px; margin-left:-5px;}
.mypage .my_menu:after {display:block; clear:both; content:"";}
.mypage .my_menu .menu {position:relative; padding:5px;}
.mypage .my_menu .menu > a {display:table; width:100%; height:100px; border:3px solid #00aeba; background:#fff;}
.mypage .my_menu .menu .alert {position:absolute; top:0; right:5px; width:86px; height:94px; padding:25px 10px 0; background-image:url(../img/sprite/sprite.png); background-position:-826px -846px; font-size:14px; font-weight:700; line-height:1.5em; color:#fff; transform:translateY(-50%);}
.mypage .my_menu .menu .menu_tit {position:absolute; font-family:"Nanum Square"; font-size:24px; font-weight:700; line-height:1.5em; color:#333; transition:all 0.5s;}
.mypage .my_menu .menu a:hover .menu_tit {color:#00aeba;}
.mypage .my_menu .my_info:before,.mypage .my_menu .my_info:after {position:absolute; left:50%; transform:translateX(-50%); content:"";}
.mypage .my_menu .my_info:before {top:80px; width:94px; height:94px; border-radius:50%; background:#00aeba;}
.mypage .my_menu .my_info:after {top:98px; width:68px; height:68px; background-image:url(../img/sprite/sprite.png); background-position:-922px -872px;}
.mypage .my_menu .my_info .menu_tit {top:200px; left:50%; transform:translateX(-50%);}
.mypage .my_menu .support .menu_tit {top:50%; right:110px; transform:translateY(-50%);}
.mypage .my_menu .menu .menu_tit:before,.mypage .my_menu .menu .menu_tit:after {position:absolute; top:50%; right:-33px; width:16px; height:4px; margin-top:-2px; border-radius:2px; background:#00aeba; content:"";}
.mypage .my_menu .menu .menu_tit:after {transform:rotate(90deg);}
.mypage .my_menu .menu .menu_name {display:table-cell; position:relative; padding:0 30px; line-height:1.5em; color:#333; text-align:left; vertical-align:middle;}
.mypage .my_menu .menu .menu_name:after {position:absolute; top:50%; right:30px; width:18px; height:18px; border:3px solid #ddd; border-bottom:0; border-left:0; transform:translateY(-50%) rotate(45deg); transition:all 0.5s; content:"";}
.mypage .my_menu .menu .menu_name .tit {display:block; font-family:"Nanum Square"; font-size:20px; font-weight:700; transition:all 0.5s;}
.mypage .my_menu .menu a:hover .menu_name .tit {color:#00aeba;}
.mypage .my_menu .menu a:hover .menu_name:after {right:25px; border-color:#00aeba;}
.mypage .my_menu .menu .menu_name small {display:block; font-size:14px;}
.mypage .my_menu .cont {float:left;}
.mypage .my_menu .my_info {width:33.33%;}
.mypage .my_menu .my_info > a {height:320px;}
.mypage .my_menu .sub_menu {width:66.66%;}
.mypage .my_menu .my_study:after {display:block; clear:both; content:"";}
.mypage .my_menu .my_study li {float:left; width:50%;}
.mypage .my_menu .support:before,.mypage .my_menu .support:after {position:absolute; top:50%; transform:translateY(-50%); content:"";}
.mypage .my_menu .support:before {left:55px; width:60px; height:60px; background-image:url(../img/sprite/sprite.png); background-position:-756px -880px;}
.mypage .my_menu .support:after {left:150px; width:calc(100% - 370px); height:1px; background:#00aeba;}

@media (max-width:1024px) {
    .mypage .sub_upper_wrap { margin-bottom:-50px;}
    .mypage .my_menu {margin-top:30px;}
    .mypage .my_menu .menu > a {height:80px;}
    .mypage .my_menu .my_info {width:25%;}
    .mypage .my_menu .my_info > a {height:260px;}
    .mypage .my_menu .menu .menu_tit {font-size:18px;}
    .mypage .my_menu .menu .menu_name {padding:0 15px;}
    .mypage .my_menu .menu .menu_name .tit {font-size:16px;}
    .mypage .my_menu .menu .alert {width:43px; height:47px; font-size:10px; padding:5px 0; background-size:500px; background-position:-413px -423px;}
    .mypage .my_menu .sub_menu {width:75%;}
    .mypage .my_menu .menu .menu_tit:before, .mypage .my_menu .menu .menu_tit:after {display:none;}
    .mypage .my_menu .support:before {transform:translateY(-50%) scale(0.5); transform-origin:right;}
    .mypage .my_menu .menu .menu_name:after {right:15px;}
    .mypage .my_menu .menu a:hover .menu_name:after {right:10px;}
    .mypage .my_menu .my_info:before, .mypage .my_menu .my_info:after {transform:translateX(-50%) scale(0.5);}
    .mypage .my_menu .my_info .menu_tit {top:160px;}
}

@media (max-width:599px) {
    .mypage .sub_upper_wrap {min-height:0; margin-bottom:-30px;}
    .mypage .my_menu .my_info,.mypage .my_menu .sub_menu {float:none; width:100%;}
    .mypage .my_menu .my_study li {float:none; width:100%;}
    .mypage .my_menu .menu > a {height:60px;}
    .mypage .my_menu .my_info > a {height:120px;}
    .mypage .my_menu .my_info:before {top:0;}
    .mypage .my_menu .my_info:after {top:18px;}
    .mypage .my_menu .my_info .menu_tit {top:80px; font-size:16px;}
    .mypage .my_menu .menu .menu_name {text-align:center;}
    .mypage .my_menu .menu .menu_name .tit {font-size:14px;}
    .mypage .my_menu .menu .menu_name small {font-size:12px;}
    .mypage .my_menu .menu .menu_name:after {transform:translateY(-50%) rotate(45deg) scale(0.5); transform-origin:right;}
    .mypage .my_menu .support:before {top:25px; left:50%; transform:translateX(-50%) scale(0.5); transform-origin:top center;}
    .mypage .my_menu .support:after {display:none;}
    .mypage .my_menu .support > a {height:100px;}
    .mypage .my_menu .support .menu_tit {font-size:16px; top:60px; right:50%; transform:translateX(50%);}
    .mypage .my_menu .menu .alert {top:50%; right:15px;}
}

/* 검색결과 */
.search_result .keyword {color:#00aeba; font-family:inherit;}
.search_result .search_wrap {min-width:520px; margin-top:40px; margin-bottom:10px; padding-right:120px; border:3px solid #00aeba; border-right:0;}
.search_result .search_wrap input[type="text"] {height:42px; padding:0 18px; border:0; font-size:16px; line-height:42px;}
.search_result .search_wrap button {top:0; right:0; width:120px; height:42px; background:#00aeba; line-height:42px; text-indent:0;}
.search_result .search_wrap button:before,.search_result .search_wrap button:after {display:none;}
.search_result .search_wrap button span {font-family:"Nanum Square"; font-size:18px; font-weight:700; color:#fff;}
.search_result .sub_tit_wrap {text-align:left;}
.search_result .sub_tit_wrap:after {left:0; margin-left:0;}
.search_result .sub_tit_wrap .keyword:before,.search_result .sub_tit_wrap .keyword:after {content:"'";}
.search_result .result_wrap {position:relative; margin-top:50px; margin-bottom:60px;}
.search_result .result_wrap:last-child {margin-bottom:0;}
.search_result .result_wrap h4 {margin-top:-4px; margin-bottom:15px; font-family:"Nanum Square"; font-size:20px; font-weight:700; line-height:28px;}
.search_result .result_wrap .board_list {border-top:2px solid #333;}
.search_result .result_wrap .board_list table strong {color:#333;}
.search_result .result_wrap .board_list table thead {display:none;}
.search_result .result_wrap .board_list table tbody tr td {padding:17px 30px; background:none; text-align:left; transition:none;}
.search_result .result_wrap .board_list table tbody tr td.tit {padding:17px 0;}
.search_result .result_wrap .board_list table tbody tr td.date {color:rgba(100,111,114,0.6); text-align:right;}
.search_result .result_wrap .gallery strong {color:#333;}
.search_result .result_wrap .more {position:absolute; top:0; right:0; padding-right:15px; font-size:12px; line-height:28px; transition:all 0.5s;}
.search_result .result_wrap .more:hover {color:#00aeba;}
.search_result .result_wrap .more:after {position:absolute; top:10px; right:0; width:8px; height:8px; border:1px solid #333; border-bottom:0; border-left:0; transform:rotate(45deg); transition:all 0.5s; content:"";}
.search_result .result_wrap .more:hover:after {right:-3px; border-color:#00aeba;}

@media (max-width:1024px) {
    .search_result .search_wrap {margin:0; margin-top:30px; padding-right:100px;}
    .search_result .search_wrap input[type="text"] {height:34px; padding:0 15px; border:0; font-size:16px; line-height:34px; font-size:14px;}
    .search_result .search_wrap button {line-height:34px; width:100px; height:34px;}
    .search_result .search_wrap button span {font-size:16px;}
    .search_result .result_wrap {margin:30px 0;}
    .search_result .result_wrap h4 {font-size:18px;}
    .search_result .result_wrap .board_list {border:0;}
    .search_result .result_wrap .board_list table tbody tr td {padding:0;}
    .search_result .result_wrap .board_list table tbody tr td.cate {display:inline-block; width:auto; padding:3px 10px; background:#00aeba; font-family:"Nanum Square"; font-size:16px; color:#fff;}
    .search_result .result_wrap .board_list table tbody tr td.tit {padding:0; padding-bottom:15px;}
    .search_result .result_wrap .board_list table tbody tr td.date {color:#333; text-align:left;}
}

@media (max-width:599px) {
    .search_result .search_wrap {width:100%; min-width:0; margin-top:15px; padding-right:80px;}
    .search_result .search_wrap button {width:80px;}
    .search_result .search_wrap button span {font-size:14px;}
}

/* 개인정보처리방침, 이용약관, 이메일무단수집거부 */
.term_wrap {margin-top:5px; text-align:left;}
.term_wrap .term_tit {margin-top:40px; margin-bottom:10px; font-family:"Nanum Square"; font-size:18px; font-weight:700; line-height:1.6em;}
.term_wrap li .term_tit {font-weight:400;}
.term_wrap .term_txt {font-size:14px; line-height:1.7em;}
.term_wrap .term_txt + .term_txt {margin-top:25px;}
.term_wrap li .term_txt {margin-top:25px;}
.term_wrap ul li {padding:0.15em 0; font-size:14px; line-height:1.7em;}
.term_wrap ul.sub {margin:25px 0;}
.term_wrap ul.sub.last {margin:0; margin-top:25px;}
.term_wrap ul.inner > li {margin:25px 0;}
.term_wrap ul.inner .inner_list {margin-top:15px;}
.term_wrap .notice {margin-top:15px;}
.term_wrap.term li .term_tit {font-weight:700;}
.term_wrap.term li .term_txt {margin-top:0;}
.term_wrap.email .term_txt {margin-top:45px;}
.term_viewer .term_wrap {overflow-y:auto; height:240px; margin:0; padding:20px; border:1px solid #ddd;}
.term_viewer .term_wrap dl dt:first-child .term_tit {margin-top:0;}

/* 사이트맵 */
.sitemap_list {border-top:3px solid #333; text-align:left;}
.sitemap_list ul:after,.sitemap_list li:after {display:block; clear:both; content:"";}
.sitemap_list .menu_1depth > li {padding:12px 0; border-bottom:1px solid #cdcdcd; line-height:0;}
.sitemap_list .menu_1depth > li > a {display:block; float:left; margin:6px 0; padding-left:20px; font-family:"Nanum Square"; font-size:20px; font-weight:700; line-height:28px; color:#00aeba;}
.sitemap_list .menu_2depth {margin:0 -42px; padding-left:220px;}
.sitemap_list .menu_2depth > li {float:left; margin:0 42px;}
.sitemap_list .menu_2depth.junior {margin:0 -32px;}
.sitemap_list .menu_2depth.junior > li {margin:0 32px;}
.sitemap_list .menu_2depth.elite {margin:0 -27px;}
.sitemap_list .menu_2depth.elite > li {margin:0 27px;}
.sitemap_list .menu_2depth > li > a {display:block; margin:6px 0; font-family:"Nanum Square"; font-size:18px; font-weight:700; line-height:28px; color:#333;}
.sitemap_list .menu_3depth > li {padding:6px 0;}
.sitemap_list .menu_3depth > li > a {position:relative; padding-left:10px; font-size:14px; line-height:20px; color:#333;}
.sitemap_list .menu_3depth > li > a:before {position:absolute; top:6px; left:0; width:4px; height:4px; background:#333; content:"";}

@media (max-width:1024px) {
    .sitemap_list .menu_1depth > li > a {margin:0; font-size:18px;}
    .sitemap_list .menu_2depth {margin:0 -15px !important; padding-left:160px;}
    .sitemap_list .menu_2depth > li {margin:0 15px !important;}
    .sitemap_list .menu_2depth > li > a {margin:0; font-size:16px;}
    .sitemap_list .menu_3depth {margin:5px 0;}
    .sitemap_list .menu_3depth > li {padding:3px 0;}
}

@media (max-width:599px) {
    .sitemap_list a {text-align:center;}
    .sitemap_list .menu_1depth > li > a {float:none; padding:0; font-size:16px; line-height:1.6em; margin-bottom:8px;}
    .sitemap_list .menu_2depth {padding-left:0;}
    .sitemap_list .menu_2depth > li > a {font-size:14px; line-height:1.8em;}
    .sitemap_list .menu_2depth > li {float:none;}
    .sitemap_list .menu_3depth {margin:8px 0;}
    .sitemap_list .menu_3depth > li {padding:0; text-align:center;}
    .sitemap_list .menu_3depth > li > a {display:inline-block; font-size:12px; line-height:1.6em;}
    .sitemap_list .menu_3depth > li > a:before {top:7px;}
}

/* 홈페이지 이용의견 */
.opinion .txt {font-size:16px; line-height:1.75em; text-align:center;}
.opinion .necessary {display:inline-block; position:relative; width:1px; font-size:0; vertical-align:top;}
.opinion .necessary:before {position:absolute; top:0; left:0; font-size:18px; line-height:12px; color:red; text-indent:0; content:"*";}
.opinion .cmt {margin-top:30px; font-size:12px; text-align:right;}
.opinion .cmt .necessary:before {top:3px; left:-8px;}
.opinion .survey_wrap {padding:20px 0; border-top:1px solid #ccc; border-bottom:1px solid #ccc;}
.opinion .survey_column .tit {font-family:"Nanum Square"; font-size:18px; line-height:40px;}
.opinion .survey_column .tit.select {display:inline-block; min-width:360px; margin-bottom:40px;}
.opinion .survey_column .tit strong {font-family:inherit;}
.opinion .survey_column .tit .necessary:before {top:8px; left:-3px;}
.opinion .survey_table {margin:10px 0 30px;}
.opinion .survey_table table {border-right:1px solid #ddd; border-left:1px solid #ddd;}
.opinion .survey_table table th {font-family:"Nanum Square"; font-size:16px; font-weight:700;}
.opinion .survey_table table .header {width:25%;}
.opinion .survey_table table .common {position:relative; padding:0; background:url(../img/bg/bg_table_seperate.gif); background-size:100% 100%;}
.opinion .survey_table table .common span {position:absolute; font-family:"Nanum Square"; font-size:14px; font-weight:400; line-height:20px;}
.opinion .survey_table table .common .col {top:15px; right:20px;}
.opinion .survey_table table .common .row {bottom:15px; left:20px;}
.opinion .survey_table table th label {font-family:inherit;}
.opinion .survey_table table th,.opinion .survey_table table td {padding:17px 20px; border-bottom:1px solid #ddd;}
.opinion .survey_table table thead th {background:#ccc;}
.opinion .survey_table table tbody th {background:#e9e9e9; text-align:left;}
.opinion .survey_table table tr th:first-child {border-right:1px solid #ddd;}
.opinion .survey_table table input[type="radio"] {width:0; height:0; margin:0; padding:0; font-size:0; line-height:0; opacity:0;}
.opinion .survey_table table input[type="radio"] + label {display:inline-block; position:relative; padding-left:23px; font-size:16px; line-height:26px; color:#333; cursor:pointer;}
.opinion .survey_table table input[type="radio"] + label:before {display:inline-block; position:absolute; top:13px; left:2px; box-sizing:border-box; width:16px; height:16px; margin-top:-8px; border:1px solid #dedede; border-radius:50%; background:#fff; content:"";}
.opinion .survey_table table input[type="radio"]:checked + label:after {display:inline-block; position:absolute; top:13px; left:7px; width:6px; height:6px; margin-top:-3px; border-radius:50%; background:#00aeba; content:"";}
.opinion .survey_column textarea {display:block; width:100%; height:210px; margin-top:10px; padding:12px;}
.opinion .survey_column .cnt {margin-bottom:30px; font-size:14px; line-height:2.4em; text-align:right;}
.opinion .survey_column .select_form {width:250px;}
.opinion .ps {margin-top:30px; text-align:center;}
.opinion .ps p {display:inline-block; font-size:14px; line-height:1.5em;}
.opinion .ps p:before {margin-right:0.2em; content:"※";}
.opinion .btn_wrap {margin-top:30px; text-align:center;}
.opinion .btn_wrap button {min-width:180px; margin:0 2px; padding:0 15px; background:#00aeba; font-family:"Nanum Square"; font-size:18px; font-weight:700; line-height:50px; color:#fff; vertical-align:top; transition:all 0.5s;}

@media (max-width:1024px) {
    .opinion .txt {font-size:14px; line-height:1.6em;}
    .opinion .survey_table table .header {width:150px;}
    .opinion .survey_table table th,.opinion .survey_table table th {padding:10px 15px; font-size:14px;}
    .opinion .survey_table table input[type="radio"] + label {font-size:14px;}
    .opinion .survey_table table .common .col {top:3px; right:15px;}
    .opinion .survey_table table .common .row {bottom:3px; left:15px;}
    .opinion .survey_wrap {padding:30px 0;}
    .opinion .survey_column .tit {font-size:16px; line-height:30px;}
    .opinion .survey_table {margin:15px 0;}
    .opinion .survey_column .cnt {margin-bottom:15px; font-size:12px; line-height:1.5em;}
    .opinion .survey_column .tit.select {display:block; min-width:0; margin:15px 0;}
    .opinion .btn_wrap button {font-size:16px; line-height:40px;}
}

@media (max-width:599px) {
    .opinion .txt br {display:none;}
    .opinion .survey_column .tit {font-size:14px;}
    .opinion .survey_wrap {padding:15px 0;}
    .opinion .survey_table table,
    .opinion .survey_table table thead,
    .opinion .survey_table table tbody,
    .opinion .survey_table table tr,
    .opinion .survey_table table th,
    .opinion .survey_table table td {display:block; float:left; clear:both; width:100%; border:none; text-align:left;}
    .opinion .survey_table table thead {display:none;}
    .opinion .survey_table table th {margin:15px 0 5px; padding:0 15px; line-height:2em;}
    .opinion .survey_table table tr {margin-bottom:15px;}
    .opinion .survey_table table tr th:first-child {margin-top:0; border:0;}
    .opinion .survey_table table td {padding:0;}
    .opinion .survey_table table input[type="radio"] + label {font-size:12px;}
    .opinion .survey_column .select_form {width:100%;}
    .opinion .ps {margin-top:15px;}
    .opinion .ps p {font-size:12px;}
    .opinion .btn_wrap button {width:100%; font-size:14px;}
}