
/*=========================================================
3. 공통 레이아웃
=========================================================*/

[lang="en"] {font-family:"Lato"; letter-spacing:0;}
:before,:after {box-sizing:inherit;}
.wrap {overflow-x:hidden; min-width:320px;}
.grid_container {position:relative; max-width:1200px; margin:0 auto; padding:0 100px;}
.grid_container.middle {padding:0;}
.grid_container.wide {max-width:1400px; padding:0;}

@media (max-width:1024px) {
    .grid_container {padding:0 30px;}
}

@media (max-width:599px) {
    .grid_container {padding:0 15px;}
}

/* 하위브라우저 접근차단 */
.ie9 {position:fixed; top:0; left:0; z-index:9999; width:100%; height:100%; padding-top:15%; background:#fff; text-align:center;}
.ie9 p {margin-top:30px; font-size:16px; line-height:1.5;}
.ie9 a {display:inline-block; height:2.5em; margin-top:30px; padding:0 1em; border-radius:1.25em; background:#00aeba; font-family:"Nanum Square"; font-size:20px; font-weight:700; line-height:2.5em; color:#fff; -webkit-border-radius:1.25em; -moz-border-radius:1.25em; -ms-border-radius:1.25em; -o-border-radius:1.25em;}

/* 버튼 */
.btn_wrap a,.btn_wrap button {display:inline-block; position:relative; box-sizing:inherit; margin:0; padding:0 20px; border:1px solid #333; background:none; font-size:14px; line-height:46px; color:#333; text-align:left; text-decoration:none; text-transform:uppercase;}
.btn_wrap.bg_fill a,.btn_wrap.bg_fill button {z-index:0; text-align:left;}
.btn_wrap.bg_fill a:after,.btn_wrap.bg_fill button:after {position:absolute; top:0; right:0; bottom:0; left:0; z-index:-1; transform:scaleX(0); transform-origin:right center; transition:transform 0.2s; content:"";}
.btn_wrap.bg_fill a:hover:after,.btn_wrap.bg_fill button:hover:after {transform:scaleX(1); transform-origin:left center;}
.btn_wrap .link span:before,.btn_wrap .link span:after {position:absolute; top:50%; right:12px; height:1px; background:#fff; content:"";}
.btn_wrap .link span:before {width:30px;}
.btn_wrap .link span:after {width:10px; -webkit-transform:rotate(45deg); -moz-transform:rotate(45deg); -ms-transform:rotate(45deg); -o-transform:rotate(45deg); transform:rotate(45deg); transform-origin:right;}

@media (max-width:1024px) {
    .btn_wrap a {font-size:12px; line-height:38px;}
    .btn_wrap span:before,.btn_wrap span:after {right:20px !important;}
}

/* 입력폼 초기화 */
input[type="text"],input[type="email"],input[type="number"],input[type="tel"],input[type="password"],input[type="url"],input[type="search"],input[type="file"],textarea {-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; height:40px; margin:0; padding:0; padding:0 15px; border:none; border:1px solid #cdcdcd; border-radius:0; background:none; background:#fff; font-family:inherit; font-size:14px; line-height:40px; color:#666; -webkit-appearance:none; -moz-appearance:none; -ms-appearance:none; -o-appearance:none; -webkit-border-radius:0; -moz-border-radius:0; -o-box-sizing:border-box;}
textarea {line-height:1.5em;}

/* 셀렉트박스 */
.select_form {display:inline-block; position:relative; background:#fff; font-size:14px; text-align:left;}
.select_form button {display:block; overflow:hidden; position:relative; width:100%; padding:0 35px 0 15px; border:1px solid #cdcdcd; background:#fff; line-height:38px; color:#666; text-align:inherit; text-overflow:ellipsis; white-space:nowrap; -webkit-transition:border 0.2s; -moz-transition:border 0.2s; -ms-transition:border 0.2s; -o-transition:border 0.2s; transition:border 0.2s;}
.select_form button:after {position:absolute; top:50%; right:15px; width:10px; height:10px; margin-top:-8px; border-right:2px solid #333; border-bottom:2px solid #333; -webkit-transform:rotate(45deg); -moz-transform:rotate(45deg); -ms-transform:rotate(45deg); -o-transform:rotate(45deg); transform:rotate(45deg); -webkit-transition:all 0.2s; -moz-transition:all 0.2s; -ms-transition:all 0.2s; -o-transition:all 0.2s; transition:all 0.2s; content:"";}
.select_form button.on:after {margin-top:-4px; -webkit-transform:rotate(225deg); -moz-transform:rotate(225deg); -ms-transform:rotate(225deg); -o-transform:rotate(225deg); transform:rotate(225deg);}
.select_form ul {visibility:hidden; position:absolute; width:100%; height:0; padding:6px 15px; border:1px solid #cdcdcd; border-top:0; -webkit-transition:opacity 0.5s; -moz-transition:opacity 0.5s; -ms-transition:opacity 0.5s; -o-transition:opacity 0.5s; transition:opacity 0.5s; opacity:0;}
.select_form button.on + ul {visibility:visible; z-index:1; height:auto; background:#fff; opacity:1;}
.select_form ul li a {display:block; padding:5px 0; line-height:20px; color:#666;}
.select_form ul li a:hover {font-weight:700; color:#008398;}

/* 체크박스 */
.check_form ul {overflow:hidden; margin-bottom:-10px; padding:11px 0; font-size:0;}
.check_form ul li {overflow:hidden; float:left; margin-bottom:10px; line-height:1;}
.check_form input[type='checkbox'] {width:0; height:0; margin:0; padding:0; font-size:0; line-height:0; opacity:0;}
.check_form input[type='checkbox'] + label {float:left; position:relative; margin-right:30px; padding-left:23px; font-size:14px; line-height:16px; color:#333; cursor:pointer;}
.check_form ul li:last-child input[type='checkbox'] + label {margin-right:0;}
.check_form input[type='checkbox'] + label:before {display:inline-block; position:absolute; top:0; left:2px; width:16px; height:16px; border:1px solid #dedede; background:#fff; content:''; box-sizing:border-box;}
.check_form input[type="checkbox"]:checked + label:after {position:absolute; top:1px; left:6px; width:8px; height:10px; border:2px solid #00687f; border-top:0; border-left:0; transform:rotate(45deg) skew(10deg); content:"";}
.check_form input[type='checkbox']:disabled + label:before {background:#dedede;}

/* 라디오버튼 */
.radio_form ul {overflow:hidden; margin-bottom:-10px; padding:11px 0; font-size:0;}
.radio_form ul li {overflow:hidden; float:left; margin-bottom:10px; line-height:1;}
.radio_form input[type='radio'] {width:0; height:0; margin:0; padding:0; font-size:0; line-height:0; opacity:0;}
.radio_form input[type='radio'] + label {float:left; position:relative; margin-right:30px; padding-left:23px; font-size:14px; line-height:16px; color:#333; cursor:pointer;}
.radio_form ul li:last-child input[type="radio"] + label {margin-right:0;}
.radio_form input[type="radio"] + label:before {display:inline-block; position:absolute; top:0; left:2px; box-sizing:border-box; width:16px; height:16px; border:1px solid #dedede; border-radius:50%; content:"";}
.radio_form input[type='radio']:checked + label:after {display:inline-block; position:absolute; top:5px; left:7px; width:6px; height:6px; border-radius:50%; background:#00687f; content:'';}

/* 검색 */
.search_wrap {display:inline-block; border:1px solid #cdcdcd; font-size:0;}
.search_wrap input[type="text"] {min-width:190px; height:38px; line-height:38px; padding-right:0; border:none;}
.search_wrap button {position:relative; width:44px; height:38px; background:#fff; text-indent:-9999px; vertical-align:top;}
.search_wrap button:before,.search_wrap button:after {position:absolute; content:"";}
.search_wrap button:before {top:25px; left:22px; width:10px; height:2px; background:#008398; -webkit-transform:rotate(45deg); -moz-transform:rotate(45deg); -ms-transform:rotate(45deg); -o-transform:rotate(45deg); transform:rotate(45deg);}
.search_wrap button:after {top:9px; left:12px; width:18px; height:18px; border:2px solid #008398; border-radius:50%; background:#fff; -webkit-border-radius:50%; -moz-border-radius:50%; -ms-border-radius:50%; -o-border-radius:50%;}

@media (max-width:599px) {
    .search_wrap input[type="text"] {width:calc(100% - 44px);}
}

/* 검색 메뉴(셀렉트박스 + 검색) */
.board_util {margin-bottom:10px; text-align:right;}
.search_form {margin-right:-5px; font-size:0;}
.search_form > div {margin-right:5px; vertical-align:middle;}
.search_form .select_form {width:165px;}

@media (max-width:599px) {
    .search_form {margin:0;}
    .search_form > div {width:100% !important; margin-right:0; margin-bottom:5px;}
}

/* 테이블 초기화 */
table {width:100%; border-bottom:1px solid #cdcdcd; background:#fff; table-layout:fixed; border-collapse:collapse;}
table th,table td {padding:17px 5px; border-top:1px solid #cdcdcd; font-size:14px; line-height:1.5em; color:#666; vertical-align:middle;}
caption {visibility:hidden; overflow:hidden; width:0; height:0; font-size:0; line-height:0;}
label {cursor:pointer;}

/* 입력폼 테이블 */
.form_table table {border-left:1px solid #cdcdcd; border-right:1px solid #cdcdcd;}
.form_table table th {padding:0; background:#e6eff1;}
.form_table table th label {font-family:"Nanum Square"; font-size:16px; font-weight:700; font-weight:700; color:#333;}
.form_table table th label .must {display:inline-block; position:relative; width:0; text-indent:-9999px;}
.form_table table th label .must:after {position:absolute; top:-5px; right:-7px; font-weight:700; color:#00aeba; text-indent:0; content:"*";}
.form_table table td {padding:8px 0; padding-left:20px; font-size:0;}
.form_table table td .select_form,.form_table table td input[type="text"],.form_table table td input[type="password"] {margin-right:10px;}
.form_table table td .label {display:inline-block; margin-right:30px; font-size:16px; line-height:38px; color:#008398;}
.form_table table td .check_form,.form_table table td .radio_form {display:inline-block; vertical-align:top;}
.form_table table td .calendar {display:inline-block; position:relative;}
.form_table table td .calendar:before {position:absolute; top:50%; right:18px; width:18px; height:18px; margin-top:-9px; background:url(../img/sprite/sprite.png); background-size:500px; background-position:-180px -475px; content:"";}
.form_table table td .calendar input[type="text"] {position:relative; margin:0; background:none;}

@media (max-width:1024px) {
    .form_table {overflow:hidden;}
    .form_table table,
	.form_table table thead,
	.form_table table tbody,
	.form_table table tr,
	.form_table table th,
    .form_table table td {display:block; float:left; clear:both; width:100%; border:none; text-align:left;}
    .form_table table th {line-height:2.5em; padding-left:15px;}
    .form_table table td {padding:15px 0;}
    .form_table table .line_2 {margin-top:-15px;}
}

@media (max-width:599px) {
    .form_table table td .select_form,
    .form_table table td input[type="text"],
    .form_table table td input[type="password"],
    .form_table table td input[type="email"] {width:100% !important; margin:0; margin-bottom:5px;}
    .form_table table td.divide_3 .select_form,
    .form_table table td.divide_3 input[type="text"],
    .form_table table td.divide_3 input[type="password"] {width:calc(33.33% - 4px) !important; margin-right:5px;}
    .form_table table td.divide_3 .select_form:last-child,
    .form_table table td.divide_3 input[type="text"]:last-child {margin-right:0;}
}

/* 데이터 테이블 */
.data_table {overflow:hidden;}
.data_table table {width:calc(100% + 1px); margin-left:-1px; border-top:3px solid #333;}
.data_table table th,.data_table table td {border-left:1px solid #cdcdcd; text-align:center;}
.data_table table thead th {border-bottom:1px solid #333; background:#f5f5f5; font-size:16px;}
.data_table table tr th:first-child {border-right:2px solid #cdcdcd;}
.data_table table td.left {text-align:left;}
.data_table.no_left_th table thead th {border-right:0;}

@keyframes scroll_txt {
    0% {transform:translateX(0px);}
	50% {transform:translateX(10px);}
    100% {transform:translateX(0);}
}

@media (max-width:1024px) {
    .data_table {overflow:auto;}
    .data_table:before {display:inline-block; font-size:12px; color:#00687f; animation:scroll_txt 1s linear infinite; content:"↔︎ 좌우로 스크롤하여 확인하세요.";}
    .data_table table {width:100%; margin:0;}
    .data_table table th,.data_table table td {padding:12px 15px;}
    .data_table table tr th:first-child,.data_table table tr td:first-child {border-left:0;}
}

@media (max-width:599px) {
    .data_table table thead th {font-size:14px;}    
    .data_table table th,.data_table table td {padding:8px 15px;}
}

/* Datepicker */
.ui-datepicker {width:200px; border:1px solid #00687f; background:#fff; box-shadow:0 5px 10px 0 rgba(0,0,0,0.2);}
.ui-datepicker th,.ui-datepicker td {padding:0; border:0; font-size:12px; line-height:20px;}
.ui-datepicker th {border-bottom:1px solid #00687f; background:#e6eff1; color:#00687f;}
.ui-datepicker td a {display:block; color:#999; transition:all 0.5s; text-align:center;}
.ui-datepicker td a:hover {background:#00687f; font-weight:700; color:#fff;}
.ui-datepicker .ui-datepicker-prev,.ui-datepicker .ui-datepicker-next {position:absolute; top:5px; width:20px; height:20px; text-indent:-9999px; transition:all 0.5s;}
.ui-datepicker .ui-datepicker-prev {left:5px;}
.ui-datepicker .ui-datepicker-next {right:5px;}
.ui-datepicker .ui-datepicker-prev:before,.ui-datepicker .ui-datepicker-next:before {content:""; width:10px; height:10px; border:2px solid #fff; transform:translateX(-50%) rotate(45deg); position:absolute; left:50%; top:5px;}
.ui-datepicker .ui-datepicker-prev:before {margin-left:2px; border-top:0; border-right:0;}
.ui-datepicker .ui-datepicker-next:before {margin-left:-2px; border-bottom:0; border-left:0;}
.ui-datepicker .ui-datepicker-title {background:#00687f; font-size:14px; font-weight:700; line-height:30px; color:#fff; text-align:center;}

/* 게시판(일반) 리스트 */
.board_list table thead th {border-top:3px solid #333; font-size:16px; font-weight:700; color:#333;}
.board_list table tbody tr:first-child th,.board_list table tbody tr:first-child td {border-color:#333;}
.board_list table td {text-align:center;}
.board_list table td.tit {text-align:left;}
.board_list table td.tit a {font-size:16px; line-height:1.5em; color:#333;}
.board_list table td.tit a:hover {color:#008398;}
.board_list table td.tit a strong {font-family:inherit; color:#00687f;}
.board_list table td.tit .new {display:inline; position:relative; top:-2px; font-size:12px; color:#e7833f; text-transform:uppercase;}
.board_list table td.tit .file {display:inline-block; width:21px; height:17px; background-image:url(../img/sprite/sprite.png); background-position:-177px -123px; background-size:500px 500px; text-indent:-9999px; vertical-align:text-bottom;}
.board_list table td.reply.depth1 {padding-left:25px;}
.board_list table td.reply.depth2 {padding-left:50px;}
.board_list table td.reply.depth3 {padding-left:75px;}
.board_list table td.reply.depth4 {padding-left:100px;}
.board_list table td.reply.depth5 {padding-left:125px;}
.board_list table td.reply:before {position:absolute; width:16px; height:18px; margin-left:-20px; background-image:url(../img/sprite/sprite.png); background-position:-203px -475px; background-size:500px; text-indent:-9999px; content:"답글";}
.board_list table td.name {overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.board_list table .notice th,.board_list table .notice td {padding:13px 5px;}
.board_list table .notice td.tit a {font-size:18px; font-weight:700; transition:all 0.5s;}
.board_list table .notice .notice_icon {display:inline-block; position:relative; width:82px; padding-left:40px; border:1px solid #00aeba; border-radius:16px; font-size:14px; font-weight:700; line-height:30px; color:#00aeba; text-align:left; -webkit-border-radius:16px; -moz-border-radius:16px; -ms-border-radius:16px; -o-border-radius:16px;}
.board_list table .notice .notice_icon:before {position:absolute; top:5px; left:14px; width:22px; height:20px; background-image:url(../img/sprite/sprite.png); background-position:-203px -123px; background-size:500px 500px; content:"";}

@media (max-width:1024px) {
    .board_list {overflow:hidden;}
    .board_list table,
	.board_list table thead,
	.board_list table tbody,
	.board_list table tr,
	.board_list table th,
    .board_list table td {display:block; float:left; clear:both; width:100%; border:none; text-align:left;}
    .board_list table tr {padding:15px 0; border-bottom:1px solid #cdcdcd;}
    .board_list table tbody tr:last-child {border:0;}
    .board_list table thead {overflow:hidden; position:absolute; left:-9999px; width:1px; height:1px;}
    .board_list table tbody {border-top:2px solid #333; border-bottom:2px solid #333;}
    .board_list table th, .board_list table td,.board_list table .notice th, .board_list table .notice td {padding:0;}
    .board_list table td.tit {padding-bottom:15px;}
    .board_list table td.tit a {font-weight:700;}
    .board_list table td.reply.depth2 {padding-left:35px;}
    .board_list table td.reply.depth3 {padding-left:45px;}
    .board_list table td.reply.depth4 {padding-left:55px;}
    .board_list table td.reply.depth5 {padding-left:65px;}
    .board_list table .notice td.tit a {font-size:16px;}
    .board_list table .notice .notice_icon {margin-bottom:15px;}
    /* .board_list table td.name {overflow:visible; white-space:normal;} */
    .board_list table tr:not(.notice) th.num {display:none;}
    .board_list table td.name,.board_list table td.date,.board_list table td.view {font-size:12px;}
    .board_list table td.name:before {content:"작성자 : ";}
    .board_list table td.date:before {content:"등록일 : ";}
    .board_list table td.view:before {content:"조회수 : ";}
}

/* 게시판(썸네일형) 최신 */
.top_news {overflow:hidden; margin-bottom:40px; padding:40px; border:1px solid #cdcdcd; border-top:3px solid #008398;}
.top_news .cont {float:left; width:calc(50% - 15px);}
.top_news .img_view {height:0; margin-right:30px; padding-top:32%; background-position:center; background-size:cover;}
.top_news .txt_view .tit {overflow:hidden; max-height:3em; margin-top:-5px; font-family:"Nanum Square"; font-size:30px; line-height:1.5em; color:#333; transition:all 0.5s;}
.top_news .txt_view .tit strong {font-family:inherit; color:#00687f;}
.top_news .txt_view .txt {overflow:hidden; max-height:5.4em; margin-top:5px; font-size:14px; line-height:1.8em; color:#666; transition:all 0.5s;}
.top_news:hover .txt_view .tit,.top_news:hover .txt_view .txt {color:#008398;}
.top_news .txt_view .date {display:inline-block; margin-top:15px; padding:0 10px; border-radius:12px; background:#f2f2f2; font-size:12px; line-height:24px; color:#999; -webkit-border-radius:12px; -moz-border-radius:12px; -ms-border-radius:12px; -o-border-radius:12px;}
.top_news .txt_view .btn_wrap {margin-top:40px;}
.top_news .txt_view .btn_wrap a {width:180px; padding:0 20px; border:1px solid #00aeba; font-size:14px; line-height:46px; color:#666; text-align:left; text-transform:uppercase;}
.top_news .txt_view .btn_wrap a:hover {color:#fff;}
.top_news .txt_view .btn_wrap a:after {background:#00aeba;}
.top_news .txt_view .btn_wrap a span:before,.top_news .txt_view .btn_wrap a span:after {position:absolute; top:50%; right:12px; height:1px; background:#00aeba; content:"";}
.top_news .txt_view .btn_wrap a span:before {width:30px;}
.top_news .txt_view .btn_wrap a span:after {width:10px; -webkit-transform:rotate(45deg); transform:rotate(45deg); -webkit-transform-origin:right; transform-origin:right;}
.top_news .txt_view .btn_wrap a:hover span:before,.top_news .txt_view .btn_wrap a:hover span:after {background:#fff;}

@media (max-width:1024px) {
    .top_news {margin-bottom:30px; padding:30px;}
    .top_news .txt_view .tit {font-size:22px;}
    .top_news .txt_view .txt {line-height:1.5em; max-height:3em;}
    .top_news .txt_view .btn_wrap {margin-top:20px;}
    .top_news .txt_view .btn_wrap a {width:150px; font-size:12px; font-weight:700; line-height:38px;}
}

@media (max-width:599px) {
    .top_news {padding:15px 0; border-right:0; border-left:0;}
    .top_news .cont {float:none; width:100%;}
    .top_news .img_view {margin:0; margin-bottom:15px; padding-top:75%;}
    .top_news .txt_view .tit {font-size:18px;}
}

/* 게시판(썸네일형) 리스트 */
.news_list {border-top:3px solid #333; border-bottom:1px solid #333;}
.news_list ul {overflow:hidden; margin:15px -25px;}
.news_list ul li {float:left; width:calc(33.33% - 50px); margin:15px 25px; border:1px solid #cdcdcd; transition:all 0.5s; transform:scale(0);}
.news_list ul li:hover {border-color:#00aeba;}
.news_list ul li.animated {transform:scale(1);}
.news_list ul li a {display:block;}
.news_list ul li .img_view {overflow:hidden; position:relative; height:0; padding-top:75%; background-position:center; background-size:cover;}
.news_list ul li .img_view:after {position:absolute; top:0; left:0; width:100%; height:100%; background:-moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); background:-webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); background:linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); content:""; filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); backface-visibility:hidden; -webkit-backface-visibility:hidden; transition:all 0.5s; transform-origin:top;}
.news_list ul li:hover .img_view:after {background:rgba(0,0,0,0.65); transform:scaleY(1);}
.news_list ul li .img_view .tit {overflow:hidden; position:absolute; bottom:0; left:0; z-index:1; width:calc(100% - 24px); height:3em; max-height:3em; margin:10px 12px; font-family:"Nanum Square"; font-size:20px; line-height:1.5em; color:#fff;}
.news_list ul li .img_view .tit strong {font-family:inherit; color:#00687f;}
.news_list ul li .txt_view {padding:10px; padding-bottom:15px;}
.news_list ul li .txt_view p {overflow:hidden; max-height:40px; font-size:12px; line-height:20px; color:#666; transition:all 0.5s;}
.news_list ul li:hover .txt_view p {color:#008398;}
.news_list ul li .txt_view .date {display:inline-block; margin-top:20px; padding:0 8px; border:1px solid #ccc; border-radius:12px; background:#fff; font-size:12px; line-height:24px; -webkit-border-radius:12px; -moz-border-radius:12px; -ms-border-radius:12px; -o-border-radius:12px;}

@media (max-width:1024px) {
    .news_list ul {margin:15px -15px;}
    .news_list ul li {width:calc(50% - 30px); margin:15px;}
    .news_list ul li .img_view .tit {font-size:18px;}
}

@media (max-width:599px) {
    .news_list ul {margin:15px 0;}
    .news_list ul li {width:100%; margin:15px 0;}
}

/* 게시판(FAQ형) 리스트 */
.faq_list dl {border-top:1px solid #333;}
.faq_list dt,.faq_list dd {position:relative; border-bottom:1px solid #ddd;}
.faq_list dt {padding:20px 60px 20px 75px; cursor:pointer;}
.faq_list dt:before,.faq_list dt:after {position:absolute; top:40px; right:20px; width:20px; height:2px; margin-top:-1px; background:#999; transition:all 0.5s; content:"";}
.faq_list dt:after {transform:rotate(90deg);}
.faq_list .on dt:after {transform:rotate(0deg);}
.faq_list dt span,.faq_list dd span {width:40px; border-radius:50%; font-family:"Lato"; font-size:18px; font-weight:700; line-height:40px; text-align:center; text-transform:uppercase;}
.faq_list dt span {position:absolute; top:20px; left:20px; background:#00aeba; color:#fff;}
.faq_list dt p {margin:5px 0; font-family:"Nanum Square"; font-size:20px; line-height:30px;}
.faq_list dd {display:none; padding:30px; background:#eff6f7;}
.faq_list .on dd {visibility:visible; height:auto; opacity:1;}
.faq_list dd span {display:inline-block; margin-bottom:25px; background:#fff; color:#00aeba;}
.faq_list dd p {font-size:14px; line-height:1.7em;}

@media (max-width:1024px) {
    .faq_list dt {padding:15px 45px 15px 60px;}
    .faq_list dt:before, .faq_list dt:after {right:15px; width:15px; top:30px;}
    .faq_list dt span,.faq_list dd span {width:30px; font-size:16px; line-height:30px;}
    .faq_list dt span {top:15px; left:15px;}
    .faq_list dt p {font-size:16px; line-height:24px; margin:3px 0;}
    .faq_list dd {padding:15px;}
    .faq_list dd span {margin-bottom:15px;}
}

@media (max-width:599px) {
    .faq_list dt p {font-size:14px;}
    .faq_list dd p{font-size:12px; line-height:1.6em;}
}

/* 게시판(일반) 뷰 */
.board_view .info {padding:22px 30px; border-top:3px solid #333;}
.board_view .info .tit {font-size:24px; font-weight:700; font-family:"Nanum Square"; line-height:1.5em; color:#333;}
.board_view .info .tit strong {font-family:inherit; color:#00687f;}
.board_view .info .txt_info {margin-top:15px; font-size:0;}
.board_view .info .txt_info > div,.board_view .info .txt_info dt,.board_view .info .txt_info dd {display:inline-block; position:relative; line-height:1.5em; vertical-align:middle;}
.board_view .info .txt_info dt {width:17px; height:17px; margin-right:5px; background-image:url(../img/sprite/sprite.png); background-size:500px; text-indent:-9999px;}
.board_view .info .txt_info .date dt {background-position:-58px -475px;}
.board_view .info .txt_info .view dt {width:20px; height:14px; margin-top:1px; background-position:-80px -475px;}
.board_view .info .txt_info .author dt {background-position:-105px -475px;}
.board_view .info .txt_info dd {overflow:hidden; max-width:200px; margin-right:16px; font-size:16px; color:#666; text-overflow:ellipsis; white-space:nowrap;}
.board_view .content_wrap {border-top:1px solid #333; border-bottom:1px solid #333;}
.board_view .content {padding:50px 30px; font-size:14px; line-height:2em; color:#666;}
.board_view .content img,.board_view .content iframe {display:block; max-width:100%; margin:0 auto; margin-bottom:1em;}
.board_view .upload_file {border-top:1px solid #cdcdcd;}
.board_view .upload_file ul {overflow:hidden; padding:15px 20px;}
.board_view .upload_file ul li {overflow:hidden; float:left; position:relative; max-width:500px; margin-right:20px; padding-left:28px; text-overflow:ellipsis; white-space:nowrap;}
.board_view .upload_file ul li:before {position:absolute; top:3px; left:0; width:21px; height:17px; background-image:url(../img/sprite/sprite.png); background-position:-5px -475px; background-size:500px 500px; content:"";}
.board_view .upload_file ul li a {color:#999;}
.board_view .upload_file ul li a:hover {color:#00aeba; text-decoration:underline;}
.board_view .reply_wrap {margin-top:105px;}
.board_view .reply_wrap .total {margin-bottom:15px; font-family:"Nanum Square"; font-size:16px; font-weight:700; line-height:1.5em; color:#0d0d0c;}
.board_view .reply_wrap .total strong {font-family:inherit; font-weight:inherit; color:#00687f;}
.board_view .reply_wrap .list > li {border-bottom:1px solid #ddd;}
.board_view .reply_wrap .list > li .view {position:relative; padding:20px 0;}
.board_view .reply_wrap .depth_1 > .list {border-top:1px solid #ddd;}
.board_view .reply_wrap .depth_2 {padding:15px 60px; border-top:1px solid #ddd; background:#f7fafb;}
.board_view .reply_wrap .depth_2 > .list > li {position:relative;}
.board_view .reply_wrap .depth_2 > .list > li:before {position:absolute; top:5px; left:-45px; width:25px; height:25px; border-bottom:1px solid #ddd; border-left:1px solid #ddd; content:"";}
.board_view .reply_wrap .txt_wrap span,.board_view .reply_wrap .txt_wrap p {display:block; font-size:14px; line-height:1.7em;}
.board_view .reply_wrap .txt_wrap .author {overflow:hidden; font-weight:700; color:#333; text-overflow:ellipsis; white-space:nowrap;}
.board_view .reply_wrap .txt_wrap p {position:relative;}
.board_view .reply_wrap .txt_wrap .secret {display:inline-block; padding-right:20px;}
.board_view .reply_wrap .txt_wrap .secret:after {position:absolute; top:50%; right:0; width:11px; height:16px; margin-top:-8px; background:url(../img/sprite/sprite.png); background-size:500px; background-position:-164px -475px; content:"";}
.board_view .reply_wrap .txt_wrap .date {margin-top:7px; color:#666;}
.board_view .reply_wrap .ctr {position:absolute; right:0; bottom:10px; font-size:0;}
.board_view .reply_wrap .ctr li {display:inline-block; margin-left:5px;}
.board_view .reply_wrap .ctr button {padding:0 14px; border:1px solid #ccc; background:#fff; font-size:14px; line-height:28px; color:#888; transition:all 0.5s;}
.board_view .reply_wrap .ctr button:hover {border-color:#42adaa; color:#42adaa;}
.board_view .reply_wrap .ctr button strong {margin-left:5px; font-weight:400; color:#42adaa;}
.board_view .reply_wrap .input_wrap {margin:30px 0;}
.board_view .reply_wrap .depth_2 .input_wrap {margin-top:15px;}
.board_view .reply_wrap .input_wrap .author_info {overflow:hidden;}
.board_view .reply_wrap .input_wrap .author_info li {float:left;}
.board_view .reply_wrap .input_wrap .author_info li input {width:160px; margin-right:6px;}
.board_view .reply_wrap .input_wrap .author_txt {margin-top:5px; background:#fff; line-height:0;}
.board_view .reply_wrap .input_wrap .author_txt textarea {width:100%; height:120px; padding:13px 16px;}
.board_view .reply_wrap .input_wrap .txt_ctr {overflow:hidden; border:1px solid #ddd; border-top:0;}
.board_view .reply_wrap .input_wrap .txt_ctr input[type="checkbox"] {width:0; height:0; margin:0; padding:0; font-size:0; line-height:0; opacity:0;}
.board_view .reply_wrap .input_wrap .txt_ctr label {float:left; position:relative; margin-left:20px; padding-left:20px; font-weight:700; line-height:50px; color:#a29f9a;}
.board_view .reply_wrap .input_wrap .txt_ctr label:before {position:absolute; top:50%; left:0; width:14px; height:21px; background:url(../img/sprite/sprite.png); background-size:500px; background-position-x:-126px; background-position-y:-475px; transform:translateY(-50%); content:"";}
.board_view .reply_wrap .input_wrap .txt_ctr input[type="checkbox"]:checked + label {color:#42adaa;}
.board_view .reply_wrap .input_wrap .txt_ctr input[type="checkbox"]:checked + label:before {background-position-x:-145px;}
.board_view .reply_wrap .input_wrap .txt_ctr button {float:right; width:100px; background:#008398; font-family:"Nanum Square"; font-size:16px; font-weight:700; line-height:50px; color:#fff;}
.board_view .article_ctr {margin-top:50px; text-align:center;}
.board_view .article_ctr a,.board_view .article_ctr button {min-width:180px; margin:0 2px; padding:0 15px; background:#555; font-family:"Nanum Square"; font-size:18px; font-weight:700; line-height:50px; color:#fff; text-align:center;vertical-align:top; transition:all 0.5s;}
.board_view .list_link {margin:60px 0 50px; text-align:right;}
.board_view .list_link a {position:relative; width:96px; padding:0 18px; border:1px solid #00aeba; background:#fff; font-family:"Nanum Square"; font-size:16px; font-weight:700; line-height:46px; color:#666; text-align:left; transition:all 0.5s;}
.board_view .list_link a:hover {background:#00aeba; color:#fff;}
.board_view .list_link a span {position:absolute; right:15px; width:20px; height:2px; background:#00aeba; transition:all 0.5s;}
.board_view .list_link a span:nth-child(1) {top:16px;}
.board_view .list_link a span:nth-child(2) {top:22px;}
.board_view .list_link a span:nth-child(3) {top:28px;}
.board_view .list_link a:hover span {background:#fff;}
.board_view .paging_wrap {border-top:1px solid #333; border-bottom:1px solid #333;}
.board_view .paging_wrap > div {position:relative;}
.board_view .paging_wrap > div:first-child {border-bottom:1px solid #cdcdcd;}
.board_view .paging_wrap dt {position:absolute;}
.board_view .paging_wrap dt span {display:inline-block; position:relative; width:1px; text-indent:-9999px;}
.board_view .paging_wrap dt span:after {position:absolute; top:-2px; left:30px; width:40px; font-size:14px; line-height:48px; color:#333; text-indent:0; content:attr(data-title); text-transform:capitalize;}
.board_view .paging_wrap dd {padding-left:88px; font-size:16px; line-height:0; color:#666;}
.board_view .paging_wrap dd a {display:inline-block; overflow:hidden; max-width:calc(100% - 85px); line-height:48px; text-overflow:ellipsis; white-space:nowrap;}
.board_view .paging_wrap dd a:hover {color:#00aeba;}
.board_view .paging_wrap dd a,.board_view .paging_wrap dd i {vertical-align:middle;}
.board_view .paging_wrap dd a strong {color:#00687f;}
.board_view .paging_wrap dd .file {display:inline-block; width:21px; height:17px; background-image:url(../img/sprite/sprite.png); background-position:-5px -475px; background-size:500px 500px; text-indent:-9999px;}
.board_view .paging_wrap dd .new {display:inline-block; position:relative; width:1px; text-indent:-9999px;}
.board_view .paging_wrap dd .new:after {position:absolute; top:0; left:0; width:30px; font-size:12px; color:#e7833f; text-indent:0; content:"new"; text-transform:uppercase;}

@media (max-width:1024px) {
    .board_view .info {padding:15px 0;}
    .board_view .info .tit {font-size:20px;}
    .board_view .info .txt_info dd {font-size:14px;}
    .board_view .content {padding:30px 0; line-height:1.8em;}
    .board_view .upload_file ul {padding:15px 0;}
    .board_view .reply_wrap {margin-top:30px;}
    .board_view .reply_wrap .txt_wrap .date {font-size:12px;}
    .board_view .reply_wrap .ctr {position:static; margin-top:15px;}
    .board_view .reply_wrap .ctr li {margin:0; margin-right:5px; margin-top:5px;}
    .board_view .reply_wrap .ctr button {padding:0 10px; font-size:12px; line-height:2em;}
    .board_view .reply_wrap .depth_2 {padding:10px 30px;}
    .board_view .reply_wrap .depth_2 > .list > li:before {top:15px; left:-20px; width:15px; height:15px;}
    .board_view .reply_wrap .depth_2 .input_wrap {margin-bottom:0;}
    .board_view .reply_wrap .input_wrap .txt_ctr label {margin-left:15px; font-size:14px; line-height:40px;}
    .board_view .reply_wrap .input_wrap .txt_ctr button {width:80px; font-size:14px; line-height:40px;}
    .board_view .article_ctr {margin:30px -2px 0; font-size:0;}
    .board_view .article_ctr a,.board_view .article_ctr button {min-width:150px; font-size:16px; line-height:40px;}
    .board_view .list_link {margin:30px -2px 30px; font-size:0;}
    .board_view .list_link a {font-size:14px; line-height:40px;}
    .board_view .paging_wrap dd {padding-left:45px; font-size:14px;}
    .board_view .paging_wrap dd a {max-width:calc(100% - 65px); line-height:40px;}
    .board_view .paging_wrap dt span:after {top:-5px; left:0; font-weight:700;}
    .board_view .list_link a span:nth-child(1) {top:13px;}
    .board_view .list_link a span:nth-child(2) {top:19px;}
    .board_view .list_link a span:nth-child(3) {top:25px;}
}

@media (max-width:599px) {
    .board_view .info .tit {font-size:16px;}
    .board_view .info .txt_info dd {font-size:12px;}
    .board_view .upload_file ul li {float:none; font-size:12px;}
    .board_view .upload_file ul li:before {top:1px;}
    .board_view .reply_wrap .depth_2 {padding:10px 15px;}
    .board_view .reply_wrap .depth_2 > .list > li:before {left:-10px; width:5px;}
    .board_view .reply_wrap .input_wrap .author_info li {float:none;}
    .board_view .reply_wrap .input_wrap .author_info li input {width:100%; margin:0; margin-bottom:5px;}
    .board_view .reply_wrap .input_wrap .author_txt {margin:0;}
    .board_view .article_ctr a,.board_view .article_ctr button {width:calc(50% - 4px); min-width:0; font-size:14px;}
    .board_view .list_link {text-align:center;}
    .board_view .list_link a {width:calc(50% - 4px); text-align:center;}
    .board_view .list_link a span {display:none;}
    .board_view .paging_wrap dd {font-size:12px;}
}

/* 게시물 작성 페이지 */
.board_write .necessary {display:inline-block; position:relative; width:1px; font-size:0; vertical-align:top;}
.board_write .necessary:before {position:absolute; top:0; left:0; font-size:18px; line-height:12px; color:red; text-indent:0; content:"*";}
.board_write .cmt {margin-top:30px; font-size:12px; text-align:right;}
.board_write .cmt .necessary:before {top:3px; left:-8px;}
.board_write table {border-top:3px solid #333;}
.board_write th,.board_write td {padding:10px 20px; font-size:0; text-align:left;}
.board_write th .necessary {top:8px;}
.board_write label {display:inline-block; font-family:"Nanum Square"; font-size:16px; font-weight:700; line-height:40px; white-space:nowrap;}
.board_write td .txt {display:block; font-size:14px; line-height:20px;}
.board_write td .multi_upload {margin:-5px 0;}
.board_write td .multi_upload li {margin:5px 0;}
.board_write td .multi_upload li button {display:inline-block; position:relative; width:40px; height:40px; margin-left:10px; background:#fff; border:1px solid #00687f; transition:all 0.5s;}
.board_write td .multi_upload li button:hover {background:#00687f;}
.board_write td .multi_upload li button:before,.board_write td .multi_upload li button:after {content:""; width:16px; height:2px; position:absolute; left:50%; top:50%; margin-left:-8px; margin-top:-1px; background:#00687f; transition:all 0.5s;}
.board_write td .multi_upload li .add:before {transform:rotate(90deg);}
.board_write td .multi_upload li button:hover:before,.board_write td .multi_upload li button:hover:after {background:#fff;}
.board_write td input[type="text"],.board_write td input[type="password"] {width:100%;}
.board_write td input[type="file"] {position:absolute; width:0; height:0; margin:0; padding:0; font-size:0; line-height:0; opacity:0;}
.board_write td input[type="text"].file_name {display:inline-block; width:calc(100% - 190px); vertical-align:top;}
.board_write td label {display:inline-block; width:130px; border:1px solid #00687f; font-family:"Nanum Square"; font-size:16px; font-weight:700; font-weight:700; line-height:38px; color:#00687f; text-align:center; transition:all 0.5s; margin-left:10px; vertical-align:top;}
.board_write td label:hover {background:#00687f; color:#fff;}
.board_write td .file_list {padding:10px 0; vertical-align:top;}
.board_write td .file_list li {display:inline-block; overflow:hidden; position:relative; margin-right:30px; padding-right:20px; font-size:14px; line-height:20px; transition:all 0.5s;}
.board_write td .file_list li:hover {color:#00687f;}
.board_write td .file_list li .tit {overflow:hidden; float:left; max-width:200px; text-overflow:ellipsis; white-space:nowrap;}
.board_write td .file_list li button {overflow:hidden; position:absolute; top:4px; right:0; width:12px; height:12px; text-indent:-9999px;}
.board_write td .file_list li button:before,.board_write td .file_list li button:after {position:absolute; top:-2px; left:50%; width:2px; height:16px; margin-left:-1px; background:#333; content:"";}
.board_write td .file_list li button:before {transform:rotate(-45deg);}
.board_write td .file_list li button:after {transform:rotate(45deg);}
.board_write .btn_wrap {padding-top:50px; text-align:center;}
.board_write .btn_wrap a,.board_write .btn_wrap button {min-width:180px; margin:0 2px; padding:0 15px; font-family:"Nanum Square"; font-size:18px; font-weight:700; line-height:50px; color:#fff; text-align:center; vertical-align:top; transition:all 0.5s;}
.board_write .btn_wrap .cancel {background:#555;}
.board_write .btn_wrap .submit {background:#00687f;}

@media (max-width:1024px) {
    .board_write table,
    .board_write tbody,
    .board_write tr,
    .board_write th,
    .board_write td {display:block; float:left; clear:both; width:100%; border:none; text-align:left; padding:0;}
    .board_write th,.board_write td {margin-bottom:15px;}
    .board_write label {line-height:1.5em;}
    .board_write th .necessary {top:3px;}
    .board_write td .multi_upload li button {width:30px;}
    .board_write td input[type="text"].file_name {width:calc(100% - 130px);}
    .board_write td label {font-size:14px; width:80px;}
    .board_write td .file_list {padding:5px 0;}
    .board_write td .file_list li {margin-right:15px; font-size:12px;}
    .board_write .btn_wrap {clear:both; margin:0 -2px; padding-top:30px; font-size:0;}
    .board_write .btn_wrap a,.board_write .btn_wrap button {width:calc(50% - 4px); min-width:0; font-size:14px;}
}

@media (max-width:599px) {
    .board_write label {font-size:14px;}
    .board_write td input[type="text"].file_name {width:calc(100% - 110px);}
    .board_write td label {font-size:12px; width:60px;}
    .board_write td .file_list li {margin-right:10px;}
    .board_write .btn_wrap a,.board_write .btn_wrap button {width:100%; margin:5px 0; font-size:14px;}
}

/* 게시물 작성 버튼 */
.board_ctr {margin-top:50px; text-align:center;}
.board_ctr a {min-width:180px; margin:0 2px; padding:0 15px;  font-family:"Nanum Square"; font-size:18px; font-weight:700; line-height:50px; color:#fff; vertical-align:top; transition:all 0.5s; background:#00687f;}

@media (max-width:1024px) {
    .board_ctr {margin:30px -2px 0; font-size:0;}
    .board_ctr a {min-width:150px; font-size:16px; line-height:40px;}
}

@media (max-width:599px) {
    .board_ctr a {width:calc(50% - 4px); min-width:0; font-size:14px;}
}

/* 페이징 */
.pagenation {position:relative; margin-top:30px; font-size:0; text-align:center;}
.pagenation .pager {display:inline-block; overflow:hidden;}
.pagenation .pager > a {float:left; position:relative; z-index:0; width:42px; height:40px; border:1px solid #ccc; background:#fff; text-indent:-9999px;}
.pagenation .pager > a:hover {z-index:1; border-color:#00aeba;}
.pagenation .pager > a:before,.pagenation .pager > a:after {position:absolute; top:14px; left:16px; width:8px; height:8px; border:1px solid #5c5c5c; -webkit-transform:rotate(45deg); -moz-transform:rotate(45deg); -ms-transform:rotate(45deg); -o-transform:rotate(45deg); transform:rotate(45deg); content:"";}
.pagenation .pager > a:hover:before,.pagenation .pager > a:hover:after {border-color:#00aeba;}
.pagenation .pager .first:before,.pagenation .pager .first:after,.pagenation .pager .prev:before,.pagenation .pager .prev:after {border-top:0; border-right:0;}
.pagenation .pager .first:before {left:15px;}
.pagenation .pager .first:after {left:21px;}
.pagenation .pager .prev:before {left:18px;}
.pagenation .pager .prev:after {display:none;}
.pagenation .pager .next:before,.pagenation .pager .next:after,.pagenation .pager .last:before,.pagenation .pager .last:after {border-left:0; border-bottom:0;}
.pagenation .pager .next:before {left:14px;}
.pagenation .pager .next:after {display:none;}
.pagenation .pager .last:before {left:11px;}
.pagenation .pager .last:after {left:17px;}
.pagenation .pager > a.first {position:relative; left:1px;}
.pagenation .pager > a.last {position:relative; right:1px;}
.pagenation ul {overflow:hidden; float:left; margin:0 22px;}
.pagenation ul li {float:left; margin:0 3px;}
.pagenation ul li span,.pagenation ul li a {display:inline-block; width:42px; border:1px solid #ccc; font-size:16px; line-height:38px; color:#5c5c5c; text-align:center;}
.pagenation ul li span {border-color:#00aeba; background:#00aeba; color:#fff;}
.pagenation ul li a:hover {border-color:#00aeba; color:#00aeba;}

@media (max-width:1024px) {
    .pagenation .pager > a {width:30px; height:30px;}
    .pagenation ul {margin:0 10px;}
    .pagenation ul li span, .pagenation ul li a {width:30px; line-height:28px; font-size:14px;}
    .pagenation .pager > a:before, .pagenation .pager > a:after {top:10px;}
    .pagenation .pager .first:before {left:10px;}
    .pagenation .pager .first:after {left:16px;}
    .pagenation .pager .prev:before {left:12px;}
    .pagenation .pager .next:before {left:9px;}
    .pagenation .pager .last:before {left:5px;}
    .pagenation .pager .last:after {left:11px;}
}

@media (max-width:599px) {
    /* .pagenation .pager > a {display:inline-block; float:none;}
    .pagenation ul {float:none; margin:10px; text-align:left;}
    .pagenation ul li {display:inline-block; float:none; margin:3px;} */
    .pagenation .pager > a {width:22px;}
    .pagenation ul li span, .pagenation ul li a {font-size:12px;}
    .pagenation .pager .first:before {left:6px;}
    .pagenation .pager .first:after {left:12px;}
    .pagenation .pager .prev:before {left:8px;}
    .pagenation .pager .next:before {left:5px;}
    .pagenation .pager .last:before {left:1px;}
    .pagenation .pager .last:after {left:7px;}
}

