
/*=========================================================
8. 서브 페이지별 스타일
=========================================================*/

/*************** 공통 요소 ***************/

/* 페이지 공통 */
.sub_header {position:relative; height:470px; padding-top:210px; background-position:center; background-size:cover; color:#fff; text-align:center; -webkit-transform:scale(1.05); -moz-transform:scale(1.05); -ms-transform:scale(1.05); -o-transform:scale(1.05); transform:scale(1.05); -webkit-transition:transform 1s; -moz-transition:transform 1s; -ms-transition:transform 1s; -o-transition:transform 1s; transition:transform 1s;}
.sub_header.animated {-webkit-transform:scale(1); -moz-transform:scale(1); -ms-transform:scale(1); -o-transform:scale(1); transform:scale(1);}
.sub_header.type1 {background-image:url(../img/bg/bg_sub_type1.png);} /* 회사소개 */
.sub_header.type2 {background-image:url(../img/bg/bg_sub_type2.png);} /* 사업영역 */
.sub_header.type5 {background-image:url(../img/bg/bg_sub_type5.png);} /* 커뮤니티 */
.sub_header h2 {display:inline-block; position:relative; font-family:"Nanum Square"; font-size:50px; font-weight:400; line-height:1.5em;}
.sub_header h2:after {position:absolute; right:-76px; bottom:15px; width:66px; height:78px; background-image:url(../img/sprite/sprite.png); background-position:-10px -246px; background-size:1000px 1000px; content:"";}
.sub_header .sub_tit {font-size:24px; line-height:1.5em;}
.sub_content {padding-top:70px; padding-bottom:100px;}
.sub_content h3 {margin:-10px 0; margin-bottom:50px; font-family:"Nanum Square"; font-size:40px; line-height:1.5em; color:#333; text-align:center;}
.sub_content h3[lang="en"] {font-size:50px; line-height:1.2em;}

@media (max-width:1024px) {
    .sub_header {height:auto; min-height:200px; padding-top:75px;}
    .sub_header h2 {font-size:36px;}
    .sub_header h2:after {right:-40px; bottom:10px; width:33px; height:39px; background-position:-5px -123px; background-size:500px 500px;}
    .sub_header .sub_tit {font-size:18px;}
    .sub_content {padding-top:30px; padding-bottom:50px;}
    .sub_content h3 {margin-bottom:30px; font-size:28px !important; line-height:1.5em !important;}
}

@media (max-width:599px) {
    .sub_header {min-height:180px; padding-top:65px;}
    .sub_header h2 {font-size:24px;}
    .sub_header h2:after {display:none;}
    .sub_header .sub_tit {font-size:14px;}
    .sub_content {padding-bottom:30px;}
    .sub_content h3 {margin-bottom:15px; font-size:20px !important;}
}

/* 탭메뉴 */
.tab_menu {display:table; position:absolute; bottom:0; left:50%; width:100%; max-width:1000px; -webkit-transform:translateX(-50%); -moz-transform:translateX(-50%); -ms-transform:translateX(-50%); -o-transform:translateX(-50%); transform:translateX(-50%); table-layout:fixed;}
.tab_menu ul {display:table-row;}
.tab_menu ul li {display:table-cell;}
.tab_menu ul li a {display:block; position:relative; z-index:0; font-size:16px; line-height:55px; color:inherit;}
.tab_menu ul li.on a,.tab_menu ul li a:hover {font-size:18px; font-weight:700; transition:all 0.2s;}
.tab_menu ul li a:after {position:absolute; bottom:0; left:0; z-index:-1; width:calc(100% - 1px); height:100%; background:rgba(0,0,0,0.2); -webkit-transition:all 0.2s; -moz-transition:all 0.2s; -ms-transition:all 0.2s; -o-transition:all 0.2s; transition:all 0.2s; content:"";}
.tab_menu ul li.on a:after,.tab_menu ul li a:hover:after {bottom:-1px; height:calc(100% + 6px); background:#008398;}

@media (max-width:1024px) {
    .tab_menu {display:block; position:static; margin-top:50px; transform:none;}
    .tab_menu ul {display:block; overflow:hidden;}
    .tab_menu ul li {display:block; float:left; margin-top:1px;}
    .tab_menu ul li a {font-size:14px; line-height:40px;}
    .tab_menu ul li.on a,.tab_menu ul li a:hover {font-size:16px;}
    .tab_menu ul.type2 li {width:50%;}
    .tab_menu ul.type3 li {width:33.33%;}
    .tab_menu ul li.on a:after,.tab_menu ul li a:hover:after {bottom:0; height:100%;}
}

/* 서브 비주얼 + 서브 탭메뉴 */
.sub_visual {height:320px; padding-top:40px; background-position:center; background-size:1200px 320px;}
.sub_visual.type1 {background-image:url(../img/bg/bg_subvisual_01.png);} /* 영재센터 */
.sub_visual.type2 {background-image:url(../img/bg/bg_subvisual_02.png);} /* 하베르만 */
.sub_visual.type3 {background-image:url(../img/bg/bg_subvisual_03.png);} /* 유투엠 */
.sub_visual.type4 {background-image:url(../img/bg/bg_subvisual_04.png);} /* 올림피아드학원 */
.sub_visual.type5 {background-image:url(../img/bg/bg_subvisual_05.png);} /* 거꾸로수학교실 */
.sub_visual.type6 {background-image:url(../img/bg/bg_subvisual_06.png);} /* GLEC어학원 */
.sub_visual .sub_txt,.sub_visual .sub_tit {font-family:"Nanum Square"; line-height:1.4em; color:#333; text-align:center;}
.sub_visual .sub_txt {margin-top:60px; font-size:30px; font-weight:300;}
.sub_visual .sub_tit {font-size:50px; font-weight:700;}

.subtab_menu {text-align:center; margin-bottom:-20px;}
.subtab_menu ul {display:inline-block; font-size:0; border-left:1px solid #008398;}
.subtab_menu ul li {display:inline-block; border:1px solid #008398; border-left:0;}
.subtab_menu ul li a {display:block; min-width:190px; padding:0 10px;  font-size:16px; line-height:48px; color:#008398; transition:all 0.5s;}
.subtab_menu ul li.on a,.subtab_menu ul li a:hover {background:#fff; font-weight:700;}

@media (max-width:1024px) {
    .sub_visual {height:auto; margin-top:-30px; padding:30px 0; background-size:cover;}
    .sub_visual .sub_txt {margin-top:0; font-size:24px;}
    .sub_visual .sub_tit {font-size:36px;}
    .subtab_menu {margin-bottom:30px;}
    .subtab_menu ul li a {min-width:150px;line-height:2.5em; font-size:14px;}
}

@media (max-width:599px) {
    .sub_visual .sub_txt {font-size:18px;}
    .sub_visual .sub_tit {font-size:24px;}
    .subtab_menu ul {display:block; padding:0 15px; border:0;}
    .subtab_menu ul li {display:block; border-left:1px solid #008398; border-bottom:0;}
    .subtab_menu ul li:last-child {border-bottom:1px solid #008398;}
    .subtab_menu ul li a {min-width:0; font-size:12px;}
}

/* 컨텐츠 영역 일반 텍스트 */
.content_txt {padding-top:50px;}
.content_txt .main_txt {margin-bottom:35px; font-family:"Nanum Square"; font-size:24px; line-height:1.65em; color:#333;}
.content_txt .main_txt strong {display:block; margin-top:10px; font-family:inherit; font-size:36px; line-height:1.4em;}
.content_txt .sub_txt {margin-top:15px; font-size:15px; line-height:2em; color:#555;}

@media (max-width:1024px) {
    .content_txt {padding-top:30px;}
    .content_txt br {display:none;}
    .content_txt .main_txt {margin-bottom:30px; font-size:18px; line-height:1.4em;}
    .content_txt .main_txt strong {font-size:24px; margin-top:5px;}
    .content_txt .sub_txt {font-size:14px; line-height:1.8em;}
}

@media (max-width:599px) {
    .content_txt .main_txt {font-size:16px;}
    .content_txt .main_txt strong {font-size:20px;}
    .content_txt .sub_txt {line-height:1.6em;}
}

/* 하단 비주얼 */
.bottom_visual {position:relative; margin-top:45px; margin-bottom:70px;}
.bottom_visual .txt_wrap p {font-family:"Nanum Square";}
.bottom_visual .sub_txt {font-size:30px; line-height:1.5em; color:#333;}
.bottom_visual .main_txt {font-size:40px; line-height:1.5em; color:#008398; margin-bottom:30px;}
.bottom_visual .link {width:200px; border-color:#008398; color:#fff; background:#00aeba;}
.bottom_visual .link:after {background:#fff;}
.bottom_visual .link:hover {color:#008398;}
.bottom_visual .link:hover span:before,.bottom_visual .link:hover span:after {background:#008398;}
.bottom_visual .logo {position:absolute; right:0; bottom:0;}

@media (max-width:1024px) {
    .bottom_visual {margin:30px 0;}
    .bottom_visual .sub_txt {font-size:18px;}
    .bottom_visual .main_txt {font-size:24px;}
    .bottom_visual .logo {transform:scale(0.5); transform-origin:right bottom;}
}

@media (max-width:599px) {
    .bottom_visual .txt_wrap {text-align:center;} 
    .bottom_visual .sub_txt {font-size:16px;}
    .bottom_visual .main_txt {margin-bottom:15px; font-size:20px;}
    .bottom_visual .logo {display:block; position:static; margin:0 auto; transform-origin:center;}
}

/* 다이어그램 비주얼 영역 */
.diagram_view {margin-bottom:-100px; padding:50px 0; background:#f2f2f2;}
.diagram {height:0; background-repeat:no-repeat; background-position:center; background-size:contain;}

@media (max-width:1024px) {
    .diagram_view {margin-bottom:-50px; padding:30px 0;}
}

@media (max-width:599px) {
    .diagram_view {margin-bottom:-30px;}
}

/*************** 개별 페이지 ***************/ 

/* 대표이사 인사말 */
.greeting .edu_greeting .color_blue {color:#008398;}
.greeting .edu_greeting .line_tit {position:relative; margin-bottom:10px; padding-top:20px; font-family:"Nanum Square"; font-size:40px; font-weight:700; line-height:45px;}
.greeting .edu_greeting .line_tit:before {position:absolute; top:0; left:0; width:25px; height:2px; background-color:#008398; content:"";}
.greeting .edu_greeting .sub_tit {margin-bottom:20px; font-family:"Nanum Square"; font-size:30px; font-weight:700; font-weight:700; line-height:1.5em; color:#333;}
.greeting .edu_greeting .greeting_cont {margin-bottom:30px;}
.greeting .edu_greeting .greeting_cont li {margin-bottom:30px;}
.greeting .edu_greeting .greeting_cont li:last-chlid {margin-bottom:0;}
.greeting .edu_greeting .greeting_cont li .cont_tit {margin-bottom:10px; font-family:"Nanum Square"; font-size:24px; font-weight:normal; line-height:1.5em; color:#333;}
.greeting .edu_greeting .greeting_cont li .cont_txt {font-size:14px; line-height:2em; color:#333;}
.greeting .edu_greeting_sing {position:relative;}
.greeting .edu_greeting_sing:after {display:table; clear:both; content:"";}
.greeting .edu_greeting_sing .right_sing_cont {position:absolute; right:50px; bottom:40px;}
.greeting .edu_greeting_sing .right_sing_cont:after {display:table; clear:both; content:"";}
.greeting .edu_greeting_sing .sing_text {margin-bottom:15px;}
.greeting .edu_greeting_sing .sing_text .sing_name {font-size:14px; font-weight:700; line-height:1.4em; color:#333;}
.greeting .edu_greeting_sing .sing_img {float:right; width:144px; height:64px; background-size:144px 64px; line-height:0;}

@media (max-width:1024px) {
    .greeting .edu_greeting .line_tit {font-size:30px;}
    .greeting .edu_greeting .sub_tit {font-size:24px;}
    .greeting .edu_greeting .greeting_cont li .cont_tit {font-size:18px;}
    .greeting .edu_greeting .greeting_cont li .cont_txt {line-height:1.8em;}
}
@media (max-width:599px) {
    .greeting .edu_greeting .line_tit {font-size:26px;}
    .greeting .edu_greeting .sub_tit {font-size:20px;}
    .greeting .edu_greeting .greeting_cont li .cont_tit {font-size:16px;}
    .greeting .edu_greeting .greeting_cont li .cont_tit br {display:none;}
    .greeting .edu_greeting .greeting_cont li .cont_txt {font-size:12px; line-height:1.6em;}
    .greeting .edu_greeting .greeting_cont li .cont_txt br {display:none;}
    .greeting .edu_greeting_sing .right_sing_cont {text-align:right;}
    .greeting .edu_greeting_sing .right_sing_cont {position:static;}
}

/* 교육철학 */
.philosophy .jumbotron {height:570px; padding-top:80px; background-image:url(../img/bg/bg_philosophy_01.png); background-position:center; background-size:cover; color:#fff;}
.philosophy .jumbotron .tit {font-family:"Nanum Square"; font-size:60px; line-height:1.2em;}
.philosophy .jumbotron .sub_txt {margin-top:25px; font-family:"Nanum Square"; font-size:40px; line-height:1.4em;}
.philosophy .upper {overflow:hidden; margin-top:75px;}
.philosophy .upper .tit {float:left; width:33%; margin-top:-8px; font-family:"Nanum Square"; font-size:40px; line-height:1.4em;}
.philosophy .upper .txt_wrap {float:left; width:67%; margin-top:-8px;}
.philosophy .upper .txt {font-size:14px; line-height:2em; color:#333;}
.philosophy .upper .txt + .txt {margin-top:15px;}
.philosophy .lower {position:relative; margin-top:40px; padding-top:460px; background:url(../img/bg/bg_philosophy_02.png) no-repeat; background-position:top center;}
.philosophy .lower .tit {position:absolute; top:330px; right:0; padding:30px 20px 0 40px; background:#fff; font-family:"Nanum Square"; font-size:40px; line-height:1.4em;}
.philosophy .lower .txt_wrap {overflow:hidden; margin:0 -15px; padding-top:45px;}
.philosophy .lower .txt {float:left; width:calc(50% - 30px); margin:0 15px;}

@media (max-width:1024px) {
    .philosophy .jumbotron {height:400px; padding-top:50px;}
    .philosophy .jumbotron .tit {font-size:46px;}
    .philosophy .jumbotron .sub_txt {font-size:30px;}
    .philosophy .upper {margin-top:30px;}
    .philosophy .upper .tit {float:none; width:100%; margin:0; font-size:30px;}
    .philosophy .upper .tit br {display:none;}
    .philosophy .upper .txt_wrap {float:none; width:100%; margin:0; margin-top:15px;}
    .philosophy .lower {margin-top:30px; padding-top:45%; background-size:contain;}
    .philosophy .lower .tit {position:static; padding:0; padding-top:30px; background:none; font-size:30px;}
    .philosophy .lower .txt_wrap {margin:0; margin-top:15px; padding:0;}
    .philosophy .lower .txt {float:none; width:100%; margin:0;}
    .philosophy .lower .txt + .txt {margin-top:15px;}
}

@media (max-width:599px) {
    .philosophy .jumbotron {height:300px; padding-top:30px;}
    .philosophy .jumbotron .tit {font-size:30px;}
    .philosophy .jumbotron .sub_txt {font-size:20px;}
    .philosophy .upper .tit,.philosophy .lower .tit {font-size:20px;}
    .philosophy .upper .txt,.philosophy .lower .txt {line-height:1.8em;}
}

/* 연혁 */
.history_wrap {max-width:1560px; margin:0 auto; padding:0 30px;}
.history_wrap dl {position:relative; padding-top:5px; padding-bottom:150px;}
.history_wrap dl:before {display:block; position:absolute; top:0; left:50%; width:1px; height:100%; background:#cdcdcd; content:"";}
.history_wrap dl:after {display:block; clear:both; content:"";}
.history_wrap dl > div {position:relative; width:50%; margin-top:90px;}
.history_wrap dl > div:first-child {margin-top:55px;}
.history_wrap dl > div:nth-child(odd) {margin-left:50%;}
.history_wrap dl > div:nth-child(even) {margin-right:50%; text-align:right;}
.history_wrap dt {position:relative;}
.history_wrap dt span {position:absolute; width:165px; margin-top:-20px; font-family:"Lato"; font-size:50px; font-weight:700; line-height:1.2em; color:#00aeba; text-align:center;}
.history_wrap dl > div:nth-child(odd) dt span {left:0; transform:translateX(-100%);}
.history_wrap dl > div:nth-child(even) dt span {right:0; transform:translateX(100%);}
.history_wrap dt img {position:absolute; top:-10px; right:0; width:360px; width:48%;}
.history_wrap dl > div:nth-child(odd) dt img.left {right:auto; left:-100%;}
.history_wrap dl > div:nth-child(odd) dt img.right {right:0; left:auto;}
.history_wrap dl > div:nth-child(even) dt img.left {right:auto; left:0;}
.history_wrap dl > div:nth-child(even) dt img.right {right:-100%; left:auto;}
.history_wrap dd {position:relative; margin-bottom:10px; font-size:14px; line-height:1.5em;}
.history_wrap dd:before {position:absolute; top:3px; width:14px; height:14px; border:2px solid #00aeba; border-radius:50%; background:#fff; content:"";}
.history_wrap dd.pic:before {background:#00aeba;}
.history_wrap dd:after {position:absolute; top:10px; z-index:-1; width:30px; height:1px; background:#cdcdcd; content:"";}
.history_wrap dl > div dd:last-child {margin:0;}
.history_wrap dl > div:nth-child(odd) dd:before {left:-6px;}
.history_wrap dl > div:nth-child(even) dd:before {right:-8px;}
.history_wrap dl > div:nth-child(odd) dd:after {left:0;}
.history_wrap dl > div:nth-child(even) dd:after {right:0;}
.history_wrap dl > div:nth-child(odd) dd p {padding-right:calc(48% + 30px); padding-left:45px;}
.history_wrap dl > div:nth-child(even) dd p {padding-right:45px; padding-left:calc(48% + 30px);}

@media (max-width:1024px) {
    .history_wrap dl {padding:50px 8px;}
    .history_wrap dl:before {left:8px;}
    .history_wrap dl > div {width:100% !important; margin-right:0 !important; margin-left:0 !important; text-align:left !important; margin-top:30px;}
    .history_wrap dl > div:first-child {margin-top:0;}
    .history_wrap dt {margin-bottom:15px;}
    .history_wrap dt span {position:static; width:auto; padding-left:45px; font-size:40px; transform:none !important;}
    .history_wrap dd {margin-bottom:5px;}
    .history_wrap dd:before {right:auto; left:-6px !important;}
    .history_wrap dd:after {right:auto; left:0;}
    .history_wrap dl dd p {padding-right:210px !important; padding-left:45px !important; animation-name:fadeInRight !important;}
    .history_wrap dt img {top:0; right:0 !important; left:auto !important; max-width:180px;}
}

@media (max-width:599px) {
    .history_wrap dl {padding:30px 0;}
    .history_wrap dl:before {display:none;}
    .history_wrap dl > div {padding-top:30px;}
    .history_wrap dt span {display:block; padding:0; font-size:30px;}
    .history_wrap dt img {display:block; position:static; width:180px; margin:15px auto; animation-delay:0s !important;}
    .history_wrap dd:before {top:5px; left:0 !important; width:10px; height:10px;}
    .history_wrap dd:after {display:none;}
    .history_wrap dl dd p {padding-left:20px !important; padding-right:0 !important; animation-name:none !important;}
}

/* 찾아오시는 길 */
.directions .directions_map {position:relative; width:100%; height:500px; background-color:gray;}
.directions .directions_map iframe {position:absolute; top:0; left:0; width:100%; height:100%;} 
.directions .directions_list .directions_text {overflow:hidden; padding:24px 0; border-bottom:1px solid #cdcdcd;}
.directions .directions_list .directions_text dt {float:left; min-width:150px; font-size:18px; font-weight:700; line-height:30px; color:#333;}
.directions .directions_list .directions_text dd {padding:4px 0; padding-left:150px; font-size:14px; line-height:20px; color:#666;}
.directions .directions_list .directions_text .text_pd {padding-right:100px;}
.directions .directions_list .directions_text dd ul {margin:-5px 0;}
.directions .directions_list .directions_text dd ul li {padding:5px 0;}
.directions .directions_list .directions_text dd ul li:last-child {margin-bottom:0;}
.directions .directions_list .directions_text dd span {display:inline-block; vertical-align:top;}
.directions .directions_list .directions_text dd .infor_tit {font-size:18px; line-height:30px; color:#333;}
.directions .directions_list .directions_text.tel dd {display:inline-block; padding:0; vertical-align:top;}
.directions .directions_list .directions_text.tel dd:first-of-type {margin-right:100px;}
.directions .directions_list .directions_text dd .color_text {font-size:24px; line-height:30px; color:#00aeba;}

@media (max-width:1024px) {
    .directions .directions_map {height:350px; margin-top:-30px;}
    .directions .directions_list .directions_text {padding:15px 0;}
    .directions .directions_list .directions_text dt {min-width:120px; font-size:16px;}
    .directions .directions_list .directions_text dd {padding-left:120px;}
    .directions .directions_list .directions_text dd ul {margin:-3px 0;}
    .directions .directions_list .directions_text dd ul li {padding:3px 0;}
	.directions .directions_list .directions_text dd .infor_tit {font-size:14px;}
    .directions .directions_list .directions_text dd .color_text {font-size:18px;}
    .directions .directions_list .directions_text.tel dd {display:block; padding-left:120px;}
}

@media (max-width:599px) {
    .directions .directions_map {height:300px;}
    .directions .directions_list .directions_text dt {float:none; min-width:0; margin-bottom:10px;}
	.directions .directions_list .directions_text .cont_tit_lh {padding:0;}
	.directions .directions_list .directions_text dd {float:none; padding:0;}
	.directions .directions_list .directions_text dd .infor_tit {font-size:14px;}
	.directions .directions_list .directions_text dd .color_text {font-size:18px;}
    .directions .directions_list .directions_text.tel dd {padding:0;}
}

/* 사업영역 - 수학영재교육 - 영재센터 */
.elite_tab1 .diagram {background-image:url(../img/bg/bg_elite_tab1.png); padding-top:75%;}
 
/* 사업영역 - 수학영재교육 - 하베르만 */
.elite_tab2 .diagram {background-image:url(../img/bg/bg_elite_tab2.png); padding-top:75%;}

/* 사업영역 - 수학전문학원 - 유투엠 */
.pro_tab1 .diagram {background-image:url(../img/bg/bg_pro_tab1.png); padding-top:60%;}

/* 사업영역 - 수학전문학원 - 올림피아드학원 */
.pro_tab2 .diagram {background-image:url(../img/bg/bg_pro_tab2.png); padding-top:51%;}

/* 사업영역 - 수학전문학원 - 거꾸로수학교실 */
.pro_tab3 .diagram {background-image:url(../img/bg/bg_pro_tab3.png); padding-top:53%;}

/* 사업영역 - 영어전문학원 - GLEC어학원 */
.glec .diagram {background-image:url(../img/bg/bg_glec.png); padding-top:53%;}

/* 개인정보처리방침, 이용약관, 이메일무단수집거부 */
.term_wrap {margin-top:5px; text-align:left;}
.term_wrap .term_tit {margin-top:40px; margin-bottom:10px; font-family:"Nanum Square"; font-size:18px; font-weight:700; line-height:1.6em;}
.term_wrap .term_tit:first-child {margin-top:0;}
.term_wrap li .term_tit {font-weight:400;}
.term_wrap .term_txt {font-size:14px; line-height:1.7em;}
.term_wrap .term_txt + .term_txt {margin-top:25px;}
.term_wrap li .term_txt {margin-top:25px;}
.term_wrap ul li {padding:0.15em 0; font-size:14px; line-height:1.7em;}
.term_wrap ul.sub {margin:25px 0;}
.term_wrap ul.sub.last {margin:0; margin-top:25px;}
.term_wrap ul.inner > li {margin:25px 0;}
.term_wrap ul.inner .inner_list {margin-top:15px;}
.term_wrap .notice {margin-top:15px;}

.term_wrap.term li .term_tit {font-weight:700;}
.term_wrap.term li .term_txt {margin-top:0;}

.term_wrap.email .term_txt {margin-top:45px;}

/* 사이트맵 */
.sitemap_list {margin-top:50px; border-top:3px solid #333; text-align:left;}
.sitemap_list ul:after,.sitemap_list li:after {display:block; clear:both; content:"";}
.sitemap_list .menu_1depth > li {padding:12px 0; border-bottom:1px solid #cdcdcd; line-height:0;}
.sitemap_list .menu_1depth > li > a {display:block; float:left; margin:6px 0; padding-left:20px; font-family:"Nanum Square"; font-size:20px; font-weight:700; line-height:28px; color:#008398;}
.sitemap_list .menu_2depth {margin:0 -42px; padding-left:220px;}
.sitemap_list .menu_2depth > li {float:left; margin:0 42px;}
.sitemap_list .menu_2depth.junior {margin:0 -32px;}
.sitemap_list .menu_2depth.junior > li {margin:0 32px;}
.sitemap_list .menu_2depth.elite {margin:0 -27px;}
.sitemap_list .menu_2depth.elite > li {margin:0 27px;}
.sitemap_list .menu_2depth > li > a {display:block; margin:6px 0; font-family:"Nanum Square"; font-size:18px; font-weight:700; line-height:28px; color:#333;}
.sitemap_list .menu_3depth > li {padding:6px 0;}
.sitemap_list .menu_3depth > li > a {position:relative; padding-left:10px; font-size:14px; line-height:20px; color:#333;}
.sitemap_list .menu_3depth > li > a:before {position:absolute; top:6px; left:0; width:4px; height:4px; background:#333; content:"";}

@media screen and (max-width:1024px) {
    .sitemap_list .menu_1depth > li > a {margin:0; font-size:18px;}
    .sitemap_list .menu_2depth {margin:0 -15px !important; padding-left:160px;}
    .sitemap_list .menu_2depth > li {margin:0 15px !important;}
    .sitemap_list .menu_2depth > li > a {margin:0; font-size:16px;}
    .sitemap_list .menu_3depth {margin:5px 0;}
    .sitemap_list .menu_3depth > li {padding:3px 0;}
}

@media screen and (max-width:599px) {
    .sitemap_list a {text-align:center;}
    .sitemap_list .menu_1depth > li > a {float:none; padding:0; font-size:16px; line-height:1.6em; margin-bottom:8px;}
    .sitemap_list .menu_2depth {padding-left:0;}
    .sitemap_list .menu_2depth > li > a {font-size:14px; line-height:1.8em;}
    .sitemap_list .menu_2depth > li {float:none;}
    .sitemap_list .menu_3depth {margin:8px 0;}
    .sitemap_list .menu_3depth > li {padding:0; text-align:center;}
    .sitemap_list .menu_3depth > li > a {display:inline-block; font-size:12px; line-height:1.6em;}
    .sitemap_list .menu_3depth > li > a:before {top:7px;}
}
