
/*=========================================================
2. 리셋
=========================================================*/

html {font-size:1em; letter-spacing:-0.025em;}
html,body {height:100%;}
html.fixed,html.fixed body {overflow:hidden;}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video,button {margin:0; padding:0; border:0; font-size:100%; vertical-align:baseline; font-family:'Nanum Gothic',"Apple SD Gothic Neo","Droid Sans",sans-serif; box-sizing:border-box;}

input[type="text"],input[type="email"],input[type="number"],input[type="submit"],input[type="reset"],input[type="tel"],input[type="password"],input[type="url"],input[type="search"],input[type="file"],button,textarea {box-sizing:border-box; margin:0; padding:0; border:none; border-radius:0; background:none; font-family:"Nanum Gothic","Apple SD Gothic Neo","Droid Sans",sans-serif; font-size:100%; letter-spacing:-0.025em; resize:none; -webkit-appearance:none; -moz-appearance:none; -ms-appearance:none; -o-appearance:none;}
input:read-only {background:#efefef !important; cursor:not-allowed;}
:focus {outline:none;}
body {position:relative; background:#fff; font-size:14px; line-height:1.8; color:#333; word-wrap:break-word; word-break:keep-all; -webkit-text-size-adjust:none; -moz-text-size-adjust:none;}
blockquote,q {quotes:none;}
table {border-spacing:0; border-collapse:collapse;}
ul,ol,li {list-style:none;}
a:focus {outline:none !important;}
a {color:#686f75; text-decoration:none;}
:invalid {box-shadow:none;}
:-moz-submit-invalid {box-shadow:none;}
:-moz-ui-invalid {box-shadow:none;}
button::-moz-focus-inner {margin-top:-2px; margin-bottom:-2px; padding:0; border:0;}
input::-moz-focus-inner {margin-top:-2px; margin-bottom:-2px; padding:0; border:0;}
img {max-width:100%; height:auto;}
a:hover,button:hover {cursor:pointer;}
button {background:transparent;}
em,address,i {font-style:normal;}
.sprite {display:inline-block;}
button span {position:relative; font:inherit;}

/* PC, 모바일 제어 */
.pc {display:block !important;}
.mobile {display:none !important;}

@media (max-width:1024px) {
    .pc {display:none !important;}
    .mobile {display:block !important;}
}

/* Placeholder */
::-webkit-input-placeholder {font-weight:400; color:#d3d0cc;}
::-moz-placeholder {font-weight:400; color:#d3d0cc;}
:-ms-input-placeholder {font-weight:400; color:#d3d0cc;}
:-moz-placeholder {font-weight:400; color:#d3d0cc;}

/* Hidden */
.hidden {overflow:hidden; position:absolute; width:1px; height:1px; margin:-1px; padding:0; border:0; clip:rect(0 0 0 0);}
.hide {display:none;}

/* Ajax loading */
#ajaxProgressBar {position:fixed; top:0; left:0; z-index:99999999; width:100%; height:100%; background-color:rgba(0, 0, 0, 0.7); _position:absolute;}
#ajaxProgressBar img {position:absolute; top:50%; left:50%; margin:-93px 0 0 -93px;}