
/*=========================================================
9. 서브 페이지별 스타일
=========================================================*/

/*************** 공통 요소 ***************/

/* 서브 페이지 타이틀 */
.sub_header {position:relative; z-index:1; height:290px; margin-top:130px; padding-top:80px; background-color:#ccc; background-position:center; background-size:cover; color:#fff; text-align:center; transition:opacity 2s; opacity:0;}
.upper_banner_on .sub_header {margin-top:calc(130px + 10.9375%);}
.sub_header.animated {opacity:1;}
.sub_header .sub_txt {font-family:"Nanum Square"; font-size:22px; font-weight:400; line-height:1.5em;}
.sub_header h2 {font-family:"Nanum Square"; font-size:38px; font-weight:700; line-height:1.5em;}
.sub_content {min-height:740px; padding-bottom:100px;}
 
@media (min-width:1921px) {
    .upper_banner_on .sub_header {margin-top:315px;}
}

@media (max-width:1024px) {
    .sub_header {height:150px; margin-top:65px; padding-top:40px;}
    .upper_banner_on .sub_header {margin-top:calc(65px + 10.9375%);}
    .sub_header .sub_txt {font-size:18px;}
    .sub_header h2 {font-size:30px;}
    .sub_header h2:after {right:-40px; bottom:10px; width:33px; height:39px; background-position:-5px -123px; background-size:500px 500px;}
    .sub_header .sub_tit {margin-bottom:50px; font-size:18px;}
    .sub_content {min-height:0; padding-bottom:50px;}
}

@media (max-width:599px) {
    .sub_header {height:120px; padding-top:30px;}
    .sub_header .sub_txt {font-size:16px;}
    .sub_header h2 {font-size:24px;}
    .sub_header h2:after {display:none;}
    .sub_header .sub_tit {font-size:14px;}
    .sub_content {padding-bottom:30px;}
}

/* 빵가루 */
.breadcrumb {position:absolute; bottom:0; left:50%; width:100%; max-width:1200px; background:rgba(242,126,52,0.85); transform:translateX(-50%); box-shadow:0 5px 10px 0 rgba(0,0,0,0.2);}
.breadcrumb > ol:after {display:block; clear:both; content:"";}
.breadcrumb > ol > li {float:left; border-right:1px solid rgba(255,255,255,0.2);}
.breadcrumb > ol > li.home a {display:block; position:relative; width:50px; height:50px; text-indent:-9999px;}
.breadcrumb > ol > li.home a:before {position:absolute; top:50%; left:50%; width:16px; height:16px; margin-top:-8px; margin-left:-8px; background:red; content:"";}
.breadcrumb > ol > li .select_form {min-width:180px; max-width:320px; background:none;}
.breadcrumb > ol > li .select_form button {padding-left:20px; border:0; background:none; font-size:16px; line-height:50px; color:#fff;}
.breadcrumb > ol > li .select_form button:after {border-color:#fff;}
.breadcrumb > ol > li .select_form button span {font-family:"Nanum Square";}
.breadcrumb .select_form button + ul {width:calc(100% + 2px); margin-left:-1px; padding:5px 20px; background:rgba(255,255,255,0.95); box-shadow:0 5px 10px 0 rgba(0,0,0,0.2);}
.breadcrumb .select_form button + ul a {font-family:"Nanum Square";}

@media (max-width:1024px) {
    .breadcrumb {display:none;}
}

/* 서브 페이지 상단 */
.sub_upper_wrap {padding:90px 0 65px; color:#333; text-align:center;}
.sub_upper_wrap:first-child {padding-top:110px;}
.sub_upper_wrap.bg {background:#fff5e7;}
.sub_upper_wrap .main_tit {position:relative; margin:0 auto; font-weight:400; font-family:"Nanum Square"; font-size:40px; line-height:1.4em; color:inherit;}
.sub_upper_wrap .main_tit:before {position:absolute; top:-30px; left:50%; width:18px; height:20px; margin-left:-9px; background:red; content:"";}
.sub_upper_wrap .main_tit strong {font-family:"Nanum Square"; font-weight:900;}
.sub_upper_wrap .txt {margin:15px auto 0; font-family:"Nanum Square"; font-size:18px; font-weight:300; line-height:1.6em; color:inherit;}
.sub_upper_wrap .txt strong {font-family:inherit; font-weight:700; color:#f9a01b;}

@media (max-width:1024px) {
    .sub_upper_wrap {padding:30px 0 !important;}
    .sub_upper_wrap .main_tit {width:90%; margin-top:30px; font-size:30px;}
    .sub_upper_wrap .main_tit br {display:none;}
    .sub_upper_wrap .txt {width:90%; margin-top:15px; font-size:16px;}
    .sub_upper_wrap .txt br {display:none;}
}

@media (max-width:599px) {
    .sub_upper_wrap .main_tit {font-size:20px;}
    .sub_upper_wrap .txt {font-size:14px;}
}

/* 서브 페이지 상단 탭메뉴 */
.sub_upper_wrap .tab_menu {display:table; width:100%; margin-top:-30px; margin-bottom:75px; background:#fff; table-layout:fixed;}
.sub_upper_wrap .tab_menu ul {display:table-row;}
.sub_upper_wrap .tab_menu ul li {display:table-cell;}
.sub_upper_wrap .tab_menu ul li a {display:block; position:relative; border:1px solid #ddd; border-right:0; font-family:"Nanum Square"; font-size:18px; line-height:48px; color:inherit; text-align:center; transition:all 0.5s;}
.sub_upper_wrap .tab_menu ul li:last-child a {border-right:1px solid #ddd;}
.sub_upper_wrap .tab_menu ul li.on,.sub_upper_wrap .tab_menu ul li a:hover {background:#f78920; font-weight:700; color:#fff;}

@media (max-width:1024px) {
    .sub_upper_wrap .tab_menu {display:block; margin-top:0; margin-bottom:50px; background:none;}
    .sub_upper_wrap .tab_menu ul {display:block; overflow:hidden; border-top:1px solid #ddd; border-left:1px solid #ddd;}
    .sub_upper_wrap .tab_menu ul li {float:left; width:50%; background:#fff;}
    .sub_upper_wrap .tab_menu ul li a {border:0; border-right:1px solid #ddd; border-bottom:1px solid #ddd; font-size:16px; line-height:2.5em;}
}

@media (max-width:599px) {
    .sub_upper_wrap .tab_menu ul li {width:100%;}
    .sub_upper_wrap .tab_menu ul li a {font-size:14px;}
}

/* 서브 페이지 내용 */
.sub_lower_wrap {padding:60px 0 50px; background-size:cover; background-position:center;}
.sub_tit_wrap {position:relative; margin-bottom:30px; padding-top:35px; color:#333; text-align:center;}
.sub_tit_wrap.white {color:#fff;}
.sub_tit_wrap:after {position:absolute; top:0; left:50%; width:18px; height:20px; margin-left:-9px; background:red; content:"";}
.sub_tit_wrap .sub_txt {font-family:"Nanum Square"; font-size:24px; line-height:1.5em;}
.sub_tit_wrap h3 {font-family:"Nanum Square"; font-size:32px; font-weight:900; line-height:1.5em;}
.sub_tit_wrap .txt_info {font-size:16px;}
.sub_tit_wrap .txt_info strong {font-weight:700;}

@media (max-width:1024px) {
    .sub_lower_wrap {padding:30px 0;}
    .sub_tit_wrap {padding-top:30px;}
    .sub_tit_wrap .sub_txt {font-size:18px;}
    .sub_tit_wrap h3 {font-size:24px;}
    .sub_tit_wrap .txt_info {font-size:14px;}
}

@media (max-width:599px) {
    .sub_tit_wrap .sub_txt {font-size:14px;}
    .sub_tit_wrap h3 {font-size:18px;}
    .sub_tit_wrap .txt_info {font-size:12px;}
}

/* 서브 페이지 내용 탭메뉴 */
.sub_lower_wrap .tab_menu {display:table; width:100%;}
.sub_lower_wrap .tab_menu ul {display:table-row;}
.sub_lower_wrap .tab_menu li {display:table-cell;}
.sub_lower_wrap .tab_menu button,.sub_lower_wrap .tab_menu a {display:inline-block; position:relative; width:100%; border:1px solid #ddd; border-right:0; background:#f8f8f8; font-size:18px; line-height:48px; color:#333; text-align:center;}
.sub_lower_wrap .tab_menu li.on button,.sub_lower_wrap .tab_menu li.on a {border-bottom:0; background:#fff; font-weight:700; color:#f78920;}
.sub_lower_wrap .tab_menu li.on button:after,.sub_lower_wrap .tab_menu li.on a:after {position:absolute; top:-1px; left:-1px; width:calc(100% + 1px); height:3px; background:#f78920; content:"";}
.sub_lower_wrap .tab_menu li:last-child button,.sub_lower_wrap .tab_menu li:last-child a {border-right:1px solid #ddd;}

/* 서브 헤더 없는 페이지 공통 */
.no_sub_header .sub_content {margin-top:130px;}
.upper_banner_on .no_sub_header .sub_content {margin-top:calc(130px + 10.9375%);}
.no_sub_header .sub_upper_wrap {padding-top:95px;}
.no_sub_header .sub_upper_wrap .main_tit {font-weight:900;}
.no_sub_header .sub_upper_wrap .main_tit:before {top:-35px;}

@media (max-width:1024px) {
    .no_sub_header .sub_content {margin-top:65px;}
    .upper_banner_on .no_sub_header .sub_content {margin-top:calc(65px + 20.5078125%);}
    .no_sub_header .sub_upper_wrap {padding-top:30px;}
    .no_sub_header .sub_upper_wrap .main_tit:before {top:-30px;}
}

/*************** 개별 페이지 ***************/

/* 학원소개 */
.introduce .introduce_cont .introduce_list li {margin-bottom:30px;}
.introduce .introduce_cont .introduce_list li:last-child {margin-bottom:0;}
.introduce .introduce_mod:after {display:table; clear:both; content:"";}
.introduce .introduce_mod .introduce_img {float:left; line-height:0;}
.introduce .introduce_mod .introduce_text {overflow:hidden; padding:195px 0 0 60px;}
.introduce .cont_left .introduce_img {float:right;}
.introduce .cont_left .introduce_text {padding:195px 60px 0 0; text-align:right;}
.introduce .introduce_text .introduce_tit {position:relative; margin-bottom:20px; font-size:20px; font-weight:bold; line-height:1.3em; color:#333;}
.introduce .introduce_text .introduce_tit:before {position:absolute; top:-72px; left:-32px; z-index:-1; width:90px; height:90px; border:10px solid #f2f2f2; content:"";}
.introduce .introduce_text .introduce_txt {font-size:14px; line-height:1.6em; color:#333;}
.introduce .text_left .introduce_tit:before {left:inherit;}

@media (max-width:1600px) {
    .introduce .introduce_cont .introduce_list li {margin-bottom:50px;}
    .introduce .introduce_mod .introduce_text {padding:70px 0 0 60px;}
    .introduce .cont_left .introduce_text {padding:70px 60px 0 0;}
}

@media (max-width:1280px) {
    .introduce .introduce_text .introduce_tit {font-size:18px;}
	.introduce .introduce_text .introduce_txt {font-size:13px;}
    .introduce .introduce_text .introduce_txt br {display:none;}
}

@media (max-width:1024px) {
    .introduce .introduce_mod .introduce_img {width:50%;}
}

@media (max-width:599px) {
    .introduce .introduce_mod .introduce_img {float:none; width:100%; margin-bottom:30px;}
	.introduce .cont_left .introduce_img {float:none;}
	.introduce .introduce_mod .introduce_text {padding:0;}
	.introduce .cont_left .introduce_text {padding:0; text-align:left;}
    .introduce .introduce_text .introduce_tit:before {display:none;}
}

/* 히스토리 */
.history .sub_lower_wrap {margin-bottom:-100px; padding-bottom:100px; background:url('../img/bg/bg_history.png') calc(50% - 471px) 343px no-repeat;}
.history .history_wrap {display:none; margin-top:60px;}
.history .history_wrap .tit {float:left; width:280px; height:280px; border:10px solid #ddd; background:#fff url(../img/bg/bg_history_tit.png) center no-repeat; text-indent:-9999px;}
.history .history_list {padding-left:450px;}
.history .history_list dl {position:relative;}
.history .history_list dl:before {position:absolute; top:0; left:8px; width:2px; height:100%; background:#ddd; content:"";}
.history .history_list dl > div {margin:30px 0 10px; padding-left:40px;}
.history .history_list dt {position:relative; font-family:"Nanum Square"; font-size:20px; line-height:46px; font-weight:900;}
.history .history_list dt:before {position:absolute; top:50%; left:-40px; width:18px; height:18px; margin-top:-9px; background:#f78920; content:"";}
.history .history_list dd {position:relative; padding:0.25em 0 0.25em 15px; font-size:16px; line-height:1.5em;}
.history .history_list dd:before {position:absolute; top:13px; left:0; width:4px; height:4px; border-radius:50%; background:#646f72; content:"";}

@media (max-width:1024px) {
    .history .sub_lower_wrap {margin-bottom:0; padding-bottom:0; background:none;}
    .history .history_tab button {font-size:16px; line-height:38px;}
    .history .history_wrap .tit {background-size:90px; width:150px; height:150px; border-width:5px;}
    .history .history_list {padding-left:180px;}
    .history .history_list dd {font-size:14px;}
    .history .history_list dd:before {top:12px;}
}

@media (max-width:599px) {
    .history .history_tab button {font-size:12px; line-height:28px;}
    .history .history_wrap {margin-top:30px;}
    .history .history_wrap .tit {display:block; float:none; width:100%; height:auto; border-width:3px; background:none; font-size:16px; font-weight:700; font-family:"Nanum Square"; line-height:2em; text-align:center; text-indent:0;}
    .history .history_list {padding:0;}
    .history .history_list dl:before {display:none;}
    .history .history_list dl > div {margin:15px 0; padding:0;}
    .history .history_list dt:before {display:none;}
    .history .history_list dd {padding-left:10px;}
}

/* 전국 캠퍼스 */
.campus_find .campus_search_wrap {padding-bottom:130px;}
.campus_find .campus_data_wrap {margin-top:-120px; background:#fff;}
.campus_find .campus {margin:60px 0 20px;}
.campus_find .campus:after {display:block; clear:both; content:"";}
.campus_find .campus_map_wrap,.campus_find .campus_option_wrap {float:left; width:50%;}
.campus_find .campus_map_wrap {overflow:hidden; padding-right:40px;}
.campus_find .campus_map {float:right; position:relative; width:255px; height:466px; margin-right:30px; background:url(../img/bg/bg_maparea.png) no-repeat;}
.campus_find .area li button {position:absolute; z-index:1; min-width:60px; padding:0 10px; border-radius:16px; background:#bbb; font-size:16px; font-weight:700; line-height:32px; color:#fff; transition:background 0.5s;}
.campus_find .area li.on button,.campus_find .area li button:hover {background:#42adaa;}
.campus_find .area li:nth-child(1) button {top:52px; left:38px;}
.campus_find .area li:nth-child(2) button {top:294px; left:217px;}
.campus_find .area li:nth-child(3) button {top:227px; left:152px;}
.campus_find .area li:nth-child(4) button {top:84px; left:-20px;}
.campus_find .area li:nth-child(5) button {top:291px; left:-20px;}
.campus_find .area li:nth-child(6) button {top:207px; left:68px;}
.campus_find .area li:nth-child(7) button {top:248px; left:222px;}
.campus_find .area li:nth-child(8) button {top:165px; left:29px;}
.campus_find .area li:nth-child(9) button {top:102px; left:57px;}
.campus_find .area li:nth-child(10) button {top:57px; left:139px;}
.campus_find .area li:nth-child(11) button {top:150px; left:90px;}
.campus_find .area li:nth-child(12) button {top:199px; left:-20px;}
.campus_find .area li:nth-child(13) button {top:248px; left:18px;}
.campus_find .area li:nth-child(14) button {top:346px; left:54px;}
.campus_find .area li:nth-child(15) button {top:183px; left:159px;}
.campus_find .area li:nth-child(16) button {top:286px; left:115px;}
.campus_find .area li:nth-child(17) button {top:408px; left:3px;}
.campus_find .area li img {visibility:hidden; position:absolute; transition:all 0.5s; opacity:0; transform:scale(1.2);}
.campus_find .area li.on img {visibility:visible; opacity:1; transform:scale(1);}
.campus_find .area li:nth-child(1) img {top:84px;left:45px;}
.campus_find .area li:nth-child(2) img {top:301px;left:195px;}
.campus_find .area li:nth-child(3) img {top:242px;left:163px;}
.campus_find .area li:nth-child(4) img {top:88px;left:32px;}
.campus_find .area li:nth-child(5) img {top:307px;left:29px;}
.campus_find .area li:nth-child(6) img {top:198px;left:80px;}
.campus_find .area li:nth-child(7) img {top:270px;left:211px;}
.campus_find .area li:nth-child(8) img {top:170px;left:72px;}
.campus_find .area li:nth-child(9) img {top:32px;left:12px;}
.campus_find .area li:nth-child(10) img {top:3px;left:81px;}
.campus_find .area li:nth-child(11) img {top:125px;left:85px;}
.campus_find .area li:nth-child(12) img {top:149px;left:-1px;}
.campus_find .area li:nth-child(13) img {top:226px;left:19px;}
.campus_find .area li:nth-child(14) img {top:287px;left:12px;}
.campus_find .area li:nth-child(15) img {top:141px;left:124px;}
.campus_find .area li:nth-child(16) img {top:250px;left:102px;}
.campus_find .area li:nth-child(17) img {top:436px;left:0;}
.campus_find .campus_option_wrap {padding-left:40px; text-align:left;}
.campus_find .campus_option_wrap .tit {position:relative; margin:80px 0 25px; font-family:"Nanum Square"; font-size:32px; line-height:1.3em; color:#333;}
.campus_find .campus_option_wrap .tit:before {position:absolute; top:-30px; left:0; width:18px; height:20px; background:red; content:"";}
.campus_find .campus_option {width:314px; font-size:0;}
.campus_find .campus_option .option_wrap .select_form {display:inline-block; width:calc(50% - 2px); margin-right:4px;}
.campus_find .campus_option .option_wrap .select_form:last-child {margin:0;}
.campus_find .campus_option .search_wrap {width:100%; margin-top:10px;}
.campus_find .cate_select {padding-top:30px;}
.campus_find .cate_select ul {font-size:0; text-align:center; margin:-5px 0;}
.campus_find .cate_select ul li {display:inline-block; margin:5px;}
.campus_find .cate_select ul li input[type="checkbox"] {width:0; height:0; margin:0; padding:0; font-size:0; line-height:0; opacity:0;}
.campus_find .cate_select ul li label {display:inline-block; line-height:30px; padding:0 10px; font-size:14px; color:#fff; background:#bbb; transition:all 0.5s;}
.campus_find .cate_select ul li input[type="checkbox"]:checked + label {background:#f78920;}
.campus_find .cate_select ul li label:before {content:"#";}

.campus_find .fold_list {padding-top:20px;}
.campus_find .fold_list ul {border-top:3px solid #333;}
.campus_find .fold_list ul li {position:relative; border-bottom:1px solid #ddd; background:#fff; cursor:pointer;}
.campus_find .fold_list ul .data_wrap:before,.campus_find .fold_list ul .data_wrap:after {position:absolute; top:28px; right:12px; width:18px; height:4px; border-radius:2px; background:#555; transition:all 0.5s; content:"";}
.campus_find .fold_list ul .data_wrap:after {transform:rotate(90deg);}
.campus_find .fold_list ul .data_wrap.on:after {transform:rotate(0deg);}
.campus_find .fold_list ul li .data {overflow:hidden; padding:16px 0;}
.campus_find .fold_list ul li .data span {float:left;}
.campus_find .fold_list ul li .data .name {position:relative; width:30%; padding-left:30px; font-family:"Nanum Square"; font-size:18px; font-weight:700; line-height:28px; color:#333;}
.campus_find .fold_list ul li .data .name:before {position:absolute; top:13px; left:0; width:22px; height:18px; margin-top:-9px; background:red; content:"";}
.campus_find .fold_list ul li .data .address {width:46%; margin:0 2%; padding:4px 0; font-size:14px; line-height:20px;}
.campus_find .fold_list ul li .data .tel {width:20%; padding:4px 0; font-size:14px; line-height:20px;;}
.campus_find .fold_list ul li .map {display:none; margin-bottom:20px; font-size:0;}
.campus_find .fold_list ul li .map iframe {height:360px;}

@media (max-width:1280px) {
    .campus_find .fold_list ul li .data .address {width:44%}
    .campus_find .fold_list ul li .data .tel {width:22%;}
    .campus_find .fold_list ul .data_wrap:before,.campus_find .fold_list ul .data_wrap:after {right:0;}
}

@media (max-width:1024px) {
    .campus_find .campus {margin:0;}
    .campus_find .campus_map_wrap {width:320px; margin-top:-30px; margin-bottom:-70px; padding-right:15px;}
    .campus_find .campus_map {transform:scale(0.75);}
    .campus_find .campus_option_wrap {padding-left:15px; width:calc(100% - 320px);}
    .campus_find .campus_option_wrap .tit {margin-top:60px; font-size:24px;}
    .campus_find .campus_option_wrap .tit br {display:none;}
    .campus_find .campus_option {width:100%;}
    .campus_find .campus_option .option_wrap .select_form {width:100%; margin:0; margin-bottom:10px;}
    .campus_find .fold_list ul li .data {padding:15px 33px 15px 0;}
    .campus_find .fold_list ul li .data span {display:block; margin:0 !important; width:100% !important;}
    .campus_find .fold_list ul li .data .name {font-size:16px;}
}

@media (max-width:599px) {
    .campus_find .campus_map_wrap {display:none;}
    .campus_find .campus_option_wrap {float:none; width:100%; padding:0;}
    .campus_find .campus_option_wrap .tit {margin-top:30px; font-size:16px; text-align:center;}
    .campus_find .campus_option_wrap .tit:before {display:none;}
    .campus_find .campus_search_wrap {padding-bottom:120px;}
    .campus_find .cate_select {padding-top:15px;}
    .campus_find .cate_select ul li label {font-size:12px; line-height:2em;}
    .campus_find .fold_list {padding-top:15px;}
    .campus_find .fold_list ul li .data .tel {font-size:12px;}
}

/* 초,중등부 - 프로그램 특징(공통) */
.program_features .subject_learning ul {position:relative; margin-top:30px; margin-bottom:35px;}
.program_features .subject_learning ul:before {position:absolute; top:50%; left:100%; width:32.65%; height:100%; margin-top:30px; margin-left:5.61%; background-image:url(../img/bg/bg_program_features_01.png); background-repeat:no-repeat; background-size:contain; transform:translateX(-100%); content:"";}
.program_features .subject_learning ul:after {display:block; clear:both; content:"";}
.program_features .subject_learning ul li {float:left; width:25%; min-height:245px; margin-top:20px; padding:25px 5px; border:3px solid #ddd; border-left:0;}
.program_features .subject_learning ul li:nth-child(4n+1) {border-left:3px solid #ddd;}
.program_features .subject_learning ul li p {position:relative; padding-top:110px; font-family:"Nanum Square"; font-size:16px; line-height:1.625em; color:#333;}
.program_features .subject_learning ul li p:before {position:absolute; top:0; left:50%; width:100px; height:100px; border-radius:50%; background-color:#f2f2f2; transform:translateX(-50%); content:"";}
.program_features .subject_learning ul li p:after {position:absolute; top:15px; left:50%; width:70px; height:70px; border-radius:50%; background-color:red; transform:translateX(-50%); content:"";}
.program_features .dream_pop .dream_text {position:relative;}
.program_features .dream_pop .dream_text img {position:absolute; right:-110px; top:170px; z-index:1; line-height:0;}
.program_features .dream_pop .dream_pop_list {position:relative; margin-top:65px; text-align:left;}
.program_features .dream_pop .dream_pop_list:before {position:absolute; top:23px; left:-25px; height:300px; border-left:3px dotted #ccc; content:"";}
.program_features .dream_pop .dream_pop_list > li {max-width:855px; margin-top:25px;}
.program_features .dream_pop .dream_pop_list li .border_text {position:relative; padding:8px 0; border:3px solid #ddd; border-radius:25px; background-color:#fff; font-size:0; line-height:0;}
.program_features .dream_pop .dream_pop_list li .border_text .num {display:inline-block; position:absolute; top:-3px; left:-3px; width:50px; border-radius:50%; font-family:"Nanum Square"; font-size:18px; font-weight:700; line-height:50px; color:#fff; text-align:center;}
.program_features .dream_pop .dream_pop_list li:nth-child(odd) .border_text .num {background-color:#f9a01b;}
.program_features .dream_pop .dream_pop_list li:nth-child(even) .border_text .num {background-color:#f9831b;}
.program_features .dream_pop .dream_pop_list li p {display:inline-block; padding-left:85px; font-family:"Nanum Square"; font-size:18px; line-height:1.6em;}
.program_features .dream_pop .dream_pop_list li .txt_list {margin-top:15px; padding-left:85px;}
.program_features .dream_pop .dream_pop_list li .txt_list li {padding-top:0.15em; padding-bottom:0.15em; font-family:"Nanum Square"; font-size:18px; line-height:1.6em;}
.program_features .dream_pop .dream_pop_list li .txt_list li:before {top:0.7em; width:6px; height:6px;}

@media (max-width:1280px) {
	.program_features .subject_learning ul li p {font-size:14px;}
}

@media (max-width:1024px) {
    .program_features .subject_learning ul {margin-bottom:0;}
    .program_features .subject_learning ul:before {display:none;}
    .program_features .subject_learning ul li {width:33.33%; min-height:230px; margin:0; padding:15px 10px; border:0 !important;}
    .program_features .subject_learning ul li p br {display:none;}
    .program_features .dream_pop .dream_text img {display:block; position:static; width:187px; margin:30px auto 0;}
    .program_features .dream_pop .dream_pop_list {margin-top:30px;}
    .program_features .dream_pop .dream_pop_list:before {display:none;}
    .program_features .dream_pop .dream_pop_list > li {max-width:100%; margin-top:15px;}
    .program_features .dream_pop .dream_pop_list li .border_text {padding:15px;}
    .program_features .dream_pop .dream_pop_list li .border_text .num {display:block; position:static; margin:0 auto; width:40px; line-height:40px;}
    .program_features .dream_pop .dream_pop_list li p {display:block; margin-top:10px; padding-left:0; font-size:16px; line-height:1.5em; text-align:center;}
    .program_features .dream_pop .dream_pop_list li .txt_list {padding:0;}
    .program_features .dream_pop .dream_pop_list li .txt_list li {font-size:14px; text-align:center; padding:0;}
    .program_features .dream_pop .dream_pop_list li .txt_list li:before {display:none;}
}

@media (max-width:599px) {
    .program_features .subject_learning ul li {width:100%; min-height:0;}
    .program_features .dream_pop .dream_pop_list li .border_text .num {width:30px; line-height:30px; font-size:16px;}
    .program_features .dream_pop .dream_pop_list li p {font-size:14px;}
    .program_features .dream_pop .dream_pop_list li .txt_list li {font-size:12px;}
}

/* 초등부 - 프로그램 특징 */
.program_features.junior .dream_pop {margin-bottom:-100px;}

@media (max-width:1024px) {
    .program_features.junior .dream_pop {margin-bottom:-50px;}
}

@media (max-width:599px) {
    .program_features.junior .dream_pop {margin-bottom:-30px;}
}

/* 중등부 - GLEC 플립러닝 */
.flip_learning .grammar {background:url(../img/bg/bg_flipped_grammar.png) no-repeat; background-position:top center;}
.flip_learning .grammar .list_wrap {height:870px;}
.flip_learning .grammar_list > li {position:absolute; left:50%; padding:0 5px; font-size:0; text-align:left;}
.flip_learning .grammar_list > li:nth-child(1) {top:243px; margin-left:-322px;}
.flip_learning .grammar_list > li:nth-child(2) {top:243px; margin-left:200px;}
.flip_learning .grammar_list > li:nth-child(3) {top:454px; margin-left:58px;}
.flip_learning .grammar_list > li:nth-child(4) {top:579px; margin-left:-355px;}
.flip_learning .grammar_list > li:nth-child(5) {top:796px; margin-left:76px;}
.flip_learning .grammar_list > li:before {position:absolute; top:-60px; left:0; width:40px; height:44px; background:red; content:"";}
.flip_learning .grammar_list > li .tit {display:block; font-family:"Nanum Square"; font-size:20px; font-weight:900; line-height:1.5em;}
.flip_learning .grammar_list > li:nth-child(odd) .tit {color:#f9a01b;}
.flip_learning .grammar_list > li:nth-child(even) .tit {color:#f97e1b;}
.flip_learning .grammar_list > li:nth-child(1) .tit,.flip_learning .grammar_list > li:nth-child(5) .tit {display:inline-block; vertical-align:top;}
.flip_learning .grammar_list .txt_list {margin-top:10px;}
.flip_learning .grammar_list > li:nth-child(1) .txt_list,.flip_learning .grammar_list > li:nth-child(5) .txt_list {display:inline-block; margin:0; margin-left:23px; vertical-align:top;}
.flip_learning .grammar_list .txt_list li {font-size:16px; line-height:1.6em;}
.flip_learning .grammar_list .txt_list li:before {width:6px; height:6px;}
.flip_learning .reading .img_wrap {position:relative; height:0; margin-top:50px; margin-bottom:-65px; padding-top:21.43%;}
.flip_learning .reading .img_wrap img {position:absolute; top:0; left:0; width:100%;}
.flip_learning .rc .cont_wrap {margin-top:21.43%;}
.flip_learning .rc dl {max-width:480px; margin:10px auto 0; font-size:16px; text-align:center;}
.flip_learning .rc dt {background:#ffab33; background:-moz-linear-gradient(left, #ffab33 0%, #ff6d33 100%); background:-webkit-linear-gradient(left, #ffab33 0%,#ff6d33 100%); background:linear-gradient(to right, #ffab33 0%,#ff6d33 100%); font-family:"Nanum Square"; font-size:20px; font-weight:700; line-height:60px; color:#fff; filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffab33', endColorstr='#ff6d33',GradientType=1 );}
.flip_learning .rc dd {margin-top:5px; background:#f0f0f0; font-family:"Lato"; line-height:50px;}

@media (max-width:1024px) {
    .flip_learning .grammar {background:none;}
    .flip_learning .grammar .list_wrap {height:auto;}
    .flip_learning .grammar_list {overflow:hidden; max-width:450px; margin:0 auto;}
    .flip_learning .grammar_list > li {float:left; position:relative; top:auto !important; left:auto; width:50%; margin-top:30px; margin-left:0 !important; padding-top:30px;}
    .flip_learning .grammar_list > li:before {top:0; left:50%; transform:translateX(-50%) scale(0.5); transform-origin:top;}
    .flip_learning .grammar_list > li .tit {display:block !important; font-size:18px; text-align:center;}
    .flip_learning .grammar_list .txt_list {display:block !important; margin-top:10px !important; margin-left:0 !important;}
    .flip_learning .grammar_list .txt_list li {padding-left:0; font-size:14px; text-align:center;}
    .flip_learning .grammar_list .txt_list li:before {display:none;}
    .flip_learning .reading .img_wrap {height:auto; margin:0; margin-top:30px; padding:0; line-height:0;}
    .flip_learning .reading .img_wrap img {position:static;}
    .flip_learning .rc .cont_wrap {margin-top:0;}
    .flip_learning .rc img {display:block; width:100%; max-width:490px; margin:0 auto;}
    .flip_learning .rc dl {margin-top:15px;}
    .flip_learning .rc dt {font-size:18px; line-height:50px;}
    .flip_learning .rc dd {font-size:16px; line-height:40px;}
}

@media (max-width:599px) {
    .flip_learning .grammar_list > li {float:none; width:100%;}
    .flip_learning .grammar_list > li .tit {font-size:16px;}
    .flip_learning .grammar_list .txt_list li {font-size:12px;}
    .flip_learning .rc dt {font-size:16px; line-height:40px;}
    .flip_learning .rc dd {font-size:14px; line-height:30px;}
}

/* 검색결과 */
.search .keyword {color:#f78920; font-family:inherit;}
.search .search_wrap {min-width:520px; margin-top:40px; margin-bottom:10px; padding-right:120px; border:3px solid #f78920; border-right:0;}
.search .search_wrap input[type="text"] {height:42px; padding:0 18px; border:0; font-size:16px; line-height:42px;}
.search .search_wrap button {top:0; right:0; width:120px; height:42px; background:#f78920; line-height:42px; text-indent:0;}
.search .search_wrap button:before,.search .search_wrap button:after {display:none;}
.search .search_wrap button span {font-family:"Nanum Square"; font-size:18px; font-weight:700; color:#fff;}
.search .sub_tit_wrap {text-align:left;}
.search .sub_tit_wrap:after {left:0; margin-left:0;}
.search .sub_tit_wrap .keyword:before,.search .sub_tit_wrap .keyword:after {content:"'";}
.search .result_wrap {position:relative; margin-bottom:60px;}
.search .result_wrap:last-child {margin-bottom:0;}
.search .result_wrap h4 {margin-top:-4px; margin-bottom:15px; font-family:"Nanum Square"; font-size:20px; font-weight:700; line-height:28px;}
.search .result_wrap .board_list {border-top:2px solid #333;}
.search .result_wrap .board_list table strong {color:#333;}
.search .result_wrap .board_list table thead {display:none;}
.search .result_wrap .board_list table tbody tr td {padding:17px 30px; background:none; text-align:left; -webkit-transition:none; transition:none;}
.search .result_wrap .board_list table tbody tr td.tit {padding:17px 0;}
.search .result_wrap .board_list table tbody tr td.date {color:rgba(100,111,114,0.6); text-align:right;}
.search .result_wrap .gallery strong {color:#333;}
.search .result_wrap .more {position:absolute; top:0; right:0; padding-right:15px; font-size:12px; line-height:28px; -webkit-transition:all 0.5s; transition:all 0.5s;}
.search .result_wrap .more:hover {color:#f78920;}
.search .result_wrap .more:after {position:absolute; top:10px; right:0; width:8px; height:8px; border:1px solid #333; border-bottom:0; border-left:0; -webkit-transform:rotate(45deg); transform:rotate(45deg); -webkit-transition:all 0.5s; transition:all 0.5s; content:"";}
.search .result_wrap .more:hover:after {right:-3px; border-color:#f78920;}

@media (max-width:1024px) {
    .search .search_wrap {margin:0; margin-top:30px; padding-right:100px;}
    .search .search_wrap input[type="text"] {height:34px; padding:0 15px; border:0; font-size:16px; line-height:34px; font-size:14px;}
    .search .search_wrap button {line-height:34px; width:100px; height:34px;}
    .search .search_wrap button span {font-size:16px;}
    .search .result_wrap {margin-bottom:30px;}
    .search .result_wrap h4 {font-size:18px;}
    .search .result_wrap .board_list {border:0;}
    .search .result_wrap .board_list table tbody tr td {padding:0;}
    .search .result_wrap .board_list table tbody tr td.cate {display:inline-block; width:auto; padding:3px 10px; background:#f78920; font-family:"Nanum Square"; font-size:16px; color:#fff;}
    .search .result_wrap .board_list table tbody tr td.tit {padding:15px 0;}
    .search .result_wrap .board_list table tbody tr td.date {color:#333; text-align:left;}
}

@media (max-width:599px) {
    .search .search_wrap {width:100%; min-width:0; margin-top:15px; padding-right:80px;}
    .search .search_wrap button {width:80px;}
    .search .search_wrap button span {font-size:14px;}
}

/* 개인정보처리방침, 이용약관, 이메일무단수집거부 */
.term_wrap {margin-top:5px; text-align:left;}
.term_wrap .term_tit {margin-top:40px; margin-bottom:10px; font-family:"Nanum Square"; font-size:18px; font-weight:700; line-height:1.6em;}
.term_wrap li .term_tit {font-weight:400;}
.term_wrap .term_txt {font-size:14px; line-height:1.7em;}
.term_wrap .term_txt + .term_txt {margin-top:25px;}
.term_wrap li .term_txt {margin-top:25px;}
.term_wrap ul li {padding:0.15em 0; font-size:14px; line-height:1.7em;}
.term_wrap ul.sub {margin:25px 0;}
.term_wrap ul.sub.last {margin:0; margin-top:25px;}
.term_wrap ul.inner > li {margin:25px 0;}
.term_wrap ul.inner .inner_list {margin-top:15px;}
.term_wrap .notice {margin-top:15px;}

.term_wrap.term li .term_tit {font-weight:700;}
.term_wrap.term li .term_txt {margin-top:0;}

.term_wrap.email .term_txt {margin-top:45px;}

/* 사이트맵 */
.sitemap_list {margin-top:50px; border-top:3px solid #333; text-align:left;}
.sitemap_list ul:after,.sitemap_list li:after {display:block; clear:both; content:"";}
.sitemap_list .menu_1depth > li {padding:12px 0; border-bottom:1px solid #cdcdcd; line-height:0;}
.sitemap_list .menu_1depth > li > a {display:block; float:left; margin:6px 0; padding-left:20px; font-family:"Nanum Square"; font-size:20px; font-weight:700; line-height:28px; color:#f78920;}
.sitemap_list .menu_2depth {margin:0 -42px; padding-left:220px;}
.sitemap_list .menu_2depth > li {float:left; margin:0 42px;}
.sitemap_list .menu_2depth.junior {margin:0 -32px;}
.sitemap_list .menu_2depth.junior > li {margin:0 32px;}
.sitemap_list .menu_2depth.elite {margin:0 -27px;}
.sitemap_list .menu_2depth.elite > li {margin:0 27px;}
.sitemap_list .menu_2depth > li > a {display:block; margin:6px 0; font-family:"Nanum Square"; font-size:18px; font-weight:700; line-height:28px; color:#333;}
.sitemap_list .menu_3depth > li {padding:6px 0;}
.sitemap_list .menu_3depth > li > a {position:relative; padding-left:10px; font-size:14px; line-height:20px; color:#333;}
.sitemap_list .menu_3depth > li > a:before {position:absolute; top:6px; left:0; width:4px; height:4px; background:#333; content:"";}

@media (max-width:1024px) {
    .sitemap_list .menu_1depth > li > a {margin:0; font-size:18px;}
    .sitemap_list .menu_2depth {margin:0 -15px !important; padding-left:160px;}
    .sitemap_list .menu_2depth > li {margin:0 15px !important;}
    .sitemap_list .menu_2depth > li > a {margin:0; font-size:16px;}
    .sitemap_list .menu_3depth {margin:5px 0;}
    .sitemap_list .menu_3depth > li {padding:3px 0;}
}

@media (max-width:599px) {
    .sitemap_list a {text-align:center;}
    .sitemap_list .menu_1depth > li > a {float:none; padding:0; font-size:16px; line-height:1.6em; margin-bottom:8px;}
    .sitemap_list .menu_2depth {padding-left:0;}
    .sitemap_list .menu_2depth > li > a {font-size:14px; line-height:1.8em;}
    .sitemap_list .menu_2depth > li {float:none;}
    .sitemap_list .menu_3depth {margin:8px 0;}
    .sitemap_list .menu_3depth > li {padding:0; text-align:center;}
    .sitemap_list .menu_3depth > li > a {display:inline-block; font-size:12px; line-height:1.6em;}
    .sitemap_list .menu_3depth > li > a:before {top:7px;}
}