@charset "UTF-8";
/*=========================================================
1. 폰트
=========================================================*/

/* Lato */
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

/* 나눔고딕 */
@font-face {
    font-family:"Nanum Gothic";
    font-weight:normal;
    font-style:normal;
    src:url("../font/ngothic_regular.otf"); 
    src:local("?"), 
    url("../font/ngothic_regular.eot?#iefix") format("embedded-opentype"), 
    url("../font/ngothic_regular.ttf") format("truetype"),
    url("../font/ngothic_regular.woff") format("woff");
}

/* 나눔스퀘어 */
@font-face {
    font-family:"Nanum Square";
    font-weight:normal;
    font-style:normal;
    src:url("../font/nsquare_regular.otf");
    src:local("?"),
    url("../font/nsquare_regular.eot?#iefix") format("embedded-opentype"),
    url("../font/nsquare_regular.ttf") format("truetype"),
    url("../font/nsquare_regular.woff") format("woff");
}

/*=========================================================
2. 리셋
=========================================================*/

html {font-size:1em; letter-spacing:-0.04em;}
html,body {height:100%;}
html.fixed,html.fixed body {overflow:hidden;}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video,button {margin:0; padding:0; border:0; font-size:100%; vertical-align:baseline; font-family:'Nanum Gothic',Dotum,'돋움',Helvetica,"Apple SD Gothic Neo",sans-serif; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -o-box-sizing:border-box; -ms-box-sizing:border-box;}

input[type="text"],input[type="email"],input[type="number"],button,input[type="submit"],input[type="reset"],button,input[type="tel"],button,input[type="password"],input[type="url"],input[type="search"],input[type="file"],button,textarea {-webkit-appearance:none; -moz-appearance:none; -ms-appearance:none; -o-appearance:none; border-radius:0; -webkit-border-radius:0; -moz-border-radius:0; margin:0; padding:0; font-family:'Nanum Gothic',Dotum,'돋움',Helvetica,"Apple SD Gothic Neo",sans-serif; border:none; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -o-box-sizing:border-box; background:none; font-size:100%; letter-spacing:-0.04em;}
body {-webkit-text-size-adjust:none; -moz-text-size-adjust:none; position:relative; background:#fff; word-break:keep-all; word-wrap:break-word; font-size:14px; line-height:1.8; color:#4c5358;}
blockquote,q {quotes:none;}
/* input:focus,button:focus {border:none;} */
table {border-collapse:collapse; border-spacing:0;}
ul,ol,li {list-style:none;}
a:focus {outline:none !important;}
a {text-decoration:none; color:#686f75;}
:invalid {-webkit-box-shadow:none;box-shadow:none;}
:-moz-submit-invalid {box-shadow:none;}
:-moz-ui-invalid {box-shadow:none;}
button::-moz-focus-inner {border:0; padding:0; margin-top:-2px; margin-bottom:-2px;}
input::-moz-focus-inner {border:0; padding:0; margin-top:-2px; margin-bottom:-2px;}
img {max-width:100%; height:auto;}
a:hover,button:hover {cursor:pointer;}
button {background:transparent;}
textarea:focus {outline:none;}
:focus {outline:none;}
em,address,i {font-style:normal;}
.sprite {display:inline-block;}

/* PC, 모바일 제어 */
.pc {display:block !important;}
.mobile {display:none !important;}

@media screen and (max-width:1024px) {
    .pc {display:none !important;}
    .mobile {display:block !important;}
}

/* Placeholder */
::-webkit-input-placeholder {font-weight:400; color:#ccc;}
::-moz-placeholder {font-weight:400; color:#ccc;}
:-ms-input-placeholder {font-weight:400; color:#ccc;}
:-moz-placeholder {font-weight:400; color:#ccc;}

/* Hidden */
.hidden {overflow:hidden; position:absolute; width:1px; height:1px; margin:-1px; padding:0; border:0; clip:rect(0 0 0 0);}

/*=========================================================
3. 공통 레이아웃
=========================================================*/

*[lang="en"] {font-family:"Lato"; letter-spacing:0;}
*:before,*:after {-webkit-box-sizing:inherit;box-sizing:inherit;}
.wrap {overflow-x:hidden; min-width:320px;}
.grid_container {position:relative; max-width:1200px; margin:0 auto; padding:0 100px;}
.wait-animation {-webkit-animation-play-state:paused; animation-play-state:paused; opacity:0;}

@media (max-width:1024px) {
    .grid_container {padding:0 30px;}
}

/* 버튼 */
.btn_wrap a,.btn_wrap button {display:inline-block; -webkit-box-sizing:inherit; box-sizing:inherit; margin:0; padding:0; border:0; background:none; color:#333; text-align:center; text-decoration:none;}
.btn_wrap button span {position:relative;}

/* 입력폼 */
input[type="text"],input[type="email"],input[type="number"],input[type="tel"],input[type="password"],input[type="url"],input[type="search"],input[type="file"],textarea {-webkit-box-sizing:border-box; box-sizing:border-box; height:38px; margin:0; padding:0; padding:0 15px; border:none; border:1px solid #cdcdcd; border-radius:0; background:none; background:#fff; font-family:inherit; font-size:14px; line-height:38px; color:#666; -webkit-appearance:none; -moz-appearance:none; -ms-appearance:none; -o-appearance:none; -webkit-border-radius:0; -moz-border-radius:0; -o-box-sizing:border-box;}
textarea {line-height:1.5em;}

/* 셀렉트박스 */
select {border-radius:0; background:none; font-family:inherit; -webkit-appearance:none; -moz-appearance:none; appearance:none; -webkit-border-radius:0; -moz-border-radius:0; -ms-border-radius:0; -o-border-radius:0;}
select::-ms-expand {display:none;}
.select_form {display:inline-block; overflow:hidden; position:relative; font-size:0;}
.select_form:before,.select_form:after {position:absolute; content:"";}
.select_form:after {top:50%; right:15px; width:10px; height:10px; margin-top:-8px; border-right:2px solid #008398; border-bottom:2px solid #008398; -webkit-transform:rotate(45deg); transform:rotate(45deg);}
.select_form select {min-width:165px; height:40px; padding:0 40px 0 15px; border:1px solid #cdcdcd; background:#fff; font-size:14px; line-height:38px; color:#666;}

@media (max-width:599px) {
    .select_form select {width:100%;}
}

@media all and (min-width:0\0) and (min-resolution:.001dpcm) {
    .select_form:before {top:1px; right:41px; width:20px; height:38px; background:#fff;}
}

/* 검색 */
.search_wrap {display:inline-block; border:1px solid #cdcdcd; font-size:0;}
.search_wrap input[type="text"] {min-width:190px; padding-right:0; border:none;}
.search_wrap button {position:relative; width:44px; height:38px; background:#fff; text-indent:-9999px; vertical-align:top;}
.search_wrap button:before,.search_wrap button:after {position:absolute; content:"";}
.search_wrap button:before {top:25px; left:22px; width:10px; height:2px; background:#008398; -webkit-transform:rotate(45deg); transform:rotate(45deg);}
.search_wrap button:after {top:9px; left:12px; width:18px; height:18px; border:2px solid #008398; border-radius:50%; background:#fff; -webkit-border-radius:50%; -moz-border-radius:50%; -ms-border-radius:50%; -o-border-radius:50%;}

@media (max-width:599px) {
    .search_wrap input[type="text"] {width:calc(100% - 44px);}
}

/* 검색 메뉴(셀렉트박스 + 검색) */
.board_util {margin-bottom:10px; text-align:right;}
.search_form {margin-right:-5px; font-size:0;}
.search_form > div {margin-right:5px; vertical-align:middle;}

@media (max-width:599px) {
    .search_form > div {width:100%; margin-right:0; margin-bottom:5px;}
}

/* 테이블 초기화 */
table {width:100%; border-bottom:1px solid #cdcdcd; background:#fff; table-layout:fixed; border-collapse:collapse;}
table th,table td {padding:17px 5px; border-top:1px solid #cdcdcd; font-size:14px; line-height:1.5em; color:#666; vertical-align:middle;}
caption {visibility:hidden; overflow:hidden; width:0; height:0; font-size:0; line-height:0;}
label {cursor:pointer;}

/* 테이블(일반) 리스트 */
.board_list table thead th {border-top:3px solid #333; font-size:16px; font-weight:700; color:#333;}
.board_list table tbody tr:first-child th,.board_list table tbody tr:first-child td {border-color:#333;}
.board_list table td {text-align:center;}
.board_list table td.tit {text-align:left;}
.board_list table td.tit a {font-size:16px; line-height:1.5em; color:#333;}
.board_list table td.tit a:hover {color:#008398;}
.board_list table td.tit .new {display:inline-block; position:relative; width:1px; text-indent:-9999px;}
.board_list table td.tit .new:after {position:absolute; top:-2px; left:0; width:30px; font-size:12px; color:#e7833f; text-indent:0; content:"new"; text-transform:uppercase;}
.board_list table td.tit .file {display:inline-block; width:21px; height:17px; background-image:url(../img/sprite/sprite.png); background-position:-177px -123px; background-size:500px 500px; text-indent:-9999px;}
.board_list table td.name {overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.board_list table .notice th,.board_list table .notice td {padding:13px 5px;}
.board_list table .notice td.tit a {font-size:18px; font-weight:700;}
.board_list table .notice .notice_icon {display:inline-block; position:relative; width:82px; padding-left:40px; border:1px solid #00aeba; border-radius:16px; font-size:14px; font-weight:700; line-height:30px; color:#00aeba; text-align:left; -webkit-border-radius:16px; -moz-border-radius:16px; -ms-border-radius:16px; -o-border-radius:16px;}
.board_list table .notice .notice_icon:before {position:absolute; top:5px; left:14px; width:22px; height:20px; background-image:url(../img/sprite/sprite.png); background-position:-203px -123px; background-size:500px 500px; content:"";}

@media (max-width:1024px) {
    .board_list {overflow:hidden;}
    .board_list table,
	.board_list table thead,
	.board_list table tbody,
	.board_list table tr,
	.board_list table th,
    .board_list table td {display:block; float:left; clear:both; width:100%; border:none; text-align:left;}
    .board_list table tr {padding:15px 0; border-bottom:1px solid #cdcdcd;}
    .board_list table thead {overflow:hidden; position:absolute; left:-9999px; width:1px; height:1px;}
    .board_list table tbody {border-top:2px solid #333;}
    .board_list table th, .board_list table td,.board_list table .notice th, .board_list table .notice td {padding:0;}
    .board_list table td.tit {padding-bottom:15px;}
    .board_list table td.tit a {font-weight:700;}
    .board_list table .notice td.tit a {font-size:16px;}
    .board_list table .notice .notice_icon {margin-bottom:15px;}
    /* .board_list table td.name {overflow:visible; white-space:normal;} */
    .board_list table tr:not(.notice) th.num {display:none;}
    .board_list table td.name:before {content:"작성자 : ";}
    .board_list table td.date:before {content:"등록일 : ";}
    .board_list table td.view:before {content:"조회수 : ";}
}

/* 페이징 */
.pagenation {position:relative; margin-top:30px; font-size:0; text-align:center;}
.pagenation .pager {display:inline-block; overflow:hidden;}
.pagenation .pager > a {float:left; position:relative; z-index:0; width:42px; height:40px; border:1px solid #ccc; background:#fff; text-indent:-9999px;}
.pagenation .pager > a:hover {z-index:1; border-color:#00aeba;}
.pagenation .pager > a:before,.pagenation .pager > a:after {position:absolute; top:14px; left:16px; width:8px; height:8px; border:1px solid #5c5c5c; -webkit-transform:rotate(45deg); transform:rotate(45deg); content:"";}
.pagenation .pager > a:hover:before,.pagenation .pager > a:hover:after {border-color:#00aeba;}
.pagenation .pager .first:before,.pagenation .pager .first:after,.pagenation .pager .prev:before,.pagenation .pager .prev:after {border-top:0; border-right:0;}
.pagenation .pager .first:before {left:15px;}
.pagenation .pager .first:after {left:21px;}
.pagenation .pager .prev:before {left:18px;}
.pagenation .pager .prev:after {display:none;}
.pagenation .pager .next:before,.pagenation .pager .next:after,.pagenation .pager .last:before,.pagenation .pager .last:after {border-left:0; border-bottom:0;}
.pagenation .pager .next:before {left:14px;}
.pagenation .pager .next:after {display:none;}
.pagenation .pager .last:before {left:11px;}
.pagenation .pager .last:after {left:17px;}
.pagenation .pager > a.first {position:relative; left:1px;}
.pagenation .pager > a.last {position:relative; right:1px;}
.pagenation ul {overflow:hidden; float:left; margin:0 22px;}
.pagenation ul li {float:left; margin:0 3px;}
.pagenation ul li span,.pagenation ul li a {display:inline-block; width:42px; border:1px solid #ccc; font-size:16px; line-height:38px; color:#5c5c5c; text-align:center;}
.pagenation ul li span {border-color:#00aeba; background:#00aeba; color:#fff;}
.pagenation ul li a:hover {border-color:#00aeba; color:#00aeba;}

@media (max-width:1024px) {
    .pagenation .pager > a {width:30px; height:30px;}
    .pagenation ul {margin:0 10px;}
    .pagenation ul li span, .pagenation ul li a {width:30px; line-height:28px; font-size:14px;}
    .pagenation .pager > a:before, .pagenation .pager > a:after {top:10px;}
    .pagenation .pager .first:before {left:10px;}
    .pagenation .pager .first:after {left:16px;}
    .pagenation .pager .prev:before {left:12px;}
    .pagenation .pager .next:before {left:9px;}
    .pagenation .pager .last:before {left:5px;}
    .pagenation .pager .last:after {left:11px;}
}

@media (max-width:599px) {
    .pagenation .pager > a {display:inline-block; float:none;}
    .pagenation ul {float:none; margin:10px; text-align:left;}
    .pagenation ul li {display:inline-block; float:none; margin:3px;}
    .pagenation ul li span, .pagenation ul li a {font-size:12px;}
}

/* 테이블(일반) 뷰 */
.board_view .info {padding:22px 30px; border-top:3px solid #333;}
.board_view .info .tit {font-size:24px; font-weight:700; line-height:1.5em; color:#333;}
.board_view .info .txt_info {margin-top:15px; font-size:0;}
.board_view .info .txt_info > div,.board_view .info .txt_info dt,.board_view .info .txt_info dd {display:inline-block; line-height:1.5em; vertical-align:middle;}
.board_view .info .txt_info dt {width:17px; height:20px; margin-right:5px; background-image:url(../img/sprite/sprite.png); background-size:500px 500px; text-indent:-9999px;}
.board_view .info .txt_info dd {overflow:hidden; max-width:200px; margin-right:16px; font-size:16px; color:#666; text-overflow:ellipsis; white-space:nowrap;}
.board_view .info .txt_info .date dt {background-position:-230px -122px;}
.board_view .info .txt_info .view dt {width:20px; background-position:-252px -120px;}
.board_view .info .txt_info .author dt {background-position:-277px -122px;}
.board_view .content_wrap {border-top:1px solid #333; border-bottom:1px solid #333;}
.board_view .content {padding:50px 30px; font-size:14px; line-height:2em; color:#666;}
.board_view .content img {display:block; margin:0 auto; margin-bottom:1em;}
.board_view .upload_file {border-top:1px solid #cdcdcd;}
.board_view .upload_file ul {overflow:hidden; padding:15px 20px;}
.board_view .upload_file ul li {overflow:hidden; float:left; position:relative; max-width:500px; margin-right:20px; padding-left:28px; text-overflow:ellipsis; white-space:nowrap;}
.board_view .upload_file ul li:before {position:absolute; top:3px; left:0; width:21px; height:17px; background-image:url(../img/sprite/sprite.png); background-position:-177px -123px; background-size:500px 500px; content:"";}
.board_view .upload_file ul li a {color:#999;}
.board_view .upload_file ul li a:hover {color:#00aeba; text-decoration:underline;}
.board_view .list_link {margin:10px 0 50px; text-align:right;}
.board_view .list_link a {position:relative; width:96px; padding:0 18px; border:1px solid #00aeba; background:#fff; font-size:16px; line-height:46px; color:#666; text-align:left;}
.board_view .list_link a:hover {background:#00aeba; color:#fff;}
.board_view .list_link a span {position:absolute; right:15px; width:20px; height:2px; background:#00aeba;}
.board_view .list_link a span:nth-child(1) {top:16px;}
.board_view .list_link a span:nth-child(2) {top:22px;}
.board_view .list_link a span:nth-child(3) {top:28px;}
.board_view .list_link a:hover span {background:#fff;}
.board_view .paging_wrap {border-top:1px solid #333; border-bottom:1px solid #333;}
.board_view .paging_wrap > div {position:relative;}
.board_view .paging_wrap > div:first-child {border-bottom:1px solid #cdcdcd;}
.board_view .paging_wrap dt {position:absolute;}
.board_view .paging_wrap dt span {display:inline-block; position:relative; width:1px; text-indent:-9999px;}
.board_view .paging_wrap dt span:after {position:absolute; top:-2px; left:30px; width:30px; font-size:14px; line-height:48px; color:#333; text-indent:0; content:attr(data-title); text-transform:capitalize;}
.board_view .paging_wrap dd {padding-left:88px; font-size:16px; line-height:0; color:#666;}
.board_view .paging_wrap dd a {display:inline-block; overflow:hidden; max-width:calc(100% - 85px); line-height:48px; text-overflow:ellipsis; white-space:nowrap;}
.board_view .paging_wrap dd a:hover {color:#00aeba;}
.board_view .paging_wrap dd a,.board_view .paging_wrap dd i {vertical-align:middle;}
.board_view .paging_wrap dd .file {display:inline-block; width:21px; height:17px; background-image:url(../img/sprite/sprite.png); background-position:-177px -123px; background-size:500px 500px; text-indent:-9999px;}
.board_view .paging_wrap dd .new {display:inline-block; position:relative; width:1px; text-indent:-9999px;}
.board_view .paging_wrap dd .new:after {position:absolute; top:0; left:0; width:30px; font-size:12px; color:#e7833f; text-indent:0; content:"new"; text-transform:uppercase;}

@media (max-width:1024px) {
    .board_view .info {padding:15px 0;}
    .board_view .info .tit {font-size:20px;}
    .board_view .info .txt_info dd {font-size:14px;}
    .board_view .content {padding:30px 0; line-height:1.8em;}
    .board_view .upload_file ul {padding:15px 0;}
    .board_view .list_link {margin:30px 0;}
    .board_view .list_link a {font-size:14px; line-height:40px;}
    .board_view .paging_wrap dd {padding-left:40px; font-size:14px;}
    .board_view .paging_wrap dd a {max-width:calc(100% - 65px); line-height:40px;}
    .board_view .paging_wrap dt span:after {top:-5px; left:0; font-weight:700;}
    .board_view .list_link a span:nth-child(1) {top:13px;}
    .board_view .list_link a span:nth-child(2) {top:19px;}
    .board_view .list_link a span:nth-child(3) {top:25px;}
}

@media (max-width:599px) {
    .board_view .info .tit {font-size:16px;}
    .board_view .info .txt_info dd {font-size:12px;}
    .board_view .upload_file ul li {float:none; font-size:12px;}
    .board_view .upload_file ul li:before {top:1px;}
    .board_view .list_link {text-align:center;}
    .board_view .list_link a {width:100%; text-align:center;}
    .board_view .list_link a span {display:none;}
    .board_view .paging_wrap dd {font-size:12px;}
}

/*=========================================================
4. 헤더
=========================================================*/

header {position:fixed; top:0; z-index:10; width:100%; height:112px; -webkit-transition:all 1s; transition:all 1s;}
header.on {background:rgba(0,0,0,0.65);}
.header_wrap {position:relative; padding-top:30px;}
.header_wrap h1 img {height:36px;}
.header_wrap .menu {position:absolute; top:36px; right:0; width:40px; height:40px; border:1px solid rgba(255,255,255,0.5); text-indent:-9999px;}
.header_wrap .menu span {position:absolute; left:50%; width:22px; height:2px; margin-left:-11px;background:#fff;}
.header_wrap .menu span:nth-child(1) {top:11px;}
.header_wrap .menu span:nth-child(2) {top:18px;}
.header_wrap .menu span:nth-child(3) {top:25px;}

@media (max-width:599px) {
    header {height:92px;}
    .header_wrap {padding-top:20px;}
    .header_wrap .menu {top:25px;}
}

/* 네비게이션 */
nav {visibility:hidden; position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.5); -webkit-transition:all 0.5s; transition:all 0.5s; opacity:0; -webkit-backface-visibility:hidden; backface-visibility:hidden;}
nav.on {visibility:visible; opacity:1;}
nav .nav_wrap {background:#fff url(../img/bg/bg_nav.png) no-repeat 80% bottom; -webkit-transform:translateY(-100%); transform:translateY(-100%); -webkit-transition:transform 0.5s; -webkit-transition:-webkit-transform 0.5s; transition:-webkit-transform 0.5s; transition:transform 0.5s; transition:transform 0.5s, -webkit-transform 0.5s;}
nav.on .nav_wrap {-webkit-transform:translateY(0); transform:translateY(0);}
.navigation {position:relative;}
nav .menu_1depth {padding:15px 0 100px;}
nav .menu_1depth > li {overflow:hidden; padding:25px 0;}
nav .menu_1depth > li .tit {float:left; position:relative; width:185px; font-family:"Nanum Square"; font-size:30px; line-height:50px; color:#333;}
nav .menu_1depth > li .tit:after {position:absolute; bottom:0; left:0; width:20px; height:1px; background:#333; content:"";}
nav .menu_2depth {overflow:hidden; float:left; margin:10px -20px 0;}
nav .menu_2depth li {float:left; margin:0 20px;}
nav .menu_2depth li a {display:block; position:relative; font-size:16px; line-height:2.5em; color:#666;}
nav .menu_2depth li a:after {position:absolute; bottom:0; left:0; width:100%; height:1px; background:#00aeba; -webkit-transform:scaleX(0); transform:scaleX(0); -webkit-transform-origin:right center; transform-origin:right center; -webkit-transition:transform 0.2s; -webkit-transition:-webkit-transform 0.2s; transition:-webkit-transform 0.2s; transition:transform 0.2s; transition:transform 0.2s, -webkit-transform 0.2s; content:"";}
nav .menu_2depth li a:hover {color:#00aeba;}
nav .menu_2depth li a:hover:after {-webkit-transform:scaleX(1); transform:scaleX(1); -webkit-transform-origin:left center; transform-origin:left center;}
nav .close {overflow:hidden; position:absolute; top:18px; right:3px; width:34px; height:34px; text-indent:-9999px;}
nav .close:before,nav .close:after {position:absolute; right:0; width:50px; height:1px; background:#999; -webkit-transform-origin:right; transform-origin:right; content:"";}
nav .close:before {top:0; -webkit-transform:rotate(-45deg); transform:rotate(-45deg);}
nav .close:after {bottom:0; -webkit-transform:rotate(45deg); transform:rotate(45deg);}
nav .close:hover:before,nav .close:hover:after {background:#00aeba;}

@media (max-width:1024px) {
    nav .nav_wrap {background-size:350px; background-position:right 10% bottom 10%;}
    nav .menu_1depth {padding:15px 0;}
    nav .menu_1depth > li {margin-top:15px; padding:0;}
    nav .menu_1depth > li:first-child {margin:0;}
    nav .menu_1depth > li .tit {float:none; width:auto; font-size:24px;}
    nav .menu_1depth > li .tit:after {bottom:-5px;}
    nav .menu_2depth {float:none;}
    nav .menu_2depth {margin:0 -10px;}
    nav .menu_2depth li {margin:0 10px;}
    nav .menu_2depth li a {line-height:1.8em; font-size:14px;}
}

@media (max-width:599px) {
    nav .nav_wrap {height:100%; background-size:250px;}
    nav .menu_1depth > li {margin-top:0;}
    nav .menu_1depth > li .tit {font-size:18px;}
    nav .menu_2depth li a {font-size:12px;}
}
/*=========================================================
5. 푸터
=========================================================*/

footer {background:#333; color:#fff;}
.footer_upper {position:relative; border-top:1px solid #575757; border-bottom:1px solid #575757; font-size:0;}
.footer_upper .bottom_menu {display:inline-block; overflow:hidden; padding:15px 0;}
.footer_upper .bottom_menu li {float:left; line-height:0;}
.footer_upper .bottom_menu li:after {padding:0 20px; font-size:14px; content:"|";}
.footer_upper .bottom_menu li:last-child:after {display:none;}
.footer_upper .bottom_menu li a {display:inline-block; font-size:14px; line-height:20px; color:inherit;}
.footer_upper .sns {overflow:hidden; float:right; margin:0 -5px; margin-top:16px;}
.footer_upper .sns li {float:left; margin:0 5px;}
.footer_upper .sns li a {display:block; background-image:url(../img/sprite/sprite.png); background-size:500px 500px; text-indent:-9999px;}
.footer_upper .sns .blog a {width:15px; height:18px; background-position:-157px -123px;}
.footer_lower {padding:40px 0 65px;}
.footer_lower .lower_wrap {position:relative;}
.footer_lower .select_form {position:absolute; top:0; right:0;}
.footer_lower .select_form select {background:#333; color:#fff;}
.footer_lower .select_form:before {background:#333;}
.footer_lower .select_form:after {border-color:#fff;}
address a {color:inherit;}
address ul {overflow:hidden; font-size:0;}
address ul li {display:inline; font-size:12px; line-height:2em; color:#e6e6e6;}
address ul li:after {padding:0 10px; content:"|";}
address ul li:nth-child(2):after {display:block; clear:both;}
address ul li:nth-child(2):after,address ul li:nth-child(5):after {content:"";}
.copyright {margin-top:15px; font-size:12px; opacity:0.5; text-transform:uppercase;}
.copyright span {color:#00aeba;}

@media (max-width:1024px) {
    .footer_upper .bottom_menu {font-size:0;}
    .footer_upper .bottom_menu li {display:inline-block; float:none;}
    .footer_upper .bottom_menu li a {font-size:12px;}
    .footer_upper .bottom_menu li:after {padding:0 10px; font-size:12px;}
    .footer_lower {padding:30px 0;}
    .footer_lower .select_form {position:relative;}
}

@media (max-width:599px) {
    .footer_upper .bottom_menu {display:block; padding:10px 0;}
    .footer_upper .bottom_menu li {padding:2px 5px;}
    .footer_upper .bottom_menu li:after {display:none;}
    .footer_upper .sns {float:none; margin:0; margin-bottom:10px;}
    .footer_lower .select_form {position:relative; width:100%;}
    address ul li {display:block;}
    address ul li:after {display:none;}
}
/*=========================================================
6. 모달
=========================================================*/


/*=========================================================
7. 메인 페이지 스타일
=========================================================*/

/* 슬라이드 공통 */
section .section {background-size:cover; background-position:center;}
section .section:nth-child(1) {background-image:url(../img/bg/bg_mainvisual_01.jpg);}
section .section:nth-child(2) {background-image:url(../img/bg/bg_mainvisual_02.jpg);}
section .section:nth-child(3) {background-image:url(../img/bg/bg_mainvisual_03.jpg);}
section .section:nth-child(4) {background-image:url(../img/bg/bg_mainvisual_04.jpg);}
section .slide {color:#fff;}
section .slide .btn_wrap {margin-top:60px;}
section .slide .btn_wrap a {position:relative; z-index:0; width:180px; padding:0 20px; border:1px solid #fff; font-size:14px; line-height:46px; color:#fff; text-align:left; text-transform:uppercase;}
section .slide .btn_wrap a:after {position:absolute; top:0; left:0; z-index:-1; width:100%; height:100%; background:#fff; -webkit-transform:scaleX(0); transform:scaleX(0); -webkit-transform-origin:right center; transform-origin:right center; -webkit-transition:transform 0.2s; -webkit-transition:-webkit-transform 0.2s; transition:-webkit-transform 0.2s; transition:transform 0.2s; transition:transform 0.2s, -webkit-transform 0.2s; content:"";}
section .slide .btn_wrap a:hover {color:#333;}
section .slide .btn_wrap a:hover:after {-webkit-transform:scaleX(1); transform:scaleX(1); -webkit-transform-origin:left center; transform-origin:left center;}
section .slide .btn_wrap span:before,section .slide .btn_wrap span:after {position:absolute; top:50%; right:12px; height:1px; background:#fff; content:"";}
section .slide .btn_wrap span:before {width:30px;}
section .slide .btn_wrap span:after {width:10px; -webkit-transform:rotate(45deg); transform:rotate(45deg); -webkit-transform-origin:right; transform-origin:right;}
section .slide .btn_wrap a:hover span:before,section .slide .btn_wrap a:hover span:after {background:#333;}
.wrap .slide_scroll {visibility:visible; position:fixed; bottom:33px; left:50%; z-index:2; width:28px; height:44px; margin-left:-14px; border:1px solid #fff; border-radius:14px; text-indent:-9999px; opacity:1; -webkit-border-radius:14px; -moz-border-radius:14px; -ms-border-radius:14px; -o-border-radius:14px;}
.wrap .slide_scroll.on {visibility:hidden; opacity:0;}
.wrap .slide_scroll:after {position:absolute; top:8px; left:50%; width:4px; height:12px; margin-left:-2px; border-radius:2px; background:#fff; background:#fff; -webkit-transition:all 0.2s; transition:all 0.2s; content:""; -webkit-border-radius:2px; -moz-border-radius:2px; -ms-border-radius:2px; -o-border-radius:2px;}
.wrap .slide_scroll:hover:after {-webkit-transform:translateY(2px); transform:translateY(2px);}
section .slide_cate {position:relative; margin-bottom:30px; font-size:18px; font-weight:700; line-height:1.1em;}
section .slide_cate:after {position:absolute; bottom:-10px; left:0; width:14px; height:1px; background:#fff; content:"";}
article .grand_tit {display:inline-block; position:relative; font-family:"Nanum Square"; font-size:50px; line-height:1.4em; letter-spacing:-0.02em;}
article .grand_tit i {position:absolute; bottom:10px; right:-66px; width:66px; height:78px; background-image:url(../img/sprite/sprite.png); background-size:1000px 1000px;}
section .section:nth-child(1) article .grand_tit i {background-position:-10px -246px;}
section .section:nth-child(2) article .grand_tit i {background-position:-86px -246px;}
section .section:nth-child(3) article .grand_tit i {background-position:-162px -246px;}
section .section:nth-child(4) article .grand_tit i {background-position:-238px -246px;}

/* 교육철학 */
section .slide .ideology {margin-top:20px; padding-bottom:20px; font-size:0;}
section .slide .ideology span {display:inline-block; position:relative; font-size:48px; font-weight:300; line-height:1.5em; text-transform:uppercase;}
section .slide .ideology .plus {width:75px; text-indent:-9999px;}
section .slide .ideology .plus:before,section .slide .ideology .plus:after {position:absolute; top:50%; left:50%; width:22px; height:4px; margin-top:-2px; margin-left:-11px; border-radius:2px; background:#00aeba; opacity:0.6; content:""; -webkit-border-radius:2px; -moz-border-radius:2px; -ms-border-radius:2px; -o-border-radius:2px;}
section .slide .ideology .plus:after {-webkit-transform:rotate(90deg); transform:rotate(90deg); -webkit-transform-origin:center; transform-origin:center;}
section .slide .ideology span:not(.plus):after {position:absolute; bottom:-20px; left:0; font-family:"Nanum Gothic"; font-size:18px; font-weight:400; line-height:20px;;}
section .slide .ideology .mission:after {content:"사명";}
section .slide .ideology .core:after {content:"핵심가치";}
section .slide .ideology .vision:after {content:"비전";}

/* 사업영역 */
section .slide .business {overflow:hidden; margin-top:40px;}
section .slide .business li {float:left; margin-right:20px;}
section .slide .business li a {display:block; position:relative; width:108px; padding-top:128px; color:inherit; text-align:center;}
section .slide .business li a:before {position:absolute; top:50%; left:50%; margin-top:-23px; background-image:url(../img/sprite/sprite.png); background-size:500px 500px; -webkit-transform:translate(-50%, -50%); transform:translate(-50%, -50%); content:"";}
section .slide .business li:nth-child(1) a:before {width:55px; height:54px; margin-left:-5px; background-position:-5px -5px;}
section .slide .business li:nth-child(2) a:before {width:49px; height:49px; background-position:-65px -5px;}
section .slide .business li:nth-child(3) a:before {width:51px; height:52px; background-position:-119px -5px;}
section .slide .business li:nth-child(4) a:before {width:38px; height:53px; background-position:-175px -5px;}
section .slide .business li:nth-child(5) a:before {width:50px; height:50px; background-position:-218px -5px;}
section .slide .business li:nth-child(6) a:before {width:44px; height:44px; background-position:-273px -5px;}
section .slide .business li:nth-child(1) a:hover:before {width:55px; height:54px; background-position:-5px -64px;}
section .slide .business li:nth-child(2) a:hover:before {width:49px; height:49px; background-position:-65px -64px;}
section .slide .business li:nth-child(3) a:hover:before {width:51px; height:52px; background-position:-119px -64px;}
section .slide .business li:nth-child(4) a:hover:before {width:38px; height:53px; background-position:-175px -64px;}
section .slide .business li:nth-child(5) a:hover:before {width:50px; height:50px; background-position:-218px -64px;}
section .slide .business li:nth-child(6) a:hover:before {width:44px; height:44px; background-position:-273px -64px;}
section .slide .business li a:after {position:absolute; top:0; left:0; width:108px; height:108px; border:1px solid #fff; border-radius:50%; content:""; -webkit-border-radius:50%; -moz-border-radius:50%; -ms-border-radius:50%; -o-border-radius:50%;}
section .slide .business li a:hover {font-weight:700; color:#8ab113;}
section .slide .business li a:hover:after {border:2px solid #8ab113;}

/* 연구개발 */
section .slide .research {margin-top:40px;}
section .slide .research:after {display:block; clear:both; content:"";}
section .slide .research li {float:left; margin-right:1px;}
section .slide .research li a {display:block; position:relative; z-index:0; width:112px; padding:30px 0; font-size:16px; line-height:1.3em; color:inherit; text-align:center;}
section .slide .research li a:after {position:absolute; bottom:0; left:0; z-index:-1; width:100%; height:100%; background:rgba(0,0,0,0.2); -webkit-transition:height 0.2s; transition:height 0.2s; content:"";}
section .slide .research li a:hover:after {height:calc(100% + 5px); background:#e7833f;}

/* 올림피아드 소식 */
section .news_wrap .menu_tit {position:relative; margin:150px 0 50px; font-family:"Nanum Square"; font-size:40px; font-weight:400; line-height:85px; color:#333; text-align:center;}
section .news_wrap .menu_tit:after {position:absolute; bottom:0; left:50%; width:28px; height:1px; margin-left:-14px; background:#333; content:"";}
article .news {margin:0 -25px; padding-bottom:80px; text-align:left;}
article .news ul {font-size:0;}
article .news ul li {width:33.33%; padding:0 25px;}
article .news ul li a {display:block;}
article .news ul li a .txt_wrap {padding:20px; padding-top:10px;}
article .news ul li a .txt_wrap .cate {display:inline-block; font-size:14px; font-weight:700; line-height:30px;}
article .news ul li a .txt_wrap .notice {color:#00aeba;}
article .news ul li a .txt_wrap .blog {color:#3b9f47;}
article .news ul li a .txt_wrap .result {color:#ff8c3f;}
article .news ul li a .txt_wrap .tit {font-family:"Nanum Square"; font-size:20px; line-height:1.5em; color:#333;}
article .news ul li a .txt_wrap .txt {margin:10px 0 20px; font-size:12px; line-height:1.7em; color:#666;}
article .news ul li a .txt_wrap .date {display:inline-block; padding:0 10px; border-radius:12px; background:#f2f2f2; font-size:12px; line-height:24px; color:#999; -webkit-border-radius:12px; -moz-border-radius:12px; -ms-border-radius:12px; -o-border-radius:12px;}

/* fullpage.js 사용시 삭제 */
section .section {background-attachment:fixed;}
section .slide {display:table; width:100%; height:100vh; table-layout:fixed;}
.grid_guide {display:table-cell; vertical-align:middle;}
section .news_wrap .menu_tit {margin-top:50px;}
.indicator {position:fixed; top:50%; right:30px; z-index:1; -webkit-transform:translateY(-50%); transform:translateY(-50%);}
.indicator.on {display:none;}
.indicator ul li {position:relative; margin-top:20px;}
.indicator ul li:before {position:absolute; bottom:9px; left:4px; width:1px; height:20px; background:#fff; content:"";}
.indicator ul li:first-child:before {display:none;}
.indicator ul li:after {display:none; position:absolute; top:-6px; right:22px; line-height:20px; color:#fff; content:attr(data-name);}
.indicator ul li.on:after {display:block;}
.indicator ul li:first-child {margin:0;}
.indicator ul li a {display:block; width:9px; height:9px; border:2px solid #fff; border-radius:50%; text-indent:-9999px; -webkit-border-radius:50%; -moz-border-radius:50%; -ms-border-radius:50%; -o-border-radius:50%;}
.indicator ul li.on a {background:#fff;}

/* fullpage.js 인디케이터 커스터마이징 */
#fp-nav {visibility:visible; right:30px !important; -webkit-transition:all 0.2s; transition:all 0.2s; opacity:1;}
#fp-nav.on {visibility:hidden; opacity:0;}
#fp-nav ul li {margin:0 !important; margin-bottom:16px !important;}
#fp-nav ul li:before {position:absolute; top:-13px; left:11px; width:1px; height:20px; background:#fff; content:"";}
#fp-nav ul li:first-child:before {display:none;}
#fp-nav ul li .fp-tooltip {top:0 !important;}
#fp-nav ul li a span {width:9px !important; height:9px !important; margin:0 !important; border:1px solid #fff !important; background:none !important;}
#fp-nav ul li .active span {background:#fff !important;}
#fp-nav ul li:nth-last-child(1),#fp-nav ul li:nth-last-child(2) {display:none;}

@media (max-width:1280px) {
    article .grand_tit,section .slide .ideology span {font-size:40px;}
}

@media (max-width:1024px) {
    section .section {background-attachment:scroll;}
    article {text-align:center;}
    section .slide .btn_wrap {margin-top:30px;}
    section .slide .btn_wrap a {width:150px; font-size:12px; font-weight:700; line-height:38px;}
    section .slide .btn_wrap span:before,section .slide .btn_wrap span:after {right:20px;}
    section .slide_cate {line-height:1.5em;}
    section .slide_cate:after {left:50%; margin-left:-7px;}
    article .grand_tit {font-size:32px;}
    article .grand_tit br,article .grand_tit i {display:none;}
    section .slide .ideology span {font-size:28px;}
    section .slide .ideology .plus {width:40px;}
    section .slide .ideology span:not(.plus):after {bottom:-15px; font-size:12px; font-weight:700;}
    section .slide .business {font-size:0;}
    section .slide .business li {display:inline-block; float:none; margin:5px;}
    section .slide .business li a {width:80px; padding-top:55px; font-size:12px; font-weight:700;}
    section .slide .business li a:after {display:none;}
    section .slide .business li a:before {margin-top:-15px;}
    section .slide .research {font-size:0;}
    section .slide .research li {display:inline-block; float:none;}
    section .slide .research li a {width:80px; padding:20px 0; font-size:14px; font-weight:700;}
    section .news_wrap .menu_tit {margin:30px 0; font-family:"Nanum Gothic"; font-size:18px; font-weight:700; line-height:1.5em;}
    section .news_wrap .menu_tit:after {bottom:-10px; width:14px; margin-left:-7px;}
    article .news {margin:0 -15px; padding-bottom:50px;}
    article .news ul li {width:50%; padding:0 15px;}
    article .news ul li a img {width:100%;}
    article .news ul li a .txt_wrap {padding:15px 0 30px;}
    article .news ul li a .txt_wrap .cate {margin-bottom:5px; font-size:12px; line-height:1.5em;}
    article .news ul li a .txt_wrap .tit {font-size:18px;}
    .indicator,.wrap .slide_scroll,#fp-nav {display:none;}
}

@media (max-width:599px) {
    section .slide_cate {font-size:14px;}
    article .grand_tit {font-size:22px;}
    section .slide .ideology,section .slide .business,section .slide .research {display:none;}
    article .news {margin:0;}
    article .news ul li {width:100%; padding:0;}
    section .news_wrap .menu_tit {font-size:14px;}
}

/*=========================================================
8. 서브 페이지별 스타일
=========================================================*/

/* 페이지 공통 */
.sub_header {position:relative; height:470px; padding-top:210px; background-position:center; background-size:cover; color:#fff; text-align:center; -webkit-transform:scale(1.05); transform:scale(1.05); -webkit-transition:transform 1s; -webkit-transition:-webkit-transform 1s; transition:-webkit-transform 1s; transition:transform 1s; transition:transform 1s, -webkit-transform 1s;}
.sub_header.on {-webkit-transform:scale(1); transform:scale(1);}
.sub_header.type1 {background-image:url(../img/bg/bg_sub_type1.png);}
.sub_header h2 {display:inline-block; position:relative; font-family:"Nanum Square"; font-size:50px; font-weight:400; line-height:1.5em;}
.sub_header h2:after {position:absolute; right:-76px; bottom:15px; width:66px; height:78px; background-image:url(../img/sprite/sprite.png); background-position:-10px -246px; background-size:1000px 1000px; content:"";}
.sub_header .sub_tit {font-size:24px; line-height:1.5em;}
.sub_content {padding-bottom:100px;}
.sub_content h3 {margin:55px 0 40px; font-family:"Nanum Square"; font-size:40px; line-height:1.5em; color:#333; text-align:center;}

@media (max-width:1024px) {
    .sub_header {height:auto; padding-top:75px;}
    .sub_header h2 {font-size:36px;}
    .sub_header h2:after {right:-40px; bottom:10px; width:33px; height:39px; background-position:-5px -123px; background-size:500px 500px;}
    .sub_header .sub_tit {margin-bottom:50px; font-size:18px;}
    .sub_content {padding-bottom:50px;}
    .sub_content h3 {margin:30px 0; font-size:28px;}
}

@media (max-width:599px) {
    .sub_header {padding-top:75px;}
    .sub_header h2 {font-size:24px;}
    .sub_header h2:after {display:none;}
    .sub_header .sub_tit {font-size:14px;}
    .sub_content {padding-bottom:30px;}
    .sub_content h3 {margin:30px 0; font-size:20px;}
}

/* 탭메뉴 */
.tab_menu {display:table; position:absolute; bottom:0; left:50%; width:100%; max-width:1000px; -webkit-transform:translateX(-50%); transform:translateX(-50%); table-layout:fixed;}
.tab_menu ul {display:table-row;}
.tab_menu ul li {display:table-cell;}
.tab_menu ul li a {display:block; position:relative; z-index:0; font-size:16px; line-height:55px; color:inherit;}
.tab_menu ul li.on a,.tab_menu ul li a:hover {font-size:18px; font-weight:700;}
.tab_menu ul li a:after {position:absolute; bottom:0; left:0; z-index:-1; width:calc(100% - 1px); height:100%; background:rgba(0,0,0,0.2); -webkit-transition:all 0.2s; transition:all 0.2s; content:"";}
.tab_menu ul li.on a:after,.tab_menu ul li a:hover:after {bottom:-1px; height:calc(100% + 6px); background:#008398;}

@media (max-width:1024px) {
    .tab_menu {display:block; position:static; -webkit-transform:none; transform:none;}
    .tab_menu ul {display:block; overflow:hidden;}
    .tab_menu ul li {display:block; float:left; margin-top:1px;}
    .tab_menu ul li a {font-size:14px; line-height:40px;}
    .tab_menu ul li.on a,.tab_menu ul li a:hover {font-size:16px;}
    .tab_menu ul.type2 li {width:50%;}
    .tab_menu ul.type3 li {width:33.33%;}
    .tab_menu ul li.on a:after,.tab_menu ul li a:hover:after {bottom:0; height:100%;}
}
