
/*=========================================================
5. 푸터
=========================================================*/

footer {background:#333; color:#fff;}
.footer_upper {border-bottom:1px solid rgba(255,255,255,0.1);}
.footer_upper .bottom_menu {overflow:hidden; margin:0 -30px;}
.footer_upper .bottom_menu li {float:left; margin:0 30px;}
.footer_upper .bottom_menu li a {display:inline-block; font-size:16px; font-weight:700; line-height:60px; color:rgba(255,255,255,0.7);}
.footer_lower {overflow:hidden; position:relative; padding:25px 0; color:rgba(255,255,255,0.9);}
.footer_lower .logo {float:left; height:76px; margin-top:13px; margin-right:70px;}
.footer_lower .lower_wrap {float:left; font-size:14px; line-height:1.8em;}
.footer_lower .lower_wrap address a {color:inherit;}
.footer_lower .lower_wrap address span {margin:0 12px; color:rgba(255,255,255,0.2);}

@media (max-width:1024px) {
    .footer_upper .bottom_menu {margin:0 -10px;}
    .footer_upper .bottom_menu li {margin:0 10px;}
    .footer_upper .bottom_menu li a {font-size:14px; line-height:50px;}
    .footer_lower .logo {margin-right:30px;}
}

@media (max-width:599px) {

}