
/*=========================================================
7. 모달
=========================================================*/

.modal_wrap {visibility:hidden; position:fixed; top:0; right:0; bottom:0; left:0; z-index:100; background:rgba(51,51,51,0.6); transition:all 0.5s; opacity:0;}
.modal_wrap.on {visibility:visible; opacity:1;}
.modal {position:absolute; top:50%; left:50%; width:calc(100% - 60px); max-width:360px; max-height:calc(100vh - 60px); background:#fff; transform:translate(-50%, -50%);}
.modal.confirm {padding:30px; border:1px solid #ddd; text-align:center;}
.modal.confirm .msg {font-size:16px; font-weight:700; line-height:1.75em; color:#333;}
.modal.confirm .sub_txt {font-size:14px; line-height:1.7em; color:#333;}
.modal.confirm input[type="password"] {margin-top:15px;}
.modal.confirm .warning {margin-top:5px; font-size:12px; color:#00687f;}
.modal.confirm .btn_wrap {margin-top:15px; font-size:0;}
.modal.confirm .btn_wrap button,.modal.confirm .btn_wrap a {display:inline-block; min-width:100px; margin:0 2px; padding:0 10px; font-family:"Nanum Square"; font-size:16px; font-weight:700; line-height:40px; color:#fff; text-align:center; vertical-align:top;}
.modal.confirm .btn_wrap .cancel {background:#555;}
.modal.confirm .btn_wrap .submit {background:#00687f;}

@media (max-width:599px) {
    .modal {max-width:calc(100% - 30px); max-height:calc(100vh - 30px);}
    .modal.confirm {padding:15px;}
    .modal.confirm .msg {font-size:14px;}
    .modal.confirm .sub_txt {font-size:12px;}
    .modal.confirm .btn_wrap button,.modal.confirm .btn_wrap a {min-width:70px; font-size:14px; line-height:2em;}
}