
/*=========================================================
9. 서브 페이지별 스타일
=========================================================*/

/*************** 공통 요소 ***************/

/* 서브 페이지 타이틀 */
.sub_header {position:relative; z-index:1; height:290px; margin-top:130px; padding-top:80px; background-position:center; background-size:cover; color:#fff; text-align:center; transition:opacity 2s; opacity:0;}
.upper_banner_on .sub_header {margin-top:calc(130px + 10.9375%);}
.sub_header.animated {opacity:1;}
.sub_header.type1 {background-image:url(../img/bg/bg_sub_type1.png);}
.sub_header.type2 {background-image:url(../img/bg/bg_sub_type2.png);}
.sub_header.type3 {background-image:url(../img/bg/bg_sub_type3.png);}
/*.sub_header.type4 {background-image:url(../img/bg/bg_sub_type4.png);}
.sub_header.type5 {background-image:url(../img/bg/bg_sub_type5.png);}
.sub_header.type6 {background-image:url(../img/bg/bg_sub_type6.png);} */
.sub_header.type4 {background:red;}
.sub_header.type5 {background:red;}
.sub_header.type6 {background:red;}
.sub_header .sub_txt {font-family:"Nanum Square"; font-size:22px; font-weight:400; line-height:1.5em;}
.sub_header h2 {font-family:"Nanum Square"; font-size:38px; font-weight:700; line-height:1.5em;}
.sub_content {min-height:740px; padding-bottom:100px;}
 
@media (min-width:1921px) {
    .upper_banner_on .sub_header {margin-top:315px;}
}

@media (max-width:1024px) {
    .sub_header {height:150px; margin-top:65px; padding-top:40px;}
    .upper_banner_on .sub_header {margin-top:calc(65px + 20.5078125%);}
    .sub_header .sub_txt {font-size:18px;}
    .sub_header h2 {font-size:30px;}
    .sub_header h2:after {right:-40px; bottom:10px; width:33px; height:39px; background-position:-5px -123px; background-size:500px 500px;}
    .sub_header .sub_tit {margin-bottom:50px; font-size:18px;}
    .sub_content {min-height:0; padding-bottom:50px;}
}

@media (max-width:599px) {
    .sub_header {height:120px; padding-top:30px;}
    .sub_header .sub_txt {font-size:16px;}
    .sub_header h2 {font-size:24px;}
    .sub_header h2:after {display:none;}
    .sub_header .sub_tit {font-size:14px;}
    .sub_content {padding-bottom:30px;}
}

/* 빵가루 */
.breadcrumb {position:absolute; bottom:0; left:50%; width:100%; max-width:1200px; background:rgba(51,51,51,0.85); -webkit-transform:translateX(-50%); -moz-transform:translateX(-50%); -ms-transform:translateX(-50%); -o-transform:translateX(-50%); transform:translateX(-50%); box-shadow:0 5px 10px 0 rgba(0,0,0,0.2);}
.breadcrumb > ul:after {display:block; clear:both; content:"";}
.breadcrumb > ul > li {float:left; border-right:1px solid rgba(255,255,255,0.2);}
.breadcrumb > ul > li.home a {display:block; position:relative; width:50px; height:50px; text-indent:-9999px;}
.breadcrumb > ul > li.home a:before {position:absolute; top:50%; left:50%; width:16px; height:16px; margin-top:-8px; margin-left:-8px; background:red; content:"";}
.breadcrumb > ul > li .select_form {min-width:180px; max-width:320px; background:none;}
.breadcrumb > ul > li .select_form button {padding-left:20px; border:0; background:none; font-size:16px; line-height:50px; color:#cdcdcd;}
.breadcrumb > ul > li .select_form button span {font-family:"Nanum Square";}
.breadcrumb > ul > li .select_form button:after {border-color:#cdcdcd;}
.breadcrumb .select_form button + ul {width:calc(100% + 2px); margin-left:-1px; padding:5px 20px; background:rgba(255,255,255,0.95); box-shadow:0 5px 10px 0 rgba(0,0,0,0.2);}
.breadcrumb .select_form button + ul a {font-family:"Nanum Square";}

@media (max-width:1024px) {
    .breadcrumb {display:none;}
}

/* 서브 페이지 상단 */
.sub_upper_wrap {padding:80px 0 50px; color:#333; text-align:center;}
.sub_upper_wrap.bg {background:#e6eff1;}
.sub_upper_wrap .main_tit {position:relative; margin:0 auto; font-family:"Nanum Square"; font-size:40px; line-height:1.4em; color:inherit;}
.sub_upper_wrap .main_tit:before {position:absolute; top:-30px; left:50%; width:18px; height:20px; margin-left:-9px; background:red; content:"";}
.sub_upper_wrap .main_tit strong {font-family:"Nanum Square"; font-weight:900;}
.sub_upper_wrap .txt {margin:30px auto 0; font-family:"Nanum Square"; font-size:18px; font-weight:300; line-height:1.6em; color:inherit;}

@media (max-width:1024px) {
    .sub_upper_wrap {padding:30px 0;}
    .sub_upper_wrap .main_tit {width:90%; margin-top:30px; font-size:30px;}
    .sub_upper_wrap .main_tit br {display:none;}
    .sub_upper_wrap .txt {width:90%; margin-top:15px; font-size:16px;}
    .sub_upper_wrap .txt br {display:none;}
}

@media (max-width:599px) {
    .sub_upper_wrap .main_tit {font-size:20px;}
    .sub_upper_wrap .txt {font-size:14px;}
}

/* 서브 페이지 상단 탭메뉴 */
.sub_upper_wrap .tab_menu {display:table; width:100%; margin-bottom:75px; background:#fff; table-layout:fixed;}
.sub_upper_wrap .tab_menu ul {display:table-row;}
.sub_upper_wrap .tab_menu ul li {display:table-cell;}
.sub_upper_wrap .tab_menu ul li a {display:block; position:relative; border:1px solid #ddd; border-right:0; font-family:"Nanum Square"; font-size:18px; line-height:48px; color:inherit; text-align:center; transition:all 0.5s;}
.sub_upper_wrap .tab_menu ul li:last-child a {border-right:1px solid #ddd;}
.sub_upper_wrap .tab_menu ul li.on,.sub_upper_wrap .tab_menu ul li a:hover {background:#1b8fa2; font-weight:700; color:#fff;}

@media (max-width:1024px) {
    .sub_upper_wrap .tab_menu {display:block; margin-bottom:50px; background:none;}
    .sub_upper_wrap .tab_menu ul {display:block; overflow:hidden; border-top:1px solid #ddd; border-left:1px solid #ddd;}
    .sub_upper_wrap .tab_menu ul li {float:left; width:50%; background:#fff;}
    .sub_upper_wrap .tab_menu ul li a {border:0; border-right:1px solid #ddd; border-bottom:1px solid #ddd; font-size:16px; line-height:2.5em;}
}

@media (max-width:599px) {
    .sub_upper_wrap .tab_menu ul li {width:100%;}
    .sub_upper_wrap .tab_menu ul li a {font-size:14px;}
}

/* 서브 페이지 내용 */
.sub_lower_wrap {padding:40px 0 50px; background-size:cover; background-position:center;}
.sub_tit_wrap {position:relative; padding-top:35px; padding-bottom:30px; color:#333; text-align:center;}
.sub_tit_wrap.white {color:#fff;}
.sub_tit_wrap:after {position:absolute; top:0; left:50%; width:18px; height:20px; margin-left:-9px; background:red; content:"";}
.sub_tit_wrap .sub_txt {font-family:"Nanum Square"; font-size:24px; line-height:1.5em;}
.sub_tit_wrap h3 {font-family:"Nanum Square"; font-size:32px; font-weight:900; line-height:1.5em;}
.sub_tit_wrap .txt_info {font-size:16px;}
.sub_tit_wrap .txt_info strong {font-weight:700;}

@media (max-width:1024px) {
    .sub_lower_wrap {padding:30px 0;}
    .sub_tit_wrap {padding-top:30px;}
    .sub_tit_wrap .sub_txt {font-size:18px;}
    .sub_tit_wrap h3 {font-size:24px;}
    .sub_tit_wrap .txt_info {font-size:14px;}
}

@media (max-width:599px) {
    .sub_tit_wrap .sub_txt {font-size:14px;}
    .sub_tit_wrap h3 {font-size:18px;}
    .sub_tit_wrap .txt_info {font-size:12px;}
}

/* 서브 페이지 내용 탭메뉴 */
.sub_lower_wrap .tab_menu {display:table; width:100%;}
.sub_lower_wrap .tab_menu ul {display:table-row;}
.sub_lower_wrap .tab_menu li {display:table-cell;}
.sub_lower_wrap .tab_menu button,.sub_lower_wrap .tab_menu a {display:inline-block; position:relative; width:100%; border:1px solid #ddd; border-right:0; background:#f8f8f8; font-size:18px; line-height:48px; color:#333; text-align:center;}
.sub_lower_wrap .tab_menu li.on button,.sub_lower_wrap .tab_menu li.on a {border-bottom:0; background:#fff; font-weight:700; color:#008398;}
.sub_lower_wrap .tab_menu li.on button:after,.sub_lower_wrap .tab_menu li.on a:after {position:absolute; top:-1px; left:-1px; width:calc(100% + 1px); height:3px; background:#008398; content:"";}
.sub_lower_wrap .tab_menu li:last-child button,.sub_lower_wrap .tab_menu li:last-child a {border-right:1px solid #ddd;}

/* 서브 헤더 없는 페이지 공통 */
.no_sub_header .sub_content {margin-top:130px;}
.upper_banner_on .no_sub_header .sub_content {margin-top:calc(130px + 10.9375%);}
.no_sub_header .sub_upper_wrap {padding-top:95px;}
.no_sub_header .sub_upper_wrap .main_tit {font-weight:900;}
.no_sub_header .sub_upper_wrap .main_tit:before {top:-35px;}

@media (max-width:1024px) {
    .no_sub_header .sub_content {margin-top:65px;}
    .upper_banner_on .no_sub_header .sub_content {margin-top:calc(65px + 20.5078125%);}
    .no_sub_header .sub_upper_wrap {padding-top:30px;}
    .no_sub_header .sub_upper_wrap .main_tit:before {top:-30px;}
}

/*************** 개별 페이지 ***************/

/* 학원소개 */
.introduce .introduce_cont .introduce_list li {margin-bottom:30px;}
.introduce .introduce_cont .introduce_list li:last-child {margin-bottom:0;}
.introduce .introduce_mod:after {display:table; clear:both; content:"";}
.introduce .introduce_mod .introduce_img {float:left; line-height:0;}
.introduce .introduce_mod .introduce_text {overflow:hidden; padding:195px 0 0 60px;}
.introduce .cont_left .introduce_img {float:right;}
.introduce .cont_left .introduce_text {padding:195px 60px 0 0; text-align:right;}
.introduce .introduce_text .introduce_tit {position:relative; margin-bottom:20px; font-size:20px; font-weight:700; line-height:1.3em; color:#333; font-family:"Nanum Square";}
.introduce .introduce_text .introduce_tit:before {position:absolute; z-index:-1; width:100px; height:100px; content:""; background-image:url(../img/sprite/sprite.png);}
.introduce .introduce_list li:nth-child(1) .introduce_tit:before {top:-110px; left:-8px; background-position:-10px -330px;}
.introduce .introduce_list li:nth-child(2) .introduce_tit:before {top:-123px; right:-3px; background-position:-120px -330px;}
.introduce .introduce_list li:nth-child(3) .introduce_tit:before {top:-126px; left:0; height:108px; background-position:-230px -330px;}
.introduce .introduce_text .introduce_txt {font-size:14px; line-height:1.6em; color:#333;}
.introduce .text_left .introduce_tit:before {left:inherit;}

@media screen and (max-width:1600px) {
    .introduce .introduce_cont .introduce_list li {margin-bottom:50px;}
    .introduce .introduce_mod .introduce_text {padding:130px 0 0 60px;}
    .introduce .cont_left .introduce_text {padding:130px 60px 0 0;}
}

@media screen and (max-width:1280px) {
    .introduce .introduce_text .introduce_tit {font-size:18px;}
	.introduce .introduce_text .introduce_txt {font-size:13px;}
    .introduce .introduce_text .introduce_txt br {display:none;}
}

@media screen and (max-width:1024px) {
    .introduce .introduce_mod .introduce_img {width:50%;}
    .introduce .introduce_text .introduce_tit:before {width:50px; height:50px; background-size:500px;}
    .introduce .introduce_mod .introduce_text,.introduce .cont_left .introduce_text  {padding-top:65px;}
    .introduce .introduce_list li:nth-child(1) .introduce_tit:before {top:-55px; left:0; background-position:-5px -165px;}
    .introduce .introduce_list li:nth-child(2) .introduce_tit:before {top:-62px; right:0; background-position:-60px -165px;}
    .introduce .introduce_list li:nth-child(3) .introduce_tit:before {top:-63px; left:0; height:54px; background-position:-115px -165px;}
}

@media screen and (max-width:599px) {
    .introduce .introduce_mod .introduce_img {float:none; width:100%; margin-bottom:30px;}
	.introduce .cont_left .introduce_img {float:none;}
	.introduce .introduce_mod .introduce_text {padding:0;}
	.introduce .cont_left .introduce_text {padding:0; text-align:left;}
    .introduce .introduce_text .introduce_tit:before {display:none;}
}

/* 히스토리 */
.history .sub_lower_wrap {margin-bottom:-100px; padding-bottom:100px; background:url('../img/bg/bg_history.png') calc(50% - 471px) 343px no-repeat;}
.history .history_wrap {display:none; margin-top:60px;}
.history .history_wrap .tit {float:left; width:280px; height:280px; border:10px solid #ddd; background:#fff url(../img/bg/bg_history_tit.png) center no-repeat; text-indent:-9999px;}
.history .history_list {padding-left:450px;}
.history .history_list dl {position:relative;}
.history .history_list dl:before {position:absolute; top:0; left:8px; width:2px; height:100%; background:#ddd; content:"";}
.history .history_list dl > div {margin:30px 0 10px; padding-left:40px;}
.history .history_list dt {position:relative; font-family:"Nanum Square"; font-size:20px; line-height:46px; font-weight:900;}
.history .history_list dt:before {position:absolute; top:50%; left:-40px; width:18px; height:18px; margin-top:-9px; background:#008398; content:"";}
.history .history_list dd {position:relative; padding:0.25em 0 0.25em 15px; font-size:16px; line-height:1.5em;}
.history .history_list dd:before {position:absolute; top:13px; left:0; width:4px; height:4px; border-radius:50%; background:#646f72; content:"";}

@media screen and (max-width:1024px) {
    .history .sub_lower_wrap {margin-bottom:0; padding-bottom:0; background:none;}
    .history .history_tab button {font-size:16px; line-height:38px;}
    .history .history_wrap .tit {background-size:90px; width:150px; height:150px; border-width:5px;}
    .history .history_list {padding-left:180px;}
    .history .history_list dd {font-size:14px;}
    .history .history_list dd:before {top:12px;}
}

@media screen and (max-width:599px) {
    .history .history_tab button {font-size:12px; line-height:28px;}
    .history .history_wrap {margin-top:30px;}
    .history .history_wrap .tit {display:block; float:none; width:100%; height:auto; border-width:3px; background:none; font-size:16px; font-weight:700; font-family:"Nanum Square"; line-height:2em; text-align:center; text-indent:0;}
    .history .history_list {padding:0;}
    .history .history_list dl:before {display:none;}
    .history .history_list dl > div {margin:15px 0; padding:0;}
    .history .history_list dt:before {display:none;}
    .history .history_list dd {padding-left:10px;}
}

/* 전국 캠퍼스 */
.campus_find .campus_search_wrap {padding-bottom:130px;}
.campus_find .campus_data_wrap {margin-top:-120px; background:#fff;}
.campus_find .campus {margin:60px 0 20px;}
.campus_find .campus:after {display:block; clear:both; content:"";}
.campus_find .campus_map_wrap,.campus_find .campus_option_wrap {float:left; width:50%;}
.campus_find .campus_map_wrap {overflow:hidden; padding-right:40px;}
.campus_find .campus_map {float:right; position:relative; width:255px; height:466px; margin-right:30px; background:url(../img/bg/bg_maparea.png) no-repeat;}
.campus_find .area li button {position:absolute; z-index:1; min-width:60px; padding:0 10px; border-radius:16px; background:#bbb; font-size:16px; font-weight:700; line-height:32px; color:#fff; transition:background 0.5s;}
.campus_find .area li.on button,.campus_find .area li button:hover {background:#42adaa;}
.campus_find .area li:nth-child(1) button {top:52px; left:38px;}
.campus_find .area li:nth-child(2) button {top:294px; left:217px;}
.campus_find .area li:nth-child(3) button {top:227px; left:152px;}
.campus_find .area li:nth-child(4) button {top:84px; left:-20px;}
.campus_find .area li:nth-child(5) button {top:291px; left:-20px;}
.campus_find .area li:nth-child(6) button {top:207px; left:68px;}
.campus_find .area li:nth-child(7) button {top:248px; left:222px;}
.campus_find .area li:nth-child(8) button {top:165px; left:29px;}
.campus_find .area li:nth-child(9) button {top:102px; left:57px;}
.campus_find .area li:nth-child(10) button {top:57px; left:139px;}
.campus_find .area li:nth-child(11) button {top:150px; left:90px;}
.campus_find .area li:nth-child(12) button {top:199px; left:-20px;}
.campus_find .area li:nth-child(13) button {top:248px; left:18px;}
.campus_find .area li:nth-child(14) button {top:346px; left:54px;}
.campus_find .area li:nth-child(15) button {top:183px; left:159px;}
.campus_find .area li:nth-child(16) button {top:286px; left:115px;}
.campus_find .area li:nth-child(17) button {top:408px; left:3px;}
.campus_find .area li img {visibility:hidden; position:absolute; transition:all 0.5s; opacity:0; transform:scale(1.2);}
.campus_find .area li.on img {visibility:visible; opacity:1; transform:scale(1);}
.campus_find .area li:nth-child(1) img {top:84px;left:45px;}
.campus_find .area li:nth-child(2) img {top:301px;left:195px;}
.campus_find .area li:nth-child(3) img {top:242px;left:163px;}
.campus_find .area li:nth-child(4) img {top:88px;left:32px;}
.campus_find .area li:nth-child(5) img {top:307px;left:29px;}
.campus_find .area li:nth-child(6) img {top:198px;left:80px;}
.campus_find .area li:nth-child(7) img {top:270px;left:211px;}
.campus_find .area li:nth-child(8) img {top:170px;left:72px;}
.campus_find .area li:nth-child(9) img {top:32px;left:12px;}
.campus_find .area li:nth-child(10) img {top:3px;left:81px;}
.campus_find .area li:nth-child(11) img {top:125px;left:85px;}
.campus_find .area li:nth-child(12) img {top:149px;left:-1px;}
.campus_find .area li:nth-child(13) img {top:226px;left:19px;}
.campus_find .area li:nth-child(14) img {top:287px;left:12px;}
.campus_find .area li:nth-child(15) img {top:141px;left:124px;}
.campus_find .area li:nth-child(16) img {top:250px;left:102px;}
.campus_find .area li:nth-child(17) img {top:436px;left:0;}
.campus_find .campus_option_wrap {padding-left:40px; text-align:left;}
.campus_find .campus_option_wrap .tit {position:relative; margin:80px 0 25px; font-family:"Nanum Square"; font-size:32px; line-height:1.3em; color:#333;}
.campus_find .campus_option_wrap .tit:before {position:absolute; top:-30px; left:0; width:18px; height:20px; background:red; content:"";}
.campus_find .campus_option {width:314px; font-size:0;}
.campus_find .campus_option .option_wrap .select_form {display:inline-block; width:calc(50% - 2px); margin-right:4px;}
.campus_find .campus_option .option_wrap .select_form:last-child {margin:0;}
.campus_find .campus_option .search_wrap {width:100%; margin-top:10px;}
.campus_find .cate_select {padding-top:30px;}
.campus_find .cate_select ul {font-size:0; text-align:center; margin:-5px 0;}
.campus_find .cate_select ul li {display:inline-block; margin:5px;}
.campus_find .cate_select ul li input[type="checkbox"] {width:0; height:0; margin:0; padding:0; font-size:0; line-height:0; opacity:0;}
.campus_find .cate_select ul li label {display:inline-block; line-height:30px; padding:0 10px; font-size:14px; color:#fff; background:#bbb; transition:all 0.5s;}
.campus_find .cate_select ul li input[type="checkbox"]:checked + label {background:#008398;}
.campus_find .cate_select ul li label:before {content:"#";}

.campus_find .fold_list {padding-top:20px;}
.campus_find .fold_list ul {border-top:3px solid #333;}
.campus_find .fold_list ul li {position:relative; border-bottom:1px solid #ddd; background:#fff; cursor:pointer;}
.campus_find .fold_list ul .data_wrap:before,.campus_find .fold_list ul .data_wrap:after {position:absolute; top:28px; right:12px; width:18px; height:4px; border-radius:2px; background:#555; transition:all 0.5s; content:"";}
.campus_find .fold_list ul .data_wrap:after {transform:rotate(90deg);}
.campus_find .fold_list ul .data_wrap.on:after {transform:rotate(0deg);}
.campus_find .fold_list ul li .data {overflow:hidden; padding:16px 0;}
.campus_find .fold_list ul li .data span {float:left;}
.campus_find .fold_list ul li .data .name {position:relative; width:30%; padding-left:30px; font-family:"Nanum Square"; font-size:18px; font-weight:700; line-height:28px; color:#333;}
.campus_find .fold_list ul li .data .name:before {position:absolute; top:13px; left:0; width:22px; height:18px; margin-top:-9px; background:red; content:"";}
.campus_find .fold_list ul li .data .address {width:46%; margin:0 2%; padding:4px 0; font-size:14px; line-height:20px;}
.campus_find .fold_list ul li .data .tel {width:20%; padding:4px 0; font-size:14px; line-height:20px;;}
.campus_find .fold_list ul li .map {display:none; margin-bottom:20px; font-size:0;}
.campus_find .fold_list ul li .map iframe {height:360px;}

@media screen and (max-width:1280px) {
    .campus_find .fold_list ul li .data .address {width:44%}
    .campus_find .fold_list ul li .data .tel {width:22%;}
    .campus_find .fold_list ul .data_wrap:before,.campus_find .fold_list ul .data_wrap:after {right:0;}
}

@media screen and (max-width:1024px) {
    .campus_find .campus {margin:0;}
    .campus_find .campus_map_wrap {width:320px; margin-top:-30px; margin-bottom:-70px; padding-right:15px;}
    .campus_find .campus_map {transform:scale(0.75);}
    .campus_find .campus_option_wrap {padding-left:15px; width:calc(100% - 320px);}
    .campus_find .campus_option_wrap .tit {margin-top:60px; font-size:24px;}
    .campus_find .campus_option_wrap .tit br {display:none;}
    .campus_find .campus_option {width:100%;}
    .campus_find .campus_option .option_wrap .select_form {width:100%; margin:0; margin-bottom:10px;}
    .campus_find .fold_list ul li .data {padding:15px 33px 15px 0;}
    .campus_find .fold_list ul li .data span {display:block; margin:0 !important; width:100% !important;}
    .campus_find .fold_list ul li .data .name {font-size:16px;}
}

@media screen and (max-width:599px) {
    .campus_find .campus_map_wrap {display:none;}
    .campus_find .campus_option_wrap {float:none; width:100%; padding:0;}
    .campus_find .campus_option_wrap .tit {margin-top:30px; font-size:16px; text-align:center;}
    .campus_find .campus_option_wrap .tit:before {display:none;}
    .campus_find .campus_search_wrap {padding-bottom:120px;}
    .campus_find .cate_select {padding-top:15px;}
    .campus_find .cate_select ul li label {font-size:12px; line-height:2em;}
    .campus_find .fold_list {padding-top:15px;}
    .campus_find .fold_list ul li .data .tel {font-size:12px;}
}

/* 초,중등수학 - 수업특징(공통) */
.specific .sequence ol {margin:0 -35px;}
.specific .sequence ol:after {display:block; clear:both; content:"";}
.specific .sequence li {float:left; position:relative; width:20%; padding:0 35px; padding-top:140px;}
.specific .sequence li:before {position:absolute; top:0; left:50%; width:140px; height:140px; border-radius:50%; background:red; transform:translateX(-50%); content:"";}
.specific .sequence li span {display:block; margin-top:10px; font-family:"Nanum Square"; font-size:18px; font-weight:700; line-height:1.3em; color:#646f72; text-align:center;}
.specific .sequence li span:before,.specific .sequence li span:after {position:absolute; top:57px; left:-12px; width:0; height:0; border-top:15px solid transparent; border-bottom:15px solid transparent; border-left:26px solid #ccc; content:"";}
.specific .sequence li span:after {margin-left:-2px; border-left-color:#fff; transform:scale(0.5);}
.specific .sequence li:first-child span:before,.specific .sequence li:first-child span:after {display:none;}

.specific .discussion {overflow:hidden; background-position:top center; background-size:cover;}
.specific .discussion .diagram {float:left; position:relative; width:50%; height:282px; background:url(../img/bg/bg_discussion.png) no-repeat; background-position:center right 60px; z-index:1;}
.specific .discussion.junior {background-image:url(../img/bg/bg_junior_discussion.png);}
.specific .discussion.junior .info {position:relative; top:75px; padding:30px 0; background:-moz-linear-gradient(left, rgba(55,55,55,0) 0%, rgba(55,55,55,0.23) 50%, rgba(55,55,55,0.45) 100%); background:-webkit-linear-gradient(left, rgba(55,55,55,0) 0%,rgba(55,55,55,0.23) 50%,rgba(55,55,55,0.45) 100%); background:linear-gradient(to right, rgba(55,55,55,0) 0%,rgba(55,55,55,0.23) 50%,rgba(55,55,55,0.45) 100%); filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#00373737', endColorstr='#73373737',GradientType=1 );}
.specific .discussion.junior .info .main_tit {font-family:"Nanum Square"; font-size:32px; font-weight:700; font-weight:700; line-height:1.3em; color:#fff;}
.specific .discussion.junior .info .main_tit strong {font-family:inherit; font-weight:inherit; color:#b9e6e8;}
.specific .discussion.junior .info .txt {margin-top:8px; font-size:16px; line-height:1.75em; color:#fff;}
.specific .discussion.middle {background-image:url(../img/bg/bg_middle_discussion.png);}
.specific .discussion.middle .info {padding-left:50%;}
.specific .discussion.middle .info ul {padding-top:40px; padding-left:40px;}
.specific .discussion.middle .info ul li {margin-bottom:10px;}
.specific .discussion.middle .info ul li span {display:inline-block; padding:10px 30px; border:2px solid #ddd; border-radius:24px; background:#fff; font-size:16px; line-height:1.5em;}
.specific .discussion.middle .info ul li strong {font-weight:700;}

.specific .custom .info_wrap {padding:65px 9.16%; border:1px solid #ddd; background:url(../img/bg/bg_custom.png); background-position:right center;}
.specific .custom .info_wrap .sub_txt {display:inline-block; position:relative;}
.specific .custom .info_wrap .sub_txt span {display:block; position:relative; font-family:"Nanum Square"; font-size:24px; font-weight:700; line-height:1.5em; white-space:nowrap;}
.specific .custom .info_wrap .sub_txt:before {position:absolute; top:50%; left:0; width:100%; height:0.75em; background:#bbe5eb; transform:translateY(-50%); content:"";}
.specific .custom .info_wrap .main_txt {font-family:"Nanum Square"; font-size:42px; font-weight:900; line-height:1.4em;}
.specific .custom .info_wrap .main_txt strong {font-family:inherit; font-weight:inherit; color:#008398;}
.specific .custom .info_wrap .diagram {height:153px; margin-top:50px; background:url(../img/bg/bg_custom_step.png) no-repeat; background-size:563px 153px;}

.specific .merit {overflow:hidden; margin-top:-20px;}
.specific .merit .cont {float:left; width:50%; min-height:620px; padding-top:60px;}
.specific .merit .fusion {background:#f5f5f5 url(../img/bg/bg_merit_fusion.png) 65% 187px/290px 252px no-repeat;}
.specific .merit .tech {background:#e3e3e3 url(../img/bg/bg_merit_tech.png) 47.7% 187px/381px 276px no-repeat;}
.specific .merit p {padding-top:330px; font-size:16px; line-height:1.75em; text-align:center;}

@media screen and (max-width:1024px) {
    .specific .sequence ol {margin:0;}
    .specific .sequence li {padding:0; padding-top:70px;}
    .specific .sequence li:before {width:70px; height:70px;}
    .specific .sequence li span {font-size:14px;}
    .specific .sequence li span:before,.specific .sequence li span:after {top:20px;}

    .specific .discussion .diagram {height:141px; margin-top:5px; background-position:center right 15px; background-size:contain;}
    .specific .discussion.junior .diagram {margin:15px; margin-left:0;}
    .specific .discussion.junior .info {top:0;}
    .specific .discussion.junior .info .main_tit {font-size:24px;}
    .specific .discussion.junior .info .txt {font-size:12px; line-height:1.6em;}
    .specific .discussion.middle .info ul {padding:0; padding-left:15px;}
    .specific .discussion.middle .info ul li span {padding:3px 15px; font-size:14px;}

    .specific .custom .info_wrap {padding:30px; text-align:center;}
    .specific .custom .info_wrap .sub_txt span {font-size:18px;}
    .specific .custom .info_wrap .main_txt {font-size:30px;}
    .specific .custom .info_wrap .diagram {height:102px; margin-top:30px; background-position:center; background-size:contain;}

    .specific .merit {margin-top:-30px;}
    .specific .merit .cont {min-height:430px; padding:30px;}
    .specific .merit .fusion {background-position:center 120px; background-size:193px 168px;}
    .specific .merit .tech {background-position:center 120px; background-size:254px 184px;}
    .specific .merit p {padding-top:200px; font-size:14px; line-height:1.6em;}
}

@media screen and (max-width:599px) {
    .specific .sequence ol {margin:-8px 0;}
    .specific .sequence li {width:33.33%; margin:8px 0;}
    .specific .sequence li:nth-child(n+4) {transform:translateX(50%);}
    .specific .sequence li span:before,.specific .sequence li span:after {top:25px; left:-8px; border-top-width:10px; border-bottom-width:10px; border-left-width:17px;}
    .specific .sequence li span:after {margin-left:-1px;}

    .specific .discussion .diagram {float:none; width:100%; background-position:center;}
    .specific .discussion.junior .diagram {margin:0;}
    .specific .discussion.junior .info {margin-top:30px; padding:15px 0; text-align:center; background:rgba(55,55,55,0.45);}
    .specific .discussion.junior .info .main_tit {font-size:18px;}
    .specific .discussion.middle .info {padding:0;}
    .specific .discussion.middle .info ul {margin-top:30px; padding:0;}
    .specific .discussion.middle .info ul li {text-align:center;}
    .specific .discussion.middle .info ul li span {font-size:12px;}

    .specific .custom .info_wrap .sub_txt span {font-size:14px;}
    .specific .custom .info_wrap .main_txt {font-size:18px;}
    .specific .custom .info_wrap .diagram {height:76px; margin-top:15px;}

    .specific .merit .cont {float:none; width:100%; padding:30px 15px; min-height:0; background-position:center 100px !important;}
    .specific .merit p {padding-top:180px; font-size:12px;}
}

/* 초,중등수학 - 교재구성(공통) */
.book_info {}

/* 초등수학 - 교재구성 */
.book_info.junior {}

/* 중등수학 - 교재구성 */
.book_info.middle {}

/* 초등수학 - 레벨구성 */
.junior_level .level_link_bx {max-width:980px; margin:0 auto;}
.junior_level .level_link_list {overflow:hidden; margin:-20px;}
.junior_level .level_link_list li {float:left; width:33.33%; padding:20px;} 
.junior_level .level_link_list li:nth-child(1) {transform:translateX(50%);}
.junior_level .level_link_list li:nth-child(2) {margin-right:10px; transform:translateX(50%);}
.junior_level .level_link_list li a {display:block; position:relative; width:100%; text-align:center; background-size:100%; background-position:center top;}
.junior_level .level_link_list li:nth-child(1) a {background-image:url(../img/bg/bg_link_list_01.jpg);}
.junior_level .level_link_list li:nth-child(2) a {background-image:url(../img/bg/bg_link_list_02.jpg);}
.junior_level .level_link_list li:nth-child(3) a {background-image:url(../img/bg/bg_link_list_03.jpg);}
.junior_level .level_link_list li:nth-child(4) a {background-image:url(../img/bg/bg_link_list_04.jpg);}
.junior_level .level_link_list li:nth-child(5) a {background-image:url(../img/bg/bg_link_list_05.jpg);}
.junior_level .level_link_list li a:before {content:""; position:absolute; left:0; top:0; right:0; bottom:0; background:rgba(0,0,0,0.5); visibility:hidden; opacity:0; transition:all 0.5s; z-index:0;}
.junior_level .level_link_list li a:hover:before {visibility:visible; opacity:1;}
.junior_level .level_link_list li .link_mod {position:relative; z-index:1;}
.junior_level .link_box .link_list_tit {padding-top:100px; padding-bottom:90px; font-family:"Nanum Square"; font-size:40px; font-weight:700; line-height:54px; color:#fff;}
.junior_level .link_box .list_tit_fs {display:block; font-family:"Nanum Square"; font-size:30px; font-weight:700; text-transform:uppercase;}
.junior_level .link_box .arrow_text {position:absolute; top:205px; left:50%; padding-right:12px; font-size:14px; line-height:26px; color:#fff; transform:translateX(-50%); transition:all 0.5s;}
.junior_level .link_box .arrow_text:after {position:absolute; top:50%; right:0; width:8px; height:8px; margin-top:-4px; border:1px solid #fff; border-bottom:0; border-left:0; transform:rotate(45deg); transition:all 0.5s; content:"";}
.junior_level .link_box:hover .arrow_text:after {right:-5px;}
.junior_level .level_link_list li .bottom_text {width:100%; padding:15px 0; border-top:2px solid #fff; text-align:center;} 
.junior_level .level_link_list li:nth-child(1) .bottom_text {background-color:#8ab113;}
.junior_level .level_link_list li:nth-child(2) .bottom_text {background-color:#469950;}
.junior_level .level_link_list li:nth-child(3) .bottom_text {background-color:#00aeba;}
.junior_level .level_link_list li:nth-child(4) .bottom_text {background-color:#008398;}
.junior_level .level_link_list li:nth-child(5) .bottom_text {background-color:#005967;}
.junior_level .level_link_list li .bottom_text p {font-size:14px; line-height:24px; color:#fff;} 

@media screen and (max-width:1024px) {
    .junior_level .level_link_bx {padding:0 30px;}
    .junior_level .level_link_list {margin:-15px;}
    .junior_level .level_link_list li {width:50%; padding:15px;} 
    .junior_level .level_link_list li:nth-child(1),.junior_level .level_link_list li:nth-child(2) {margin-right:0; transform:none;}
    .junior_level .level_link_list li a {background-position:center;}
    .junior_level .link_box .link_list_tit {padding-top:30px; padding-bottom:60px; font-size:30px; line-height:1.5em;}
    .junior_level .link_box .list_tit_fs {font-size:20px; line-height:1.5em;}
    .junior_level .link_box .arrow_text {top:110px;}
    .junior_level .level_link_list li .bottom_text {padding:8px 0;}
    .junior_level .level_link_list li .bottom_text p {line-height:1.5em;}
}

@media screen and (max-width:599px) {
    .junior_level .level_link_bx {padding:0 15px;}
    .junior_level .level_link_list {margin:-15px 0;}
    .junior_level .level_link_list li {float:none; width:100%; padding:15px 0;}
    .junior_level .link_box .link_list_tit {padding-bottom:30px; font-size:24px;}
    .junior_level .link_box .list_tit_fs {font-size:16px;}
    .junior_level .link_box .arrow_text {display:inline-block; position:relative; top:-30px; left:0; font-size:14px; transform:none;}
    .junior_level .level_link_list li .bottom_text {padding:5px 0;}
    .junior_level .level_link_list li .bottom_text p {font-size:12px;}
}

/* 중등수학 - 레벨구성 */
.middle_level .level_schedule_bx {overflow:hidden; position:relative; max-width:980px; margin:0 auto;}
.middle_level .level_schedule_bx:after {position:absolute; top:0; left:0; z-index:0; width:100%; height:100%; background:-moz-linear-gradient(left, rgba(249,249,249,0) 0%, rgba(249,249,249,1) 100%); background:-webkit-linear-gradient(left, rgba(249,249,249,0) 0%,rgba(249,249,249,1) 100%); background:linear-gradient(to right, rgba(249,249,249,0) 0%,rgba(249,249,249,1) 100%); transform:skewY(-7deg) translateY(65px); content:""; filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f9f9f9', endColorstr='#f9f9f9',GradientType=1 );}
.middle_level .level_schedule {overflow:hidden; position:relative; z-index:1;}
.middle_level .level_schedule li {float:left; position:relative; width:20%; height:330px;}
.middle_level .level_schedule_mod {text-align:center;}
.middle_level .level_schedule_mod .top_text {position:relative;}
.middle_level .level_schedule li:nth-child(1) .level_schedule_mod .top_text {padding-top:84px;}
.middle_level .level_schedule li:nth-child(2) .level_schedule_mod .top_text {padding-top:64px;}
.middle_level .level_schedule li:nth-child(3) .level_schedule_mod .top_text {padding-top:45px;}
.middle_level .level_schedule li:nth-child(4) .level_schedule_mod .top_text {padding-top:24px;}
.middle_level .level_schedule li:nth-child(5) .level_schedule_mod .top_text {padding-top:0px;}
.middle_level .level_schedule_mod .top_text .num {display:block; font-family:"Nanum Square"; font-size:18px; font-weight:700; line-height:26px;}
.middle_level .level_schedule li:nth-child(1) .level_schedule_mod .top_text .num {color:#8ab113;}
.middle_level .level_schedule li:nth-child(2) .level_schedule_mod .top_text .num {color:#469950;}
.middle_level .level_schedule li:nth-child(3) .level_schedule_mod .top_text .num {color:#00aeba;}
.middle_level .level_schedule li:nth-child(4) .level_schedule_mod .top_text .num {color:#008398;}
.middle_level .level_schedule li:nth-child(5) .level_schedule_mod .top_text .num {color:#005967;}
.middle_level .level_schedule_mod .top_text .top_txt {font-size:14px; line-height:24px; color:#333;}
.middle_level .level_schedule_mod a {position:absolute; bottom:0; left:0; width:100%;}
.middle_level .level_schedule_mod a:before {visibility:hidden; position:absolute; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.5); transition:all 0.5s; opacity:0; content:"";}
.middle_level .level_schedule_mod a:hover:before {visibility:visible; opacity:1;}
.middle_level .level_schedule_mod a:after {content:""; position:absolute; width:1px; height:100%; right:0; top:0; background:rgba(255,255,255,0.5);}
.middle_level .level_schedule li:nth-child(1) a {background:#8ab113;}
.middle_level .level_schedule li:nth-child(2) a {background:#469950;}
.middle_level .level_schedule li:nth-child(3) a {background:#00aeba;}
.middle_level .level_schedule li:nth-child(4) a {background:#008398;}
.middle_level .level_schedule li:nth-child(5) a {background:#005967;}
.middle_level .level_schedule_mod .bottom_text {display:block; position:relative; padding:20px 10px; cursor:pointer;}
.middle_level .level_schedule_mod .bottom_text:after {position:absolute; left:50%; bottom:0; width:10px; height:10px; margin-left:-5px; border-radius:50%; content:"";}
.middle_level .level_schedule li:nth-child(1) .level_schedule_mod .bottom_text:after {bottom:120px; background:#8ab113;}
.middle_level .level_schedule li:nth-child(2) .level_schedule_mod .bottom_text:after {bottom:140px; background:#469950;}
.middle_level .level_schedule li:nth-child(3) .level_schedule_mod .bottom_text:after {bottom:160px; background:#00aeba;}
.middle_level .level_schedule li:nth-child(4) .level_schedule_mod .bottom_text:after {bottom:180px; background:#008398;}
.middle_level .level_schedule li:nth-child(5) .level_schedule_mod .bottom_text:after {bottom:200px; background:#005967;}
.middle_level .level_schedule_mod .bottom_text:before {position:absolute; bottom:0; left:50%; z-index:-1; width:4px; margin-left:-2px; background-image:url(../img/bg/bg_middlestep_line.png); background-repeat:repeat-y; content:"";}
.middle_level .level_schedule li:nth-child(1) .level_schedule_mod .bottom_text:before {height:120px;}
.middle_level .level_schedule li:nth-child(2) .level_schedule_mod .bottom_text:before {height:140px;}
.middle_level .level_schedule li:nth-child(3) .level_schedule_mod .bottom_text:before {height:160px;}
.middle_level .level_schedule li:nth-child(4) .level_schedule_mod .bottom_text:before {height:180px;}
.middle_level .level_schedule li:nth-child(5) .level_schedule_mod .bottom_text:before {height:200px;}
.middle_level .level_schedule_mod .bottom_text .bottom_txt {font-family:"Nanum Square"; font-size:18px; font-weight:700; color:#fff;}
.middle_level .level_schedule_mod .bottom_text .arrow {position:relative; padding-right:10px; font-size:12px; line-height:26px; color:#fff;}
.middle_level .level_schedule_mod .bottom_text .arrow:after {position:absolute; top:50%; right:0; width:8px; height:8px; margin-top:-4px; border:1px solid #fff; border-bottom:0; border-left:0; transform:rotate(45deg); transition:all 0.5s; content:"";}
.middle_level .level_schedule_mod a:hover .bottom_text .arrow:after {right:-3px;}
.middle_level .ps {font-size:14px; line-height:1.6em; color:#008398;}
.middle_level .ps:before {content:"*";}

@media screen and (max-width:1024px) {
    .middle_level .level_schedule_bx {padding:0 30px;}
    .middle_level .level_schedule_bx:after {display:none;}
    .middle_level .level_schedule_bx ul li {display:block; float:none; width:100%; max-width:480px; height:170px; margin:0 auto; margin-bottom:30px;}
    .middle_level .level_schedule_mod a:after {display:none;}
    .middle_level .level_schedule_mod .top_text {padding-top:0 !important;}
    .middle_level .level_schedule_mod .top_text:before {bottom:30px;}
    .middle_level .level_schedule_mod .top_text:after {bottom:10px; width:4px; height:40px;}
    .middle_level .level_schedule_mod .top_text .top_txt br {display:none;}
    .middle_level .level_schedule_mod .bottom_text {padding:10px;}
    .middle_level .level_schedule_mod .bottom_text:before {height:100px !important;}
    .middle_level .level_schedule_mod .bottom_text:after {bottom:100px !important;}
    .middle_level .ps {font-size:12px;} 
}

@media screen and (max-width:599px) {
    .middle_level .level_schedule_bx {padding:0 15px;}
    .middle_level .level_schedule_bx ul li {height:auto;}
    .middle_level .level_schedule_bx ul li:last-child {margin:0;}
    .middle_level .level_schedule_mod a {display:block; position:relative; margin-top:40px;}
    .middle_level .level_schedule_mod .top_text .top_txt {font-size:12px; line-height:1.6em;}
    .middle_level .level_schedule_mod .bottom_text .bottom_txt {font-size:16px;}
}

/* 캠퍼스 위치안내(공통) */
.campus_map .map_wrap {position:relative; height:460px; margin-top:-10px; background:#eee;}
.campus_map .map_wrap iframe {position:absolute; top:0; left:0; width:100%; height:100%;}
.campus_map .campus_data {margin-top:40px;}
.campus_map .campus_data .tit {margin-top:-4px; font-family:"Nanum Square"; font-size:20px; font-weight:700; line-height:1.4em; color:#333;}
.campus_map .campus_data .tit .address {font-family:inherit; font-weight:400;}
.campus_map .campus_data table {margin-top:20px; border-top:3px solid #333;}
.campus_map .campus_data table tr:hover th,.campus_map .campus_data table tr:hover td {background:none;}
.campus_map .campus_data table th,.campus_map .campus_data table td {text-align:left;}
.campus_map .campus_data table th {font-family:"Nanum Square"; font-size:18px; font-weight:700; vertical-align:top;}
.campus_map .campus_data .traffic .route {position:relative; line-height:0;}
.campus_map .campus_data .traffic .route .transit {position:absolute; top:0; left:0; width:50px; font-weight:700; line-height:30px;}
.campus_map .campus_data .traffic .route ol {display:inline-block; overflow:hidden; padding-left:50px;}
.campus_map .campus_data .traffic .route li {float:left; line-height:30px;}
.campus_map .campus_data .traffic .route li:after {margin:0 5px; content:"→";}
.campus_map .campus_data .traffic .route li:last-child:after {display:none;}
.campus_map .campus_data .traffic .route.bus ol li:first-child {margin-right:5px;}
.campus_map .campus_data .traffic .route.bus ol li:first-child:after {display:none;}
.campus_map .campus_data .traffic .route.bus .extra {margin:15px 0; padding-left:50px; line-height:30px;}

@media screen and (max-width:1024px) {
    .campus_map .map_wrap {height:350px; margin-top:0;}
    .campus_map .campus_data {margin-top:30px;}
    .campus_map .campus_data .tit {font-size:18px;}
    .campus_map .campus_data .tit .address {display:block; font-size:16px;}
    .campus_map .campus_data table {border:0;}
    .campus_map .campus_data table th {font-size:16px; margin-bottom:5px;}
    .campus_map .campus_data .traffic .route {margin:10px 0;}
    .campus_map .campus_data .traffic .route .transit {color:#008398;}
    .campus_map .campus_data .traffic .route .transit,.campus_map .campus_data .traffic .route li,.campus_map .campus_data .traffic .route.bus .extra {line-height:1.8em;}
}

@media screen and (max-width:599px) {
    .campus_map .map_wrap {height:300px;}
    .campus_map .campus_data .tit {font-size:16px;}
    .campus_map .campus_data .tit .address {font-size:14px;}
    .campus_map .campus_data table td {font-size:12px;}
    .campus_map .campus_data .traffic .route .transit,.campus_map .campus_data .traffic .route li {font-size:12px;}
}

/* 영재센터 - 영재센터 소개 */
.center_info .genius_intro_bx {position:relative; padding-top:40px;}
.center_info .genius_intro_bx:after {position:absolute; top:214px; left:0; width:100%; height:2px; background-color:#fff; content:"";}
.center_info .genius_intro_bx ol {overflow:hidden;}
.center_info .genius_intro_bx ol li {float:left; position:relative; width:33.33333%; padding-top:175px;}
.center_info .genius_intro_bx ol li:after {position:absolute; right:-5px; bottom:40px; width:16px; height:16px; border:2px solid #fff; border-bottom:0; border-left:0; border-color:#fff; transform:rotate(45deg); content:"";}
.center_info .genius_intro_bx ol li:last-child:after {display:none;}
.center_info .genius_intro_bx ol li:before {position:absolute; bottom:68px; left:50%; width:160px; height:150px; background:red; transform:translateX(-50%); content:"";}
.center_info .genius_intro_bx ol li:nth-child(1):before {}
.center_info .genius_intro_bx ol li:nth-child(2):before {}
.center_info .genius_intro_bx ol li:nth-child(3):before {}
.center_info .genius_intro_bx ol li .intro_text {display:block; position:relative; padding-top:24px; font-family:"Nanum Square"; font-size:18px; font-weight:700; line-height:24px; color:#646f72;}
.center_info .genius_intro_bx ol li .intro_text:after {position:absolute; top:-5px; left:50%; z-index:1; width:10px; height:10px; margin-left:-5px; background-color:#008398; content:"";}
.center_info .genius_intro_bx ol li .intro_text br {display:none;}

.center_info .intro_cont_wrap {overflow:hidden; margin-bottom:-30px; padding:20px 0; border-top:3px solid #333; border-bottom:1px solid #333;}
.center_info .intro_cont_wrap .intro_cont {display:table; width:100%; padding-bottom:20PX; table-layout:fixed;}
.center_info .intro_cont_wrap .intro_cont_img {display:table-cell; height:240px; padding-right:40px; background-repeat:no-repeat; background-position-y:center; background-size:91.11%; line-height:0; vertical-align:middle;}
.center_info .intro_cont_wrap.elite .intro_cont_img {background-image:url(../img/bg/bg_genius_intro_01.jpg);}
.center_info .intro_cont_wrap.science .intro_cont_img {background-image:url(../img/bg/bg_genius_intro_02.jpg);}
.center_info .intro_cont_wrap .intro_cont_text {display:table-cell; width:50%; vertical-align:middle;}
.center_info .intro_cont_wrap .intro_cont_text p {margin-bottom:25px; font-family:"Nanum Gothic"; font-size:16px; line-height:1.75em; color:#333;} 
.center_info .intro_cont_wrap .intro_cont_text p:last-child {margin-bottom:0;}
.center_info .color_green {color:#008398;}
.center_info .intro_cont_wrap .cont_step {padding:45px 0 65px; border:1px solid #ddd; text-align:center;}
.center_info .intro_cont_wrap .cont_step strong {display:inline-block; position:relative; margin-bottom:40px; font-family:"Nanum Square"; font-size:24px; font-weight:700; line-height:1.5em; color:#333;}
.center_info .intro_cont_wrap .cont_step strong:before {position:absolute; top:50%; left:-5px; z-index:-1; width:calc(100% + 10px); height:16px; margin-top:-8px; content:"";}
.center_info .intro_cont_wrap.elite .cont_step strong:before {background:#bbe5eb;}
.center_info .intro_cont_wrap.science .cont_step strong:before {background:#e8facd;}
.center_info .intro_cont_wrap .cont_step img {display:block; max-height:154px; margin:0 auto;}

.center_info .map_wrap {margin-top:20px;}
.center_info .map_wrap:after {content:""; display:block; clear:both;}
.center_info .map_wrap .map {float:left; position:relative; width:390px; height:466px; margin-right:40px; background:url(../img/bg/bg_maparea_school.png) no-repeat top right; margin-top:-20px;}

.center_info .map_wrap .data {float:left; width:calc(100% - 430px);}
.center_info .map_wrap .data table th,.center_info .map_wrap .data table td {padding:8px 5px;}
.center_info .map_wrap .data table tr th:first-child {border-width:1px;}
.center_info .map_wrap .data table tfoot {border-top:2px solid #cdcdcd; }
.center_info .map_wrap .data table tfoot th,.center_info .map_wrap .data table tfoot td {border-bottom:1px solid #333;}
.center_info .map_wrap .data table tfoot td {font-weight:700; color:#ff8a00;}

@media screen and (max-width:1024px) {
    .center_info .genius_intro_bx {padding-top:30px;}
    .center_info .genius_intro_bx:after {top:134px;}
    .center_info .genius_intro_bx ol li {padding-top:105px;}
    .center_info .genius_intro_bx ol li:before {width:80px; height:75px;}
    .center_info .genius_intro_bx ol li:after {bottom:31px;}
    .center_info .genius_intro_bx ol li .intro_text {padding-top:15px; font-size:16px;}

    .center_info .intro_cont_wrap {padding:15px 0;}
    .center_info .intro_cont_wrap .intro_cont {display:block;}
    .center_info .intro_cont_wrap .intro_cont_img {display:block; margin-bottom:30px; background-size:450px 240px; background-position:center;}
    .center_info .intro_cont_wrap .intro_cont_text {display:block; width:100%;}
    .center_info .intro_cont_wrap .intro_cont_text p {margin-bottom:1.6em; font-size:14px; line-height:1.6em;}
    .center_info .intro_cont_wrap .cont_step {padding:30px 0;}
    .center_info .intro_cont_wrap .cont_step strong {margin-bottom:30px; font-size:22px;}

    .center_info .map_wrap {margin:0;}
    .center_info .map_wrap .map {float:none; height:233px; margin:0 auto; background-position:center; background-size:contain;}
    .center_info .map_wrap .data {float:none; width:100%; margin-top:30px;}
    .center_info .map_wrap .data .data_table:before {display:none;}
}

@media screen and (max-width:599px) {
    .center_info .intro_cont_wrap .intro_cont_img {margin-bottom:15px; background-size:cover;}
    .center_info .genius_intro_bx ol li:before {bottom:auto; top:0;}
    .center_info .genius_intro_bx ol li:after {bottom:47px;}
    .center_info .genius_intro_bx ol li .intro_text {font-size:14px; line-height:20px;}
    .center_info .genius_intro_bx ol li .intro_text br {display:block;}

    .center_info .intro_cont_wrap .intro_cont_text p {font-size:12px;}
    .center_info .intro_cont_wrap .cont_step {padding:15px;}
    .center_info .intro_cont_wrap .cont_step strong {margin-bottom:15px; font-size:18px;}
    .center_info .intro_cont_wrap .cont_step img {max-height:77px;}
}

/* 검색결과 */
.search .keyword {color:#00687f; font-family:inherit;}
.search .search_wrap {min-width:520px; margin-top:40px; margin-bottom:10px; padding-right:120px; border:3px solid #00687f; border-right:0;}
.search .search_wrap input[type="text"] {height:42px; padding:0 18px; border:0; font-size:16px; line-height:42px;}
.search .search_wrap button {top:0; right:0; width:120px; height:42px; background:#00687f; line-height:42px; text-indent:0;}
.search .search_wrap button:before,.search .search_wrap button:after {display:none;}
.search .search_wrap button span {font-family:"Nanum Square"; font-size:18px; font-weight:700; color:#fff;}
.search .sub_tit_wrap {text-align:left;}
.search .sub_tit_wrap:after {left:0; margin-left:0;}
.search .sub_tit_wrap .keyword:before,.search .sub_tit_wrap .keyword:after {content:"'";}
.search .result_wrap {position:relative; margin-bottom:60px;}
.search .result_wrap:last-child {margin-bottom:0;}
.search .result_wrap h4 {margin-top:-4px; margin-bottom:15px; font-family:"Nanum Square"; font-size:20px; font-weight:700; line-height:28px;}
.search .result_wrap .board_list {border-top:2px solid #333;}
.search .result_wrap .board_list table strong {color:#333;}
.search .result_wrap .board_list table thead {display:none;}
.search .result_wrap .board_list table tbody tr td {padding:17px 30px; background:none; text-align:left; transition:none;}
.search .result_wrap .board_list table tbody tr td.tit {padding:17px 0;}
.search .result_wrap .board_list table tbody tr td.date {color:rgba(100,111,114,0.6); text-align:right;}
.search .result_wrap .gallery strong {color:#333;}
.search .result_wrap .more {position:absolute; top:0; right:0; padding-right:15px; font-size:12px; line-height:28px; transition:all 0.5s;}
.search .result_wrap .more:hover {color:#00687f;}
.search .result_wrap .more:after {position:absolute; top:10px; right:0; width:8px; height:8px; border:1px solid #333; border-bottom:0; border-left:0; transform:rotate(45deg); transition:all 0.5s; content:"";}
.search .result_wrap .more:hover:after {right:-3px; border-color:#00687f;}

@media screen and (max-width:1024px) {
    .search .search_wrap {margin:0; margin-top:30px; padding-right:100px;}
    .search .search_wrap input[type="text"] {height:34px; padding:0 15px; border:0; font-size:16px; line-height:34px; font-size:14px;}
    .search .search_wrap button {line-height:34px; width:100px; height:34px;}
    .search .search_wrap button span {font-size:16px;}
    .search .result_wrap {margin-bottom:30px;}
    .search .result_wrap h4 {font-size:18px;}
    .search .result_wrap .board_list {border:0;}
    .search .result_wrap .board_list table tbody tr td {padding:0;}
    .search .result_wrap .board_list table tbody tr td.cate {display:inline-block; width:auto; padding:3px 10px; background:#00687f; font-family:"Nanum Square"; font-size:16px; color:#fff;}
    .search .result_wrap .board_list table tbody tr td.tit {padding:15px 0;}
    .search .result_wrap .board_list table tbody tr td.date {color:#333; text-align:left;}
}

@media screen and (max-width:599px) {
    .search .search_wrap {width:100%; min-width:0; margin-top:15px; padding-right:80px;}
    .search .search_wrap button {width:80px;}
    .search .search_wrap button span {font-size:14px;}
}

/* 개인정보처리방침, 이용약관, 이메일무단수집거부 */
.term_wrap {margin-top:5px; text-align:left;}
.term_wrap .term_tit {margin-top:40px; margin-bottom:10px; font-family:"Nanum Square"; font-size:18px; font-weight:700; line-height:1.6em;}
.term_wrap li .term_tit {font-weight:400;}
.term_wrap .term_txt {font-size:14px; line-height:1.7em;}
.term_wrap .term_txt + .term_txt {margin-top:25px;}
.term_wrap li .term_txt {margin-top:25px;}
.term_wrap ul li {padding:0.15em 0; font-size:14px; line-height:1.7em;}
.term_wrap ul.sub {margin:25px 0;}
.term_wrap ul.sub.last {margin:0; margin-top:25px;}
.term_wrap ul.inner > li {margin:25px 0;}
.term_wrap ul.inner .inner_list {margin-top:15px;}
.term_wrap .notice {margin-top:15px;}

.term_wrap.term li .term_tit {font-weight:700;}
.term_wrap.term li .term_txt {margin-top:0;}

.term_wrap.email .term_txt {margin-top:45px;}

/* 사이트맵 */
.sitemap_list {margin-top:50px; border-top:3px solid #333; text-align:left;}
.sitemap_list ul:after,.sitemap_list li:after {display:block; clear:both; content:"";}
.sitemap_list .menu_1depth > li {padding:12px 0; border-bottom:1px solid #cdcdcd; line-height:0;}
.sitemap_list .menu_1depth > li > a {display:block; float:left; margin:6px 0; padding-left:20px; font-family:"Nanum Square"; font-size:20px; font-weight:700; line-height:28px; color:#008398;}
.sitemap_list .menu_2depth {margin:0 -42px; padding-left:220px;}
.sitemap_list .menu_2depth > li {float:left; margin:0 42px;}
.sitemap_list .menu_2depth.junior {margin:0 -32px;}
.sitemap_list .menu_2depth.junior > li {margin:0 32px;}
.sitemap_list .menu_2depth.elite {margin:0 -27px;}
.sitemap_list .menu_2depth.elite > li {margin:0 27px;}
.sitemap_list .menu_2depth > li > a {display:block; margin:6px 0; font-family:"Nanum Square"; font-size:18px; font-weight:700; line-height:28px; color:#333;}
.sitemap_list .menu_3depth > li {padding:6px 0;}
.sitemap_list .menu_3depth > li > a {position:relative; padding-left:10px; font-size:14px; line-height:20px; color:#333;}
.sitemap_list .menu_3depth > li > a:before {position:absolute; top:6px; left:0; width:4px; height:4px; background:#333; content:"";}

@media screen and (max-width:1024px) {
    .sitemap_list .menu_1depth > li > a {margin:0; font-size:18px;}
    .sitemap_list .menu_2depth {margin:0 -15px !important; padding-left:160px;}
    .sitemap_list .menu_2depth > li {margin:0 15px !important;}
    .sitemap_list .menu_2depth > li > a {margin:0; font-size:16px;}
    .sitemap_list .menu_3depth {margin:5px 0;}
    .sitemap_list .menu_3depth > li {padding:3px 0;}
}

@media screen and (max-width:599px) {
    .sitemap_list a {text-align:center;}
    .sitemap_list .menu_1depth > li > a {float:none; padding:0; font-size:16px; line-height:1.6em; margin-bottom:8px;}
    .sitemap_list .menu_2depth {padding-left:0;}
    .sitemap_list .menu_2depth > li > a {font-size:14px; line-height:1.8em;}
    .sitemap_list .menu_2depth > li {float:none;}
    .sitemap_list .menu_3depth {margin:8px 0;}
    .sitemap_list .menu_3depth > li {padding:0; text-align:center;}
    .sitemap_list .menu_3depth > li > a {display:inline-block; font-size:12px; line-height:1.6em;}
    .sitemap_list .menu_3depth > li > a:before {top:7px;}
}
