/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {margin:0; padding:0; border:0; font-size:100%; vertical-align:baseline;}

/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display:block;}
body {line-height:1;}
ol,ul {list-style:none;}
blockquote,q {quotes:none;}
blockquote:before,blockquote:after,q:before,q:after {content:""; content:none;}
table {border-spacing:0; border-collapse:collapse;}
button {outline:0; cursor:pointer;}

/* Guide Common */
* {box-sizing:border-box; max-height:1000000px; font-family:"Noto Sans", "AppleSDGothicNeo", "DroidSansFallback", arial, sans-serif; color:#333; letter-spacing:-0.025em;}
html,body {height:100%;}

/* Layout */
header {position:fixed; top:0; left:0; z-index:1; box-sizing:border-box; width:100%; height:50px; border-bottom:1px solid #ccc; background:#efefef;}
header h1 {position:absolute; top:10px; left:10px;}
header h1 img {max-height:30px;}
nav ul {position:absolute; top:15px; right:10px; text-align:center;}
nav ul li {display:inline-block; padding:0 10px; border-left:1px solid #ccc;}
nav ul li:first-child {border-left:0;}
nav ul li a {display:inline-block; font-size:16px; font-weight:700; line-height:20px; text-decoration:none;}
section {position:fixed; top:0; left:0; width:100%; height:100%; padding-top:50px;}
section iframe {width:100%; height:100%;}

/* Guide */
.guide_wrap {padding:10px;}
.guide_wrap .tit {margin-bottom:5px; font-size:16px; font-weight:700; line-height:1.5;}
.guide_wrap a {text-decoration:none;}
.guide_wrap > ul {margin-bottom:15px;}
.guide_wrap > ul > li {padding-left:9px; font-size:14px; line-height:1.5; color:#999; text-indent:-9px;}
.guide_wrap > ul > li:before {margin-right:5px; content:"-";}
.directory {margin-bottom:15px; padding:10px; background:#eee;}
.directory em {display:inline-block; margin-bottom:5px; font-size:14px; font-style:normal; line-height:1.5;}
.directory ul li {font-size:12px; line-height:1.5; color:#333;}
.directory ul > li > ul li {padding-left:12px; color:#666; text-indent:-12px;}
.directory ul > li > ul li:before {margin-right:5px; content:"├";}
.directory ul > li > ul li:last-child:before {content:"└";}
pre {margin-bottom:10px; font-size:12px; line-height:1.5;}

/* Viewer */
.viewer {overflow:hidden; padding:10px; font-size:14px; line-height:1.6em;}
.viewer .ctr {position:fixed; left:0; top:0; width:300px; padding:10px;}
.viewer .warning strong {color:red;}
.viewer .opt_list {overflow:hidden; margin:0 -5px; margin-top:10px; font-size:0;}
.viewer .opt_list li {float:left; margin:0 5px;}
.viewer .opt_list li button {width:50px; height:50px; text-indent:-9999px;}
.viewer .opt_list li.mobile button {background:url(icon_mobile.gif);}
.viewer .opt_list li.tablet button {background:url(icon_tab.gif);}
.canvas_wrap {margin:0 auto; transform-origin:top; transition:all 0.1s;}
.canvas_wrap.mobile {width:434px; height:886px; padding:183px 29px 149px 30px; background:url(bg_mobile.png);} /* IPhone 6 */
.canvas_wrap.tablet {width:860px; height:1296px; padding:201px 45px 135px 47px; background:url(bg_tablet.png);} /* IPad Mini */
#canvas {overflow-x:hidden; transition:all 0.1s;}
.canvas_wrap.mobile #canvas {width:375px; height:554px;}
.canvas_wrap.tablet #canvas {width:768px; height:960px;}
.slider_wrap {margin-top:30px;}
#slider {position:relative; width:calc(100% - 10px); height:10px; margin:10px auto;}
#slider:before {position:absolute; top:50%; width:100%; height:2px; margin-top:-1px; background:#eee; content:"";}
#slider span {display:inline-block; position:absolute; width:10px; height:10px; margin-left:-5px; border-radius:50%; background:red;}

/* Map */
.map_wrap {padding:10px;}
.map_wrap .tit {font-size:16px; font-weight:700; line-height:1.5;}
.map_wrap .info {overflow:hidden; margin:10px 0 5px 0; font-size:12px;}
.map_wrap .info .process {overflow:hidden; float:left; line-height:20px;}
.map_wrap .info .process dt,.map_wrap .info .process dd {float:left; margin-right:5px;}
.map_wrap .info .process dd {color:red;}
.map_wrap .info .status {overflow:hidden; float:right;}
.map_wrap .info .status li {float:left; margin-left:3px;}
.map_wrap .info .status li em {margin-right:3px;}
table.list {width:100%; border-top:1px solid #999; border-bottom:1px solid #999; font-size:0; word-break:break-all; table-layout:fixed;}
table.list th,table.list td {overflow:hidden; padding:5px; border-top:1px solid #eee; border-left:1px solid #ccc; font-size:12px; line-height:20px; text-overflow:ellipsis; white-space:nowrap;}
table.list th {border-top:1px solid #999; border-left:1px solid #999;}
table.list td a {color:#666; text-decoration:none;}
table.list tr.hover td {background:#999; color:#fff;}
table.list tr.part td {border-top:1px solid #ccc;}
table.list tr th:first-child,table.list tr td:first-child {border-left:0;}
table.list tr:first-child td {border-top:1px solid #999;}
table.list th {background:#ccc; font-weight:700;}
table.list th.num {width:40px;}
table.list th.id {width:150px;}
table.list th.dev {width:50px;}
table.list th.stat,
table.list th.date {width:50px;}
table.list th.memo {width:20%;}
table.list th.link {width:80px;}
table.list td {color:#666;}
table.list td.center {text-align:center;}
table.list td a {display:inline-block; height:20px; margin:0 2px; background-size:100%; text-indent:-9999px;}
table.list td a.pc {width:23px; background-image:url(icon_pcview.png);}
table.list td a.mobile {width:13px; background-image:url(icon_moview.png);}
em.ico {display:inline-block; width:20px; border-radius:5px; font-size:12px; font-style:normal; line-height:20px; color:#fff; text-align:center; text-transform:uppercase;}
em.ico.standby {background:#666;}
em.ico.work {background:#1e90ff;}
em.ico.end {background:#32cd32;}
em.ico.modify {background:#ff1493;}

@media (max-width:1024px) {
    header {text-align:center;}
	header h1 {position:static;}
	header {height:auto; padding:10px 0; font-size:0;}
	nav {overflow-x:auto; width:100%;}
	nav ul {position:static; margin-top:10px; white-space:nowrap;}
	nav ul li a {font-size:14px; line-height:19px;}
    section {position:static; padding-top:80px; font-size:0;}
	.guide_wrap > ul > li {padding-left:8px; font-size:12px; text-indent:-8px;}
	.slide_wrap {position:static; height:auto; border:0; background:#fff;}
	.map_wrap .info {padding:5px;}
    .map_wrap .tit {text-align:center;}
    table.list th.num,
    table.list th.id,
    table.list th.dev,
    table.list th.date,
    table.list th.memo,
    table.list tr td:nth-child(1),
    table.list tr td:nth-child(6),
    table.list tr td:nth-child(7),
    table.list tr td:nth-child(9),
    table.list tr td:nth-child(10) {width:0; padding:0; border:0;}
    table.list th.link {width:40px;}
    table.list td a.mobile {display:none;}
    table.list thead tr th:nth-child(2),
    table.list tbody tr td:nth-child(2) {border-left:0;}
}

@media (max-width:599px) {
    table.list th.stat {width:40px;}
    table.list th, table.list td {font-size:11px;}
}