/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {margin:0; padding:0; border:0; font-size:100%; vertical-align:baseline;}

/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display:block;}
body {line-height:1;}
ol,ul {list-style:none;}
blockquote,q {quotes:none;}
blockquote:before,blockquote:after,q:before,q:after {content:""; content:none;}
table {border-spacing:0; border-collapse:collapse;}
button {outline:0; cursor:pointer;}

/* Guide Common */
* {box-sizing:border-box; max-height:1000000px; font-family:"Noto Sans", "AppleSDGothicNeo", "DroidSansFallback", arial, sans-serif; color:#333; letter-spacing:-0.025em;}
html,body {height:100%;}

/* Layout */
header {position:fixed; top:0; left:0; z-index:1; box-sizing:border-box; width:100%; height:50px; border-bottom:1px solid #ccc; background:#efefef;}
header h1 {position:absolute; top:10px; left:10px;}
header h1 img {max-height:30px;}
nav ul {position:absolute; top:15px; right:10px; text-align:center;}
nav ul li {display:inline-block; padding:0 10px; border-left:1px solid #ccc;}
nav ul li:first-child {border-left:0;}
nav ul li a {display:inline-block; font-size:16px; font-weight:700; line-height:20px; text-decoration:none;}
section {position:fixed; top:0; left:0; width:100%; height:100%; padding-top:50px;}
section iframe {width:100%; height:100%;}

/* Guide */
.guide_wrap {padding:10px;}
.guide_wrap .tit {margin-bottom:5px; font-size:16px; font-weight:700; line-height:1.5;}
.guide_wrap a {text-decoration:none;}
.guide_wrap > ul {margin-bottom:15px;}
.guide_wrap > ul > li {padding-left:9px; font-size:14px; line-height:1.5; color:#999; text-indent:-9px;}
.guide_wrap > ul > li:before {margin-right:5px; content:"-";}
.directory {margin-bottom:15px; padding:10px; background:#eee;}
.directory em {display:inline-block; margin-bottom:5px; font-size:14px; font-style:normal; line-height:1.5;}
.directory ul li {font-size:12px; line-height:1.5; color:#333;}
.directory ul > li > ul li {padding-left:12px; color:#666; text-indent:-12px;}
.directory ul > li > ul li:before {margin-right:5px; content:"├";}
.directory ul > li > ul li:last-child:before {content:"└";}
pre {margin-bottom:10px; font-size:12px; line-height:1.5;}

/* Viewer */
.viewer {padding:10px; text-align:center;}
.viewer .warning {font-size:14px; line-height:1.6em; color:red;}
.viewer .opt_list {margin-top:10px; font-size:0; text-align:center;}
.viewer .opt_list li {display:inline-block; margin:0 5px;}
.viewer .opt_list li button {width:50px; height:50px; text-indent:-9999px;}
.viewer .opt_list li.mobile button {background:url(icon_mobile.gif);}
.viewer .opt_list li.tablet button {background:url(icon_tab.gif);}
.canvas_wrap {width:395px; height:774px; margin:0 auto; padding:171px 37px 147px 38px; background:url(bg_mobile.png); transition:all 0.5s;}
#canvas {overflow-x:hidden; width:320px; height:454px;}


/* Map */
.map_wrap {padding:10px;}
.map_wrap .tit {font-size:16px; font-weight:700; line-height:1.5;}
.map_wrap .info {overflow:hidden; margin:10px 0 5px 0; font-size:12px;}
.map_wrap .info .process {overflow:hidden; float:left; line-height:20px;}
.map_wrap .info .process dt,.map_wrap .info .process dd {float:left; margin-right:5px;}
.map_wrap .info .process dd {color:red;}
.map_wrap .info .status {overflow:hidden; float:right;}
.map_wrap .info .status li {float:left; margin-left:5px;}
.map_wrap .info .status li em {margin-right:5px;}
.table_wrap {overflow-x:auto;}
table.list {width:100%; min-width:1280px; border-top:1px solid #999; border-bottom:1px solid #999; font-size:0; word-break:break-all; table-layout:fixed;}
table.list th,table.list td {overflow:hidden; padding:5px; border-top:1px solid #eee; border-left:1px solid #ccc; font-size:12px; line-height:20px; text-overflow:ellipsis; white-space:nowrap;}
table.list th {border-top:1px solid #999; border-left:1px solid #999;}
table.list td a {color:#666; text-decoration:none;}
table.list tr.hover td,table.list tr.hover td a {background:#999; color:#fff;}
table.list tr.part td {border-top:1px solid #ccc;}
table.list tr th:first-child,table.list tr td:first-child {border-left:0;}
table.list tr:first-child td {border-top:1px solid #999;}
table.list th {background:#ccc; font-weight:700;}
table.list th.num {width:40px;}
table.list th.id {width:110px;}
table.list th.dev {width:50px;}
table.list th.stat,table.list th.date {width:50px;}
table.list th.memo {width:30%;}
table.list th.link {width:80px;}
table.list td {color:#666;}
table.list td.center {text-align:center;}
em.ico {display:inline-block; width:20px; border-radius:5px; font-size:12px; font-style:normal; line-height:20px; color:#fff; text-align:center; text-transform:uppercase;}
em.ico.standby {background:#666;}
em.ico.work {background:#1e90ff;}
em.ico.end {background:#32cd32;}
em.ico.modify {background:#ff1493;}

@media only screen and (max-width:1280px) {

    @-webkit-keyframes scroll_txt {
        0% {-webkit-transform:translateX(0px);transform:translateX(0px);}
        50% {-webkit-transform:translateX(10px);transform:translateX(10px);}
        100% {-webkit-transform:translateX(0);transform:translateX(0);}
    }
    
    @keyframes scroll_txt {
        0% {-webkit-transform:translateX(0px);transform:translateX(0px);}
        50% {-webkit-transform:translateX(10px);transform:translateX(10px);}
        100% {-webkit-transform:translateX(0);transform:translateX(0);}
    }
    
    .table_wrap:before {display:inline-block; margin-bottom:5px; font-size:12px; line-height:1.5em; color:red; -webkit-animation:scroll_txt 1s linear infinite; animation:scroll_txt 1s linear infinite; content:"↔︎ 좌우로 스크롤하여 확인하세요.";}
}


@media only screen and (max-width:1024px) {
    header {text-align:center;}
	header h1 {position:static;}
	header {height:auto; padding:10px 0; font-size:0;}
	nav {overflow-x:auto; width:100%;}
	nav ul {position:static; margin-top:10px; white-space:nowrap;}
	nav ul li a {font-size:14px; line-height:19px;}
    section {position:static; padding-top:80px; overflow:hidden;}
	.guide_wrap > ul > li {padding-left:8px; font-size:12px; text-indent:-8px;}
	.slide_wrap {position:static; height:auto; border:0; background:#fff;}
	.map_wrap .info {padding:5px;}
	.map_wrap .tit {text-align:center;}
}